{"openapi":"3.1.0","info":{"title":"Polymarket API","description":"RESTful API for querying Polymarket prediction markets data including events, markets, traders, holders, and real-time metrics","license":{"name":""},"version":"1.0.0"},"servers":[{"url":"https://api.struct.to/v1","description":"Production"}],"paths":{"/polymarket/asset-history":{"get":{"tags":["Assets"],"summary":"Get Asset Price History","description":"Returns historical price data for supported crypto assets from Polymarket API","operationId":"get_asset_history","parameters":[{"name":"asset_symbol","in":"query","description":"Asset ticker: BTC, ETH, XRP, SOL, DOGE, BNB, HYPE","required":true,"schema":{"$ref":"#/components/schemas/AssetSymbol"},"example":"BTC"},{"name":"variant","in":"query","description":"Time window: 5m, 15m, 1h, 4h, 1d","required":true,"schema":{"$ref":"#/components/schemas/AssetVariant"},"example":"1h"},{"name":"from","in":"query","description":"Start timestamp in seconds (Unix epoch, inclusive)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp in seconds (Unix epoch, inclusive)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"Number of results (default: 10, max: 100)","required":false,"schema":{"type":"integer","format":"int64"},"example":10},{"name":"pagination_key","in":"query","description":"Cursor from previous response for keyset pagination. Pass the pagination_key from the previous page to fetch the next page.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetPriceHistoryRow"}}}}},"400":{"description":"Bad request - missing or invalid parameters"},"500":{"description":"Internal server error"}}}},"/polymarket/events":{"get":{"tags":["Events"],"summary":"Get events","description":"Retrieve a paginated list of events with filtering, sorting, and optional nested tags/markets","operationId":"get_events","parameters":[{"name":"id","in":"query","description":"Filter by event ID(s) - comma-separated (max 50). Cannot be used with 'event_slugs'. Example: id=99600,99601,99583","required":false,"schema":{"type":"string"}},{"name":"event_slugs","in":"query","description":"Filter by event slug(s) - comma-separated (max 50). Cannot be used with 'id'. Example: event_slugs=will-trump-win,bitcoin-100k","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"Search in title and description (3-100 characters). Example: search=trump","required":false,"schema":{"type":"string"}},{"name":"sort_by","in":"query","description":"Sort: volume, txns, unique_traders, title, creation_date, start_date, end_date, relevance (relevance only works in search mode) (default: volume)","required":false,"schema":{"$ref":"#/components/schemas/EventSortBy"}},{"name":"sort_dir","in":"query","description":"Sort direction: asc, desc (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"timeframe","in":"query","description":"Metrics timeframe: 1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d (default: 24h)","required":false,"schema":{"$ref":"#/components/schemas/MetricsTimeframe"}},{"name":"status","in":"query","description":"Filter by status: open, closed, or all (default: all)","required":false,"schema":{"$ref":"#/components/schemas/MarketStatus"}},{"name":"categories","in":"query","description":"Comma-separated category filters","required":false,"schema":{"type":"string"}},{"name":"exclude_categories","in":"query","description":"Comma-separated categories to exclude","required":false,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Filter by tag slug(s) - comma-separated (max 50). Example: tags=sports,football,crypto","required":false,"schema":{"type":"string"}},{"name":"exclude_tags","in":"query","description":"Comma-separated tag slugs to exclude","required":false,"schema":{"type":"string"}},{"name":"min_volume","in":"query","description":"Minimum volume in selected timeframe","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_volume","in":"query","description":"Maximum volume in selected timeframe","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_txns","in":"query","description":"Minimum transactions in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"max_txns","in":"query","description":"Maximum transactions in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"min_unique_traders","in":"query","description":"Minimum unique traders in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"max_unique_traders","in":"query","description":"Maximum unique traders in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_markets","in":"query","description":"Include markets array with outcomes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include metrics object with all timeframes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 100)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"List of Polymarket events with nested tags, markets, and series. Response includes `pagination: { has_more, pagination_key }` for cursor-based pagination.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolymarketEvent"}}}}},"400":{"description":"Bad request - validation error (search length, array limits, conflicting params)"}}}},"/polymarket/events/chart":{"get":{"tags":["Events"],"summary":"Get event chart","description":"Retrieve price data over time for up to 4 markets with highest YES outcome (outcome_index 0) prices in an event. Perfect for rendering multi-line charts showing price movement across top markets. TradingView-style: resolution parameter determines both candle size and implicit lookback period.","operationId":"get_event_chart","parameters":[{"name":"event_slug","in":"query","description":"Event slug (required)","required":true,"schema":{"type":"string"}},{"name":"condition_ids","in":"query","description":"Comma-separated condition IDs to include (max 4, optional)","required":false,"schema":{"type":"string"}},{"name":"market_slugs","in":"query","description":"Comma-separated market slugs to include (max 4, optional). Use either condition_ids or market_slugs, not both","required":false,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Time interval with implicit lookback: 1H (1 hour), 6H (6 hours), 1D (1 day), 1W (1 week), 1M (30 days), ALL (all data) (required)","required":true,"schema":{"type":"string","enum":["1H","6H","1D","1W","1M","ALL"]}}],"responses":{"200":{"description":"Price data over time for up to 4 markets with highest YES odds","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventMarketChartOutcome"}}}}}}}},"/polymarket/events/metrics":{"get":{"tags":["Events"],"summary":"Get event metrics","description":"Retrieve volume, transaction, and trader metrics for an event. Supports single timeframe (e.g., '1m'), multiple timeframes (e.g., '1m,5m,1h'), or 'all' to get all available timeframes.","operationId":"get_event_metrics","parameters":[{"name":"event_slug","in":"query","description":"Event slug","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: single (1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d), comma-separated (1m,5m,1h), or 'all'","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Event metrics. **Note:** returns a single object for one timeframe, or an array of objects for comma-separated timeframes or 'all'.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventMetricsResponse"}}}}},"400":{"description":"Invalid timeframe"}}}},"/polymarket/events/outcomes":{"get":{"tags":["Events"],"summary":"Get event market outcomes","description":"Returns the winning outcome name for each resolved market in an event, keyed by market slug. Useful for quickly checking which outcomes won across a series.","operationId":"get_event_outcomes","parameters":[{"name":"event_slug","in":"query","description":"Event slug (required)","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of resolved markets per page (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key for fetching next page","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Map of market_slug → winning outcome name with pagination metadata","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"propertyNames":{"type":"string"}}}}},"400":{"description":"Missing event_slug parameter"}}}},"/polymarket/events/slug/{event_slug}":{"get":{"tags":["Events"],"summary":"Get event by slug","description":"Retrieve a single event by its slug with optional nested tags, markets, and metrics","operationId":"get_event_by_slug","parameters":[{"name":"event_slug","in":"path","description":"Event slug","required":true,"schema":{"type":"string"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_markets","in":"query","description":"Include markets array with outcomes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include metrics object with all timeframes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Event with nested tags, markets, and series","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolymarketEvent"}}}},"404":{"description":"Event not found"}}}},"/polymarket/events/{identifier}":{"get":{"tags":["Events"],"summary":"Get event by ID or slug","description":"Retrieve a single event by its numeric ID or slug with optional nested tags, markets, and metrics","operationId":"get_event","parameters":[{"name":"identifier","in":"path","description":"Event ID or slug","required":true,"schema":{"type":"string"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_markets","in":"query","description":"Include markets array with outcomes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include metrics object with all timeframes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Event with nested tags, markets, and series","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolymarketEvent"}}}},"404":{"description":"Event not found"}}}},"/polymarket/holders/markets":{"get":{"tags":["Holders"],"summary":"Get market holders","description":"Retrieve holders of a market grouped by outcome, sorted by shares held. Identify the market with either `condition_id` or `market_slug` — exactly one must be provided. Set `include_pnl=true` to include a nested holder `pnl` object.","operationId":"get_market_holders","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID (0x-prefixed hex)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (e.g. `will-trump-win`)","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 100)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"min_shares","in":"query","description":"Minimum shares held (decimal string)","required":false,"schema":{"type":"string"}},{"name":"max_shares","in":"query","description":"Maximum shares held (decimal string)","required":false,"schema":{"type":"string"}},{"name":"include_pnl","in":"query","description":"Include nested holder PnL data (default: false, +1 credit)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Market holders grouped by outcome (sorted by shares DESC). Holder `pnl` is included only when `include_pnl=true`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketHoldersResponse"}}}},"404":{"description":"Market not found"}}}},"/polymarket/holders/markets/history":{"get":{"tags":["Holders"],"summary":"Get market holders history","description":"Retrieve historical holder count snapshots for a market over a time range. Identify the market with either `condition_id` or `market_slug` — exactly one must be provided.","operationId":"get_market_holders_history","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID (0x-prefixed hex)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (e.g. `will-trump-win`)","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds). If omitted, derived from `hours` param.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds). Defaults to now.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"count_back","in":"query","description":"Number of candles to return (default: 500, max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"hours","in":"query","description":"Fallback time range in hours when `from`/`to` are not provided (default: 24, max: 336 = 14 days)","required":false,"schema":{"type":"number","format":"double"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Market holder count history with automatic granularity (1m/5m/15m/1h/6h buckets)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HolderHistoryCandle"}}}}},"404":{"description":"Market not found"}}}},"/polymarket/holders/positions/{position_id}":{"get":{"tags":["Holders"],"summary":"Get position holders","description":"Retrieve holders of a specific position (ERC1155 token), sorted by shares held. Set `include_pnl=true` to include nested holder PnL. Uses cursor-based pagination for efficient traversal.","operationId":"get_position_holders","parameters":[{"name":"position_id","in":"path","description":"Position ID (ERC1155 token ID)","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 100)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}},{"name":"min_shares","in":"query","description":"Minimum shares held (decimal string)","required":false,"schema":{"type":"string"}},{"name":"max_shares","in":"query","description":"Maximum shares held (decimal string)","required":false,"schema":{"type":"string"}},{"name":"include_pnl","in":"query","description":"Include nested holder PnL data (default: false, +1 credit)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Position holders (sorted by shares DESC). Holder `pnl` is included only when `include_pnl=true`. Response includes `pagination: { has_more, pagination_key }` for cursor-based pagination.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PositionHoldersResponse"}}}},"404":{"description":"Position not found"}}}},"/polymarket/holders/positions/{position_id}/history":{"get":{"tags":["Holders"],"summary":"Get position holders history","description":"Retrieve historical holder count snapshots for a position over a time range","operationId":"get_position_holders_history","parameters":[{"name":"position_id","in":"path","description":"Position ID (ERC1155 token ID)","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds). If omitted, derived from `hours` param.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds). Defaults to now.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"count_back","in":"query","description":"Number of candles to return (default: 500, max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"hours","in":"query","description":"Fallback time range in hours when `from`/`to` are not provided (default: 24, max: 336 = 14 days)","required":false,"schema":{"type":"number","format":"double"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Position holder count history with automatic granularity (1m/5m/15m/1h/6h buckets)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HolderHistoryCandle"}}}}},"404":{"description":"Position not found"}}}},"/polymarket/market":{"get":{"tags":["Market"],"summary":"Get markets","description":"Retrieve a paginated list of markets with filtering, sorting, and optional nested tags/events/metrics","operationId":"list_markets","parameters":[{"name":"condition_ids","in":"query","description":"Filter by condition ID(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"question_ids","in":"query","description":"Filter by question ID(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"market_ids","in":"query","description":"Filter by market ID(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"market_slugs","in":"query","description":"Filter by market slug(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"event_slugs","in":"query","description":"Filter by event slug(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"position_ids","in":"query","description":"Filter by position ID(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"Search in title (3-100 characters)","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"Filter by status: open, closed, or all (default: all)","required":false,"schema":{"$ref":"#/components/schemas/MarketStatus"}},{"name":"sort_by","in":"query","description":"Sort: volume, txns, unique_traders, liquidity, holders, total_daily_rate, end_time, start_time, created_time, relevance","required":false,"schema":{"$ref":"#/components/schemas/MarketSortBy"}},{"name":"sort_dir","in":"query","description":"Sort direction: asc, desc (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"timeframe","in":"query","description":"Metrics timeframe: 1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d (default: 24h)","required":false,"schema":{"$ref":"#/components/schemas/MetricsTimeframe"}},{"name":"min_volume","in":"query","description":"Minimum total volume USD","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_volume","in":"query","description":"Maximum total volume USD","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_liquidity","in":"query","description":"Minimum liquidity USD","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_liquidity","in":"query","description":"Maximum liquidity USD","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_txns","in":"query","description":"Minimum transactions in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"max_txns","in":"query","description":"Maximum transactions in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"min_unique_traders","in":"query","description":"Minimum unique traders in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"max_unique_traders","in":"query","description":"Maximum unique traders in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"min_holders","in":"query","description":"Minimum total holders","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"max_holders","in":"query","description":"Maximum total holders","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"categories","in":"query","description":"Comma-separated category filters (max 50)","required":false,"schema":{"type":"string"}},{"name":"exclude_categories","in":"query","description":"Comma-separated categories to exclude","required":false,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Filter by tag(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"exclude_tags","in":"query","description":"Comma-separated tags to exclude","required":false,"schema":{"type":"string"}},{"name":"start_time","in":"query","description":"Filter markets with end_time >= start_time (Unix timestamp)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"end_time","in":"query","description":"Filter markets with end_time <= end_time (Unix timestamp)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_event","in":"query","description":"Include event object (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include all timeframe metrics (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 100)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}},{"name":"has_rewards","in":"query","description":"Only return markets that have CLOB rewards (default: false)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"List of markets with metadata, outcomes, tags, event, and metrics. Response includes `pagination: { has_more, pagination_key }` for cursor-based pagination.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MarketResponse"}}}}},"400":{"description":"Bad request - validation error (search length, array limits, conflicting params)"}}}},"/polymarket/market/bonds":{"get":{"tags":["Bonds"],"summary":"Get bonds","description":"Retrieve bond markets with sorting, probability range filter, and offset pagination","operationId":"get_bonds","parameters":[{"name":"min_probability","in":"query","description":"Minimum probability threshold (default: 0.85)","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_probability","in":"query","description":"Maximum probability threshold (e.g. 0.99)","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_hours","in":"query","description":"Maximum hours until market end","required":false,"schema":{"type":"number","format":"double"}},{"name":"sort_by","in":"query","description":"Sort by: apy, liquidity, volume, end_date (default: end_date)","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of results (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Offset for pagination (default: 0)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"List of bond markets","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BondMarket"}}}}}}}},"/polymarket/market/candlestick":{"get":{"tags":["Market"],"summary":"Get market candlesticks by condition_id","description":"Retrieve OHLCV candlestick data for a market by its condition_id","operationId":"get_market_candlestick","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID (required)","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Candle interval: 1, 5, 15, 30, 60, 240, D, 1D","required":true,"schema":{"$ref":"#/components/schemas/CandlestickResolution"}},{"name":"count_back","in":"query","description":"Number of candles (max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OHLCV candlestick data","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PredictionCandlestickBar"}}}}}}}},"/polymarket/market/chart":{"get":{"tags":["Market"],"summary":"Get market chart","description":"Retrieve price data over time for up to 4 position outcomes in a market condition. TradingView-style: resolution parameter determines both candle size and implicit lookback period. Auto-selects the 4 most active outcomes if position_ids not specified.","operationId":"get_chart","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID or market_slug (one required)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}},{"name":"position_ids","in":"query","description":"Comma-separated list of position IDs (max 4, optional). Auto-selected if not provided","required":false,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Time interval with implicit lookback: 1H (1 hour), 6H (6 hours), 1D (1 day), 1W (1 week), 1M (30 days), ALL (all data) (required)","required":true,"schema":{"type":"string","enum":["1H","6H","1D","1W","1M","ALL"]}}],"responses":{"200":{"description":"Price data over time for up to 4 market outcomes","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PositionChartOutcome"}}}}}}}},"/polymarket/market/metrics":{"get":{"tags":["Market"],"summary":"Get market metrics","description":"Retrieve volume, transaction, and trader metrics for a market. Supports single timeframe (e.g., '1m'), multiple timeframes (e.g., '1m,5m,1h'), or 'all' to get all available timeframes.","operationId":"get_market_metrics","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: single (1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d), comma-separated (1m,5m,1h), or 'all'","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Market metrics. **Note:** returns a single object for one timeframe, or an array of objects for comma-separated timeframes or 'all'.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConditionMetricsResponse"}}}}},"400":{"description":"Invalid timeframe"}}}},"/polymarket/market/position/candlestick":{"get":{"tags":["Market"],"summary":"Get position candlesticks by position_id","description":"Retrieve OHLCV candlestick data for a specific position by its position_id","operationId":"get_position_candlestick","parameters":[{"name":"position_id","in":"query","description":"Position/token ID (required)","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Candle interval: 1, 5, 15, 30, 60, 240, D, 1D","required":true,"schema":{"$ref":"#/components/schemas/CandlestickResolution"}},{"name":"count_back","in":"query","description":"Number of candles (max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OHLCV candlestick data","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PredictionCandlestickBar"}}}}}}}},"/polymarket/market/position/metrics":{"get":{"tags":["Market"],"summary":"Get position metrics","description":"Retrieve volume, transaction, and trader metrics for a specific position. Supports single timeframe (e.g., '1m'), multiple timeframes (e.g., '1m,5m,1h'), or 'all' to get all available timeframes.","operationId":"get_position_metrics","parameters":[{"name":"position_id","in":"query","description":"Position/token ID","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: single (1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d), comma-separated (1m,5m,1h), or 'all'","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Position metrics. **Note:** returns a single object for one timeframe, or an array of objects for comma-separated timeframes or 'all'.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PositionMetricsResponse"}}}}},"400":{"description":"Invalid timeframe"}}}},"/polymarket/market/position/volume-chart":{"get":{"tags":["Market"],"summary":"Get position volume chart","description":"Retrieve volume over time for a specific position with buy/sell breakdown","operationId":"get_position_volume_chart","parameters":[{"name":"position_id","in":"query","description":"Position/token ID (required)","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Time interval: 1, 5, 15, 30, 60, 240, D, 1D (default: 60)","required":false,"schema":{"$ref":"#/components/schemas/CandlestickResolution"}},{"name":"count_back","in":"query","description":"Number of data points (max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Volume with buy/sell breakdown over time","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PositionVolumeDataPoint"}}}}}}}},"/polymarket/market/price-jumps":{"get":{"tags":["Market"],"summary":"Detect price jumps","description":"Scan candles for significant price movements. Returns jumps with from/to timestamps in milliseconds, directly usable as trades API time range parameters to identify traders who traded before or during the movement.","operationId":"get_price_jumps","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID (one of condition_id or market_slug required)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (resolved to condition_id)","required":false,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Candle resolution in minutes: 1, 5, 15, 30, 60, 240 (default: 15)","required":false,"schema":{"type":"string"}},{"name":"min_change_pct","in":"query","description":"Minimum relative percent change to qualify as a jump (default: 10.0)","required":false,"schema":{"type":"number","format":"double"}},{"name":"lookback","in":"query","description":"Number of candles to scan back from now (default: 1440, max: 2500)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Offset in candles from now — window is [now - (lookback + offset) * resolution, now - offset * resolution] (default: 0)","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Price jumps sorted by timestamp descending","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PriceJump"}}}}}}}},"/polymarket/market/slug/{market_slug}":{"get":{"tags":["Market"],"summary":"Get market by slug","description":"Retrieve one or more markets by slug. Supports batch lookups via query params. Returns an array of MarketResponse objects.","operationId":"get_market_by_slug","parameters":[{"name":"market_slug","in":"path","description":"Market slug (e.g. `will-trump-win`)","required":true,"schema":{"type":"string"}},{"name":"condition_ids","in":"query","description":"Comma-separated condition IDs (max 50)","required":false,"schema":{"type":"string"}},{"name":"question_ids","in":"query","description":"Comma-separated question IDs (max 50)","required":false,"schema":{"type":"string"}},{"name":"market_ids","in":"query","description":"Comma-separated market IDs (max 50)","required":false,"schema":{"type":"string"}},{"name":"market_slugs","in":"query","description":"Comma-separated market slugs (max 50)","required":false,"schema":{"type":"string"}},{"name":"event_slugs","in":"query","description":"Comma-separated event slugs (max 50)","required":false,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Comma-separated tag filters (max 50)","required":false,"schema":{"type":"string"}},{"name":"position_ids","in":"query","description":"Comma-separated position IDs to resolve to markets (max 50)","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"Search string (3-100 characters)","required":false,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Metrics timeframe (default: 24h)","required":false,"schema":{"$ref":"#/components/schemas/MetricsTimeframe"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_event","in":"query","description":"Include event object (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include all timeframe metrics (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Array of markets with metadata, outcomes, tags, event, and metrics","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","description":"Formatted market response with structured metrics, tags, outcomes, and event","required":["condition_id","status"],"properties":{"condition_id":{"type":"string"},"id":{"type":["string","null"]},"market_slug":{"type":["string","null"]},"question":{"type":["string","null"]},"title":{"type":["string","null"]},"description":{"type":["string","null"]},"image_url":{"type":["string","null"]},"oracle":{"type":["string","null"]},"status":{"type":"string"},"created_time":{"type":["integer","null"],"format":"int64"},"start_time":{"type":["integer","null"],"format":"int64"},"game_start_time":{"type":["integer","null"],"format":"int64"},"closed_time":{"type":["integer","null"],"format":"int64"},"end_time":{"type":["integer","null"],"format":"int64"},"accepting_orders":{"type":["boolean","null"]},"uma_resolution_status":{"type":["string","null"]},"is_neg_risk":{"type":["boolean","null"]},"market_maker_address":{"type":["string","null"]},"creator":{"type":["string","null"]},"category":{"type":["string","null"]},"volume_usd":{"type":["number","null"],"format":"double"},"liquidity_usd":{"type":["number","null"],"format":"double"},"highest_probability":{"type":["number","null"],"format":"double"},"total_holders":{"type":["integer","null"],"format":"int64"},"total_daily_rate":{"type":["number","null"],"format":"double"},"winning_outcome":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/MarketOutcome"}]},"outcomes":{"type":"array","items":{"$ref":"#/components/schemas/MarketOutcome"}},"clob_rewards":{"type":"array","items":{"$ref":"#/components/schemas/ClobReward"}},"tags":{"type":"array","items":{"type":"string"}},"event_slug":{"type":["string","null"]},"resolution_source":{"type":["string","null"]},"metrics":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/SimpleTimeframeMetrics"},"propertyNames":{"type":"string"}},"relevance_score":{"type":["number","null"],"format":"double"}}}}}}},"404":{"description":"Market not found"}}}},"/polymarket/market/trades":{"get":{"tags":["Market"],"summary":"Get market trades","description":"Retrieve trades for one or more markets, with filtering by trader, side, price, amount, and time range","operationId":"get_market_trades","parameters":[{"name":"condition_ids","in":"query","description":"Comma-separated condition IDs (max 20)","required":false,"schema":{"type":"string"}},{"name":"slugs","in":"query","description":"Comma-separated market slugs","required":false,"schema":{"type":"string"}},{"name":"position_ids","in":"query","description":"Comma-separated position IDs","required":false,"schema":{"type":"string"}},{"name":"traders","in":"query","description":"Comma-separated trader addresses (max 25)","required":false,"schema":{"type":"string"}},{"name":"side","in":"query","description":"Trade side: 0 (Buy), 1 (Sell)","required":false,"schema":{"$ref":"#/components/schemas/TradeSide"}},{"name":"outcome","in":"query","description":"Outcome name filter (e.g. Yes, No)","required":false,"schema":{"type":"string"}},{"name":"outcome_index","in":"query","description":"Outcome index: 0 (Yes), 1 (No)","required":false,"schema":{"$ref":"#/components/schemas/OutcomeIndex"}},{"name":"trade_types","in":"query","description":"Comma-separated trade types: OrderFilled, Redemption, Merge, Split, Cancelled, PositionsConverted, OrdersMatched","required":false,"schema":{"type":"string"}},{"name":"min_usd_amount","in":"query","description":"Min USD amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_usd_amount","in":"query","description":"Max USD amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_shares_amount","in":"query","description":"Min shares amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_shares_amount","in":"query","description":"Max shares amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_price","in":"query","description":"Min price (0.0-1.0)","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_price","in":"query","description":"Max price (0.0-1.0)","required":false,"schema":{"type":"number","format":"double"}},{"name":"from","in":"query","description":"Start timestamp (ms)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (ms)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"all","in":"query","description":"Return all-time trades, not just last 30 days (default: false)","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Results per page (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"offset","in":"query","description":"Pagination offset (number of results to skip). Takes precedence over pagination_key.","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key obtained from previous response's pagination.pagination_key","required":false,"schema":{"type":"string"}},{"name":"sort_desc","in":"query","description":"Sort newest first (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Prediction trades matching filters","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TradeEvent"}}}}}}}},"/polymarket/market/volume-chart":{"get":{"tags":["Market"],"summary":"Get market volume chart","description":"Retrieve volume breakdown by YES/NO outcome over time for a prediction market","operationId":"get_market_volume_chart","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID (or use market_slug)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Time interval: 1, 5, 15, 30, 60, 240, D, 1D (default: 60)","required":false,"schema":{"$ref":"#/components/schemas/CandlestickResolution"}},{"name":"count_back","in":"query","description":"Number of data points (max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Volume breakdown by YES/NO over time","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MarketVolumeDataPoint"}}}}}}}},"/polymarket/market/{condition_id}":{"get":{"tags":["Market"],"summary":"Get market by condition ID","description":"Retrieve one or more markets by condition ID. Supports batch lookups via query params. Returns an array of MarketResponse objects.","operationId":"get_market","parameters":[{"name":"condition_id","in":"path","description":"Market condition ID (0x-prefixed hex)","required":true,"schema":{"type":"string"}},{"name":"condition_ids","in":"query","description":"Comma-separated condition IDs (max 50)","required":false,"schema":{"type":"string"}},{"name":"question_ids","in":"query","description":"Comma-separated question IDs (max 50)","required":false,"schema":{"type":"string"}},{"name":"market_ids","in":"query","description":"Comma-separated market IDs (max 50)","required":false,"schema":{"type":"string"}},{"name":"market_slugs","in":"query","description":"Comma-separated market slugs (max 50)","required":false,"schema":{"type":"string"}},{"name":"event_slugs","in":"query","description":"Comma-separated event slugs (max 50)","required":false,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Comma-separated tag filters (max 50)","required":false,"schema":{"type":"string"}},{"name":"position_ids","in":"query","description":"Comma-separated position IDs to resolve to markets (max 50)","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"Search string (3-100 characters)","required":false,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Metrics timeframe (default: 24h)","required":false,"schema":{"$ref":"#/components/schemas/MetricsTimeframe"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_event","in":"query","description":"Include event object (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include all timeframe metrics (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Array of markets with metadata, outcomes, tags, event, and metrics","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","description":"Formatted market response with structured metrics, tags, outcomes, and event","required":["condition_id","status"],"properties":{"condition_id":{"type":"string"},"id":{"type":["string","null"]},"market_slug":{"type":["string","null"]},"question":{"type":["string","null"]},"title":{"type":["string","null"]},"description":{"type":["string","null"]},"image_url":{"type":["string","null"]},"oracle":{"type":["string","null"]},"status":{"type":"string"},"created_time":{"type":["integer","null"],"format":"int64"},"start_time":{"type":["integer","null"],"format":"int64"},"game_start_time":{"type":["integer","null"],"format":"int64"},"closed_time":{"type":["integer","null"],"format":"int64"},"end_time":{"type":["integer","null"],"format":"int64"},"accepting_orders":{"type":["boolean","null"]},"uma_resolution_status":{"type":["string","null"]},"is_neg_risk":{"type":["boolean","null"]},"market_maker_address":{"type":["string","null"]},"creator":{"type":["string","null"]},"category":{"type":["string","null"]},"volume_usd":{"type":["number","null"],"format":"double"},"liquidity_usd":{"type":["number","null"],"format":"double"},"highest_probability":{"type":["number","null"],"format":"double"},"total_holders":{"type":["integer","null"],"format":"int64"},"total_daily_rate":{"type":["number","null"],"format":"double"},"winning_outcome":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/MarketOutcome"}]},"outcomes":{"type":"array","items":{"$ref":"#/components/schemas/MarketOutcome"}},"clob_rewards":{"type":"array","items":{"$ref":"#/components/schemas/ClobReward"}},"tags":{"type":"array","items":{"type":"string"}},"event_slug":{"type":["string","null"]},"resolution_source":{"type":["string","null"]},"metrics":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/SimpleTimeframeMetrics"},"propertyNames":{"type":"string"}},"relevance_score":{"type":["number","null"],"format":"double"}}}}}}},"404":{"description":"Market not found"}}}},"/polymarket/order-book":{"get":{"tags":["Order Book"],"summary":"Get order book","description":"Returns the latest CLOB orderbook snapshot for a position, including derived metrics (best bid/ask, mid price, spread, liquidity depth). Data is sourced from the real-time Polymarket WebSocket feed. `bids` and `asks` are arrays of `{\"p\": price, \"s\": size}` objects, sorted best-first.","operationId":"get_order_book","parameters":[{"name":"position_id","in":"query","description":"Token ID (position ID) to query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Latest orderbook snapshot. ts is Unix milliseconds.","content":{"application/json":{"schema":{"type":"object","required":["ts","position_id","condition_id","bids","asks","hash"],"properties":{"ts":{"type":"integer","format":"int64"},"position_id":{"type":"string"},"condition_id":{"type":"string"},"bids":{"type":"array","items":{"$ref":"#/components/schemas/OrderbookLevel"}},"asks":{"type":"array","items":{"$ref":"#/components/schemas/OrderbookLevel"}},"hash":{"type":"string"},"best_bid":{"type":["number","null"],"format":"double"},"best_ask":{"type":["number","null"],"format":"double"},"mid_price":{"type":["number","null"],"format":"double"},"spread":{"type":["number","null"],"format":"double"},"bid_liquidity_usd":{"type":["number","null"],"format":"double"},"ask_liquidity_usd":{"type":["number","null"],"format":"double"},"bid_levels":{"type":["integer","null"],"format":"int32"},"ask_levels":{"type":["integer","null"],"format":"int32"}}}}}},"400":{"description":"Missing or invalid parameters"}}}},"/polymarket/order-book/history":{"get":{"tags":["Order Book"],"summary":"Get order book history","description":"Paginated history of raw CLOB orderbook snapshots including full bids/asks levels and derived metrics. Default limit 20, max 200. `bids` and `asks` are arrays of `{\"p\": price, \"s\": size}` objects, sorted best-first.","operationId":"get_order_book_history","parameters":[{"name":"position_id","in":"query","description":"Token ID (required if condition_id / market_slug not set)","required":false,"schema":{"type":"string"}},{"name":"condition_id","in":"query","description":"Condition ID — returns history for all positions in this market","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Start timestamp (Unix milliseconds, inclusive)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix milliseconds, inclusive)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"min_spread","in":"query","description":"Only return snapshots with spread >= this value","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_spread","in":"query","description":"Only return snapshots with spread <= this value","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_liquidity","in":"query","description":"Only return snapshots where total liquidity (bid + ask) >= this value","required":false,"schema":{"type":"number","format":"double"}},{"name":"limit","in":"query","description":"Number of results (default: 20, max: 200)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Cursor from previous response's pagination.pagination_key","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Orderbook snapshot rows, newest first. ts is Unix milliseconds.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["ts","position_id","condition_id","bids","asks","hash"],"properties":{"ts":{"type":"integer","format":"int64"},"position_id":{"type":"string"},"condition_id":{"type":"string"},"bids":{"type":"array","items":{"$ref":"#/components/schemas/OrderbookLevel"}},"asks":{"type":"array","items":{"$ref":"#/components/schemas/OrderbookLevel"}},"hash":{"type":"string"},"best_bid":{"type":["number","null"],"format":"double"},"best_ask":{"type":["number","null"],"format":"double"},"mid_price":{"type":["number","null"],"format":"double"},"spread":{"type":["number","null"],"format":"double"},"bid_liquidity_usd":{"type":["number","null"],"format":"double"},"ask_liquidity_usd":{"type":["number","null"],"format":"double"},"bid_levels":{"type":["integer","null"],"format":"int32"},"ask_levels":{"type":["integer","null"],"format":"int32"}}}}}}},"400":{"description":"Missing or invalid parameters"}}}},"/polymarket/order-book/market":{"get":{"tags":["Order Book"],"summary":"Get order books for a market","description":"Returns the latest orderbook snapshot for every position (outcome) in a market. Accepts condition_id or market_slug. `bids` and `asks` are arrays of `{\"p\": price, \"s\": size}` objects, sorted best-first.","operationId":"get_market_order_book","parameters":[{"name":"condition_id","in":"query","description":"Condition ID of the market","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Latest orderbook snapshot per position. ts is Unix milliseconds.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["ts","position_id","condition_id","bids","asks","hash"],"properties":{"ts":{"type":"integer","format":"int64"},"position_id":{"type":"string"},"condition_id":{"type":"string"},"bids":{"type":"array","items":{"$ref":"#/components/schemas/OrderbookLevel"}},"asks":{"type":"array","items":{"$ref":"#/components/schemas/OrderbookLevel"}},"hash":{"type":"string"},"best_bid":{"type":["number","null"],"format":"double"},"best_ask":{"type":["number","null"],"format":"double"},"mid_price":{"type":["number","null"],"format":"double"},"spread":{"type":["number","null"],"format":"double"},"bid_liquidity_usd":{"type":["number","null"],"format":"double"},"ask_liquidity_usd":{"type":["number","null"],"format":"double"},"bid_levels":{"type":["integer","null"],"format":"int32"},"ask_levels":{"type":["integer","null"],"format":"int32"}}}}}}},"400":{"description":"Missing or invalid parameters"}}}},"/polymarket/order-book/spread":{"get":{"tags":["Order Book"],"summary":"Get spread history","description":"Lightweight time series of derived orderbook metrics (best bid/ask, mid price, spread, liquidity depth) without raw bids/asks — ideal for charting. Default limit 20, max 200.","operationId":"get_spread_history","parameters":[{"name":"position_id","in":"query","description":"Token ID (required if condition_id / market_slug not set)","required":false,"schema":{"type":"string"}},{"name":"condition_id","in":"query","description":"Condition ID — returns spread history for all positions in this market","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Start timestamp (Unix milliseconds, inclusive)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix milliseconds, inclusive)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"min_spread","in":"query","description":"Only return rows with spread >= this value","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_spread","in":"query","description":"Only return rows with spread <= this value","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_liquidity","in":"query","description":"Only return rows where total liquidity (bid + ask) >= this value","required":false,"schema":{"type":"number","format":"double"}},{"name":"limit","in":"query","description":"Number of results (default: 20, max: 200)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Cursor from previous response's pagination.pagination_key","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Spread time series rows, newest first. ts is Unix milliseconds.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","description":"Lightweight row — derived metrics only, no bids/asks JSONB.","required":["ts","position_id","condition_id"],"properties":{"ts":{"type":"integer","format":"int64"},"position_id":{"type":"string"},"condition_id":{"type":"string"},"best_bid":{"type":["number","null"],"format":"double"},"best_ask":{"type":["number","null"],"format":"double"},"mid_price":{"type":["number","null"],"format":"double"},"spread":{"type":["number","null"],"format":"double"},"bid_liquidity_usd":{"type":["number","null"],"format":"double"},"ask_liquidity_usd":{"type":["number","null"],"format":"double"},"bid_levels":{"type":["integer","null"],"format":"int32"},"ask_levels":{"type":["integer","null"],"format":"int32"}}}}}}},"400":{"description":"Missing or invalid parameters"}}}},"/polymarket/search":{"get":{"tags":["Search"],"summary":"Search events, markets, and traders","description":"Search across markets, events, and traders. Use `type` to limit which categories are searched. Trader search supports wallet address lookup or name search. Results for each category are independently paginated. Only requested categories are included in the response.","operationId":"search","parameters":[{"name":"q","in":"query","description":"Search query (min 2 characters). Prefix with 0x for exact wallet address lookup.","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"Comma-separated categories to search: events, markets, traders (default: all three, 1 credit per type). Example: type=markets,traders","required":false,"schema":{"type":"string"}},{"name":"include_pnl","in":"query","description":"Include lifetime PnL summary for each trader (default: false, +1 credit)","required":false,"schema":{"type":"boolean"}},{"name":"sort_by","in":"query","description":"Sort field applied to both events and markets (default: volume). Fields marked events-only or markets-only fall back to volume on the other category.","required":false,"schema":{"$ref":"#/components/schemas/SearchSortBy"}},{"name":"sort_dir","in":"query","description":"Sort direction (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"timeframe","in":"query","description":"Metrics timeframe used for volume/txns/unique_traders sort (default: 24h)","required":false,"schema":{"$ref":"#/components/schemas/MetricsTimeframe"}},{"name":"limit","in":"query","description":"Results limit per category (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"events_pagination_key","in":"query","description":"Cursor for the next page of events, obtained from previous response's events_pagination.pagination_key","required":false,"schema":{"type":"string"}},{"name":"markets_pagination_key","in":"query","description":"Cursor for the next page of markets, obtained from previous response's markets_pagination.pagination_key","required":false,"schema":{"type":"string"}},{"name":"traders_pagination_key","in":"query","description":"Cursor for the next page of traders, obtained from previous response's traders_pagination.pagination_key","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Search results. Only requested categories (via `type`) are included in the response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"400":{"description":"Bad request — q is missing or shorter than 2 characters"}}}},"/polymarket/series":{"get":{"tags":["Series"],"summary":"List or get series","description":"Retrieve series. Use `id` or `series_slug` for single lookup, `series_ids` or `series_slugs` (comma-separated, max 250, mutually exclusive) for multi-lookup, or paginate with `active_only`.","operationId":"get_series_list","parameters":[{"name":"id","in":"query","description":"Single series ID for direct lookup","required":false,"schema":{"type":"string"}},{"name":"series_ids","in":"query","description":"Comma-separated series IDs (max 250). Mutually exclusive with series_slugs.","required":false,"schema":{"type":"string"}},{"name":"series_slugs","in":"query","description":"Comma-separated series slugs (max 250). Mutually exclusive with series_ids.","required":false,"schema":{"type":"string"}},{"name":"active_only","in":"query","description":"Only active series (default: true). Ignored when series_ids or series_slugs are provided.","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor for pagination: id of the last series from the previous page","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Series or list of series","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolymarketSeries"}}}}},"400":{"description":"series_ids and series_slugs cannot both be provided"}}}},"/polymarket/series/outcomes":{"get":{"tags":["Series"],"summary":"Get series market outcomes","description":"Returns the winning outcome name for each resolved market across all events in a series, keyed by market slug. Useful for checking historical results across recurring series (e.g., btc-updown-5m).","operationId":"get_series_outcomes","parameters":[{"name":"series_slug","in":"query","description":"Series slug (required)","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of resolved markets per page (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key for fetching next page","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Map of market_slug → winning outcome name with pagination metadata","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"propertyNames":{"type":"string"}}}}},"400":{"description":"Missing series_slug parameter"}}}},"/polymarket/series/{identifier}/events":{"get":{"tags":["Series"],"summary":"Get series events","description":"Returns a paginated list of events belonging to a specific Polymarket series, with full market data for each event.","operationId":"get_series_events","parameters":[{"name":"identifier","in":"path","description":"Series slug (e.g. 'btc-weekly-close') or series ID","required":true,"schema":{"type":"string"}},{"name":"active","in":"query","description":"Filter by active events only (default: false)","required":false,"schema":{"type":"boolean"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_markets","in":"query","description":"Include markets array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include metrics (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Number of events to return (default: 20, max: 250)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Offset for pagination (default: 0)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of events in this series","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolymarketEvent"}}}}},"404":{"description":"Series not found"}}}},"/polymarket/tags":{"get":{"tags":["Tags"],"summary":"Get tags","description":"Retrieve all available event tags/categories. Supports both cursor-based and offset-based pagination.","operationId":"get_tags","parameters":[{"name":"limit","in":"query","description":"Results limit (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Offset-based pagination (number of results to skip). Takes precedence over pagination_key.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of all tags","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolymarketTag"}}}}}}}},"/polymarket/tags/{identifier}":{"get":{"tags":["Tags"],"summary":"Get tag by slug","description":"Retrieve a single tag by its ID or slug","operationId":"get_tag_by_id","parameters":[{"name":"identifier","in":"path","description":"Tag ID or slug","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Tag details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolymarketTag"}}}},"404":{"description":"Tag not found"}}}},"/polymarket/trader/global_pnl":{"get":{"tags":["Trader"],"summary":"Get global leaderboard","description":"Retrieve the global PnL leaderboard ranked by profit and loss. Uses cursor-based pagination for efficient traversal of large datasets.","operationId":"get_global_pnl","parameters":[{"name":"timeframe","in":"query","description":"Timeframe: 1d, 7d, 30d, lifetime (default: lifetime)","required":false,"schema":{"$ref":"#/components/schemas/PnlTimeframe"}},{"name":"sort_by","in":"query","description":"Sort: realized_pnl_usd, buys, sells, redemptions, merges, avg_hold_time, markets_traded, events_traded, markets_won, volume_usd, fees, best_trade (default: realized_pnl_usd)","required":false,"schema":{"$ref":"#/components/schemas/GlobalPnlSortBy"}},{"name":"sort_direction","in":"query","description":"Sort direction: asc, desc (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 200)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Global PnL leaderboard with trader stats. Response includes `pagination: { has_more, pagination_key }` for cursor-based pagination.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GlobalPnlTrader"}}}}}}}},"/polymarket/trader/leaderboard":{"get":{"tags":["Trader"],"summary":"Get trader leaderboard","description":"Global trader leaderboard ranked by PnL or volume over the selected timeframe. Each entry carries the trader's identity, ranking score (`pnl`), and the full set of Struct trading metrics (volumes split by side, markets_won / markets_lost, win rate, average PnL per market and per trade, average hold time, best trade, fees, and first / last trade timestamps). Enrichment fields are `null` when we don't yet have a row for that address in the selected timeframe.","operationId":"get_polymarket_leaderboard","parameters":[{"name":"timeframe","in":"query","description":"Aggregation window (default: lifetime)","required":false,"schema":{"$ref":"#/components/schemas/PnlTimeframe"}},{"name":"sort_by","in":"query","description":"Order by: pnl or volume (default: pnl). Case-insensitive.","required":false,"schema":{"$ref":"#/components/schemas/LeaderboardSortBy"}},{"name":"limit","in":"query","description":"Rows per page, 1..=50 (default: 20)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Offset for pagination (default: 0)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"category","in":"query","description":"Market category filter. Case-insensitive. Default: overall.","required":false,"schema":{"$ref":"#/components/schemas/LeaderboardCategory"}}],"responses":{"200":{"description":"Leaderboard rows with full trader metrics.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LeaderboardEntry"}}}}},"400":{"description":"Bad request — invalid timeframe, sort_by, or category"},"500":{"description":"Leaderboard unavailable"}}}},"/polymarket/trader/pnl/{address}":{"get":{"tags":["Trader"],"summary":"Get trader PnL summary","description":"Retrieve a trader's overall profit and loss summary","operationId":"get_trader_pnl","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: 1d, 7d, 30d, lifetime (default: lifetime)","required":false,"schema":{"$ref":"#/components/schemas/PnlTimeframe"}}],"responses":{"200":{"description":"Trader's global PnL summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TraderPnlSummary"}}}}}}},"/polymarket/trader/pnl/{address}/calendar":{"get":{"tags":["Trader"],"summary":"Get trader PnL calendar","description":"Retrieve raw per-day PnL. Each entry is the realized PnL for that calendar day. Paginate backwards using the pagination key.","operationId":"get_trader_pnl_calendar","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}},{"name":"days","in":"query","description":"Window size in days (default: 30, max: 30)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Pagination key obtained from a previous response to fetch an earlier window","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Daily PnL entries (one per active trading day)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PnlCandleEntry"}}}}}}}},"/polymarket/trader/pnl/{address}/candles":{"get":{"tags":["Trader"],"summary":"Get trader PnL candles","description":"Retrieve PnL candles for charting a trader's equity curve over time.","operationId":"get_trader_pnl_candles","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Candle resolution (default: 1h)","required":false,"schema":{"$ref":"#/components/schemas/PnlCandleResolution"}},{"name":"timeframe","in":"query","description":"Time range (default: lifetime)","required":false,"schema":{"$ref":"#/components/schemas/PnlCandleTimeframe"}}],"responses":{"200":{"description":"Cumulative PnL candles","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PnlCandleEntry"}}}}}}}},"/polymarket/trader/pnl/{address}/events":{"get":{"tags":["Trader"],"summary":"Get trader event PnL","description":"Retrieve event-level PnL breakdown for a trader","operationId":"get_trader_event_pnl","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: 1d, 7d, 30d, lifetime (default: lifetime)","required":false,"schema":{"$ref":"#/components/schemas/PnlTimeframe"}},{"name":"sort_by","in":"query","description":"Sort: realized_pnl_usd, total_volume_usd, markets_traded, total_fees, realized_pnl_pct (default: realized_pnl_usd)","required":false,"schema":{"$ref":"#/components/schemas/EventPnlSortBy"}},{"name":"sort_direction","in":"query","description":"Sort direction: asc, desc (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 200)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Pagination offset (number of results to skip). Takes precedence over pagination_key.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key obtained from previous response's pagination.pagination_key","required":false,"schema":{"type":"string"}},{"name":"event_slug","in":"query","description":"Filter by event slug","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Event-level PnL entries for this trader","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TraderEventPnlEntry"}}}}}}}},"/polymarket/trader/pnl/{address}/markets":{"get":{"tags":["Trader"],"summary":"Get trader market PnL","description":"Retrieve market-level PnL breakdown for a trader","operationId":"get_trader_market_pnl","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: 1d, 7d, 30d, lifetime (default: lifetime)","required":false,"schema":{"$ref":"#/components/schemas/PnlTimeframe"}},{"name":"sort_by","in":"query","description":"Sort: realized_pnl_usd, buy_usd, total_buys, total_fees, outcomes_traded, realized_pnl_pct (default: realized_pnl_usd)","required":false,"schema":{"$ref":"#/components/schemas/MarketPnlSortBy"}},{"name":"sort_direction","in":"query","description":"Sort direction: asc, desc (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 200)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Pagination offset (number of results to skip). Takes precedence over pagination_key.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key obtained from previous response's pagination.pagination_key","required":false,"schema":{"type":"string"}},{"name":"condition_id","in":"query","description":"Filter by condition ID (or use market_slug)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Filter by market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}},{"name":"event_slug","in":"query","description":"Filter by event slug","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Market-level PnL entries for this trader","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TraderMarketPnlEntry"}}}}}}}},"/polymarket/trader/pnl/{address}/positions":{"get":{"tags":["Trader"],"summary":"Get trader position PnL","description":"Retrieve per-outcome-token lifetime PnL for a trader from polymarket_accounts. Includes open/closed state, win/loss outcome, redemption payouts, and share quantities. Filter by status and won/lost to segment portfolio views.","operationId":"get_trader_position_pnl","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","description":"Required. Filter by position status","required":true,"schema":{"type":"string","enum":["open","closed"]}},{"name":"won","in":"query","description":"Filter by outcome: true (won), false (lost), only for status=closed","required":false,"schema":{"type":"boolean"}},{"name":"search","in":"query","description":"Search by market title","required":false,"schema":{"type":"string"}},{"name":"sort_by","in":"query","description":"Sort field (default: realized_pnl_usd)","required":false,"schema":{"$ref":"#/components/schemas/PositionPnlSortBy"}},{"name":"sort_direction","in":"query","description":"Sort direction: asc, desc (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 200)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Pagination offset","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"condition_id","in":"query","description":"Filter by market condition ID (or use market_slug)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Filter by market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}},{"name":"position_id","in":"query","description":"Filter by specific outcome token (position ID)","required":false,"schema":{"type":"string"}},{"name":"min_shares","in":"query","description":"Minimum shares balance to include. Status filtering already treats balances below 0.01 shares as dust.","required":false,"schema":{"type":"number","format":"double"}}],"responses":{"200":{"description":"Position-level PnL entries for this trader. Each entry is a specific outcome token with open/closed state, avg_entry_price, avg_exit_price, and redemption info.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TraderOutcomePnlEntry"}}}}}}}},"/polymarket/trader/profile/{address}":{"get":{"tags":["Trader"],"summary":"Get trader overview","description":"Retrieve a trader's profile including stats and trading history summary","operationId":"get_trader_profile","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Trader profile information with username, bio, and badges","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolymarketUserProfile"}}}}}}},"/polymarket/trader/profiles/batch":{"get":{"tags":["Trader"],"summary":"Get multiple trader profiles","description":"Retrieve profiles for multiple traders in a single request. Returns an array of profiles.","operationId":"get_trader_profiles_batch","parameters":[{"name":"addresses","in":"query","description":"Comma-separated list of trader addresses (max: 20)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Array of trader profiles","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolymarketUserProfile"}}}}},"400":{"description":"Invalid request (empty addresses or more than 20)"}}}},"/polymarket/trader/trades/{address}":{"get":{"tags":["Trader"],"summary":"Get trader trades","description":"Retrieve trade history for a specific trader across all markets","operationId":"get_trader_trades","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}},{"name":"condition_ids","in":"query","description":"Comma-separated condition IDs (max 20)","required":false,"schema":{"type":"string"}},{"name":"slugs","in":"query","description":"Comma-separated market slugs","required":false,"schema":{"type":"string"}},{"name":"position_ids","in":"query","description":"Comma-separated position IDs","required":false,"schema":{"type":"string"}},{"name":"side","in":"query","description":"Trade side: 0 (Buy), 1 (Sell)","required":false,"schema":{"$ref":"#/components/schemas/TradeSide"}},{"name":"outcome","in":"query","description":"Outcome name filter (e.g. Yes, No)","required":false,"schema":{"type":"string"}},{"name":"outcome_index","in":"query","description":"Outcome index: 0 (Yes), 1 (No)","required":false,"schema":{"$ref":"#/components/schemas/OutcomeIndex"}},{"name":"trade_types","in":"query","description":"Comma-separated trade types: OrderFilled, Redemption, Merge, Split, Cancelled, PositionsConverted, OrdersMatched","required":false,"schema":{"type":"string"}},{"name":"min_usd_amount","in":"query","description":"Min USD amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_usd_amount","in":"query","description":"Max USD amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_shares_amount","in":"query","description":"Min shares amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_shares_amount","in":"query","description":"Max shares amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_price","in":"query","description":"Min price (0.0-1.0)","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_price","in":"query","description":"Max price (0.0-1.0)","required":false,"schema":{"type":"number","format":"double"}},{"name":"from","in":"query","description":"Start timestamp (ms)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (ms)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"all","in":"query","description":"Return all-time trades, not just last 30 days (default: false)","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Results per page (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"offset","in":"query","description":"Pagination offset (number of results to skip). Takes precedence over pagination_key.","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key obtained from previous response's pagination.pagination_key","required":false,"schema":{"type":"string"}},{"name":"sort_desc","in":"query","description":"Sort newest first (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Trader's trade history with advanced filtering (same as /market/trades but filtered by trader)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TradeEvent"}}}}}}}},"/polymarket/trader/volume-chart/{address}":{"get":{"tags":["Trader"],"summary":"Get trader volume chart","description":"Retrieve volume breakdown by buy/sell over time for a specific trader","operationId":"get_trader_volume_chart","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Time interval: 1, 5, 15, 30, 60, 240, D, 1D (default: 60)","required":false,"schema":{"$ref":"#/components/schemas/CandlestickResolution"}},{"name":"count_back","in":"query","description":"Number of data points (max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Trader volume with buy/sell breakdown over time","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TraderVolumeDataPoint"}}}}}}}}},"components":{"schemas":{"ApprovalTrade":{"type":"object","description":"Output payload for ERC1155 setApprovalForAll events.","required":["id","hash","trader","operator","approved","exchange"],"properties":{"id":{"type":"string"},"hash":{"type":"string"},"block":{"type":["integer","null"],"format":"int64","minimum":0},"confirmed_at":{"type":["integer","null"],"format":"int64","minimum":0},"received_at":{"type":["integer","null"],"format":"int64","minimum":0},"log_index":{"type":["integer","null"],"format":"int64","minimum":0},"block_index":{"type":["integer","null"],"format":"int64","minimum":0},"trader":{"$ref":"#/components/schemas/TraderInfo"},"operator":{"type":"string"},"approved":{"type":"boolean"},"question":{"type":["string","null"]},"image_url":{"type":["string","null"]},"slug":{"type":["string","null"]},"event_slug":{"type":["string","null"]},"exchange":{"$ref":"#/components/schemas/PolymarketExchange"}}},"AssertionDisputedEvent":{"type":"object","description":"V3 UMA OOv3: an assertion was disputed.","required":["id","hash","oracle_contract","assertion_id","caller","disputer"],"properties":{"id":{"type":"string"},"hash":{"type":"string"},"block":{"type":["integer","null"],"format":"int64","minimum":0},"confirmed_at":{"type":["integer","null"],"format":"int64","minimum":0},"received_at":{"type":["integer","null"],"format":"int64","minimum":0},"log_index":{"type":["integer","null"],"format":"int64","minimum":0},"block_index":{"type":["integer","null"],"format":"int64","minimum":0},"oracle_contract":{"type":"string"},"assertion_id":{"type":"string"},"caller":{"type":"string"},"disputer":{"type":"string"},"condition_id":{"type":["string","null"]},"question":{"type":["string","null"]},"image_url":{"type":["string","null"]},"slug":{"type":["string","null"]},"event_slug":{"type":["string","null"]}}},"AssertionMadeEvent":{"type":"object","description":"V3 UMA OOv3: a new assertion (resolution proposal) was made.","required":["id","hash","oracle_contract","assertion_id","domain_id","claim","asserter","callback_recipient","escalation_manager","caller","expiration_time","currency","bond","identifier"],"properties":{"id":{"type":"string"},"hash":{"type":"string"},"block":{"type":["integer","null"],"format":"int64","minimum":0},"confirmed_at":{"type":["integer","null"],"format":"int64","minimum":0},"received_at":{"type":["integer","null"],"format":"int64","minimum":0},"log_index":{"type":["integer","null"],"format":"int64","minimum":0},"block_index":{"type":["integer","null"],"format":"int64","minimum":0},"oracle_contract":{"type":"string"},"assertion_id":{"type":"string"},"domain_id":{"type":"string"},"claim":{"type":"string"},"asserter":{"type":"string"},"callback_recipient":{"type":"string"},"escalation_manager":{"type":"string"},"caller":{"type":"string"},"expiration_time":{"type":"integer","format":"int64","minimum":0},"currency":{"type":"string"},"bond":{"type":"string"},"identifier":{"type":"string"},"condition_id":{"type":["string","null"]},"proposed_outcome":{"type":["string","null"]},"question":{"type":["string","null"]},"image_url":{"type":["string","null"]},"slug":{"type":["string","null"]},"event_slug":{"type":["string","null"]}}},"AssertionSettledEvent":{"type":"object","description":"V3 UMA OOv3: an assertion liveness period expired and was settled.","required":["id","hash","oracle_contract","assertion_id","bond_recipient","disputed","settlement_resolution","settle_caller"],"properties":{"id":{"type":"string"},"hash":{"type":"string"},"block":{"type":["integer","null"],"format":"int64","minimum":0},"confirmed_at":{"type":["integer","null"],"format":"int64","minimum":0},"received_at":{"type":["integer","null"],"format":"int64","minimum":0},"log_index":{"type":["integer","null"],"format":"int64","minimum":0},"block_index":{"type":["integer","null"],"format":"int64","minimum":0},"oracle_contract":{"type":"string"},"assertion_id":{"type":"string"},"bond_recipient":{"type":"string"},"disputed":{"type":"boolean"},"settlement_resolution":{"type":"boolean"},"settle_caller":{"type":"string"},"condition_id":{"type":["string","null"]},"question":{"type":["string","null"]},"image_url":{"type":["string","null"]},"slug":{"type":["string","null"]},"event_slug":{"type":["string","null"]}}},"AssetPriceHistoryRow":{"type":"object","description":"A single asset price history record from the `asset_price_history` table.","required":["asset_symbol","asset_open_price","asset_close_price","variant","start_time","end_time"],"properties":{"asset_symbol":{"type":"string"},"asset_open_price":{"type":"number","format":"double","description":"Opening price at start_time (cast to f64 from NUMERIC in query)"},"asset_close_price":{"type":"number","format":"double","description":"Closing price at end_time (cast to f64 from NUMERIC in query)"},"price_change_percentage":{"type":["number","null"],"format":"double"},"outcome":{"type":["string","null"],"description":"Generated column: \"up\" if close > open, \"down\" if close ≤ open, null if no close yet"},"variant":{"type":"string","description":"Time window: \"5m\", \"15m\", \"1h\", \"1d\""},"start_time":{"type":"integer","format":"int64","description":"Window start timestamp (seconds since epoch)"},"end_time":{"type":"integer","format":"int64","description":"Window end timestamp (seconds since epoch)"}}},"AssetSymbol":{"type":"string","enum":["BTC","ETH","XRP","SOL","DOGE","BNB","HYPE"]},"AssetVariant":{"type":"string","enum":["5m","15m","1h","4h","1d"]},"BondMarket":{"type":"object","required":["condition_id","question","market_slug","end_time","best_outcome_index","return_pct","apy","outcomes"],"properties":{"condition_id":{"type":"string"},"title":{"type":["string","null"]},"question":{"type":"string"},"market_slug":{"type":"string"},"event_slug":{"type":["string","null"]},"image_url":{"type":["string","null"]},"end_time":{"type":"integer","format":"int64"},"best_outcome_index":{"type":"integer","format":"int32","minimum":0},"return_pct":{"type":"number","format":"double"},"apy":{"type":"number","format":"double"},"volume_24h":{"type":["number","null"],"format":"double"},"liquidity":{"type":["number","null"],"format":"double"},"outcomes":{"type":"array","items":{"$ref":"#/components/schemas/BondOutcome"}}}},"BondOutcome":{"type":"object","required":["name","index","position_id","price"],"properties":{"name":{"type":"string"},"index":{"type":"integer","format":"int32"},"position_id":{"type":"string"},"price":{"type":"number","format":"double"}}},"CancelledTrade":{"type":"object","description":"Output payload for Cancelled orders.","required":["id","hash","exchange"],"properties":{"id":{"type":"string"},"hash":{"type":"string"},"block":{"type":["integer","null"],"format":"int64","minimum":0},"confirmed_at":{"type":["integer","null"],"format":"int64","minimum":0},"received_at":{"type":["integer","null"],"format":"int64","minimum":0},"log_index":{"type":["integer","null"],"format":"int64","minimum":0},"block_index":{"type":["integer","null"],"format":"int64","minimum":0},"order_hash":{"type":["string","null"]},"question":{"type":["string","null"]},"image_url":{"type":["string","null"]},"slug":{"type":["string","null"]},"event_slug":{"type":["string","null"]},"exchange":{"$ref":"#/components/schemas/PolymarketExchange"}}},"CandlestickResolution":{"type":"string","enum":["1","5","15","30","60","240","D","1D"]},"ChartResolution":{"type":"string","enum":["1H","6H","1D","1W","1M","ALL"]},"ClobReward":{"type":"object","description":"CLOB reward (public API format)","required":["id","condition_id"],"properties":{"id":{"type":"string"},"condition_id":{"type":"string"},"asset_address":{"type":["string","null"]},"rewards_amount":{"type":["number","null"],"format":"double"},"rewards_daily_rate":{"type":["number","null"],"format":"double"},"start_date":{"type":["string","null"]},"end_date":{"type":["string","null"]},"rewards_max_spread":{"type":["number","null"],"format":"double"},"rewards_min_size":{"type":["number","null"],"format":"double"},"native_daily_rate":{"type":["number","null"],"format":"double"},"sponsored_daily_rate":{"type":["number","null"],"format":"double"},"total_daily_rate":{"type":["number","null"],"format":"double"},"sponsors_count":{"type":["integer","null"],"format":"int32"}}},"ConditionMetricsResponse":{"type":"object","description":"Response type for condition metrics query","required":["condition_id","timeframe","volume_usd","fees","txns","unique_traders"],"properties":{"condition_id":{"type":"string"},"timeframe":{"type":"string"},"volume_usd":{"type":"number","format":"double"},"fees":{"type":"number","format":"double"},"txns":{"type":"integer","format":"int32"},"unique_traders":{"type":"integer","format":"int32"}}},"ConditionOrderbookRow":{"type":"object","required":["ts","position_id","condition_id","bids","asks","hash"],"properties":{"ts":{"type":"integer","format":"int64"},"position_id":{"type":"string"},"condition_id":{"type":"string"},"bids":{"type":"array","items":{"$ref":"#/components/schemas/OrderbookLevel"}},"asks":{"type":"array","items":{"$ref":"#/components/schemas/OrderbookLevel"}},"hash":{"type":"string"},"best_bid":{"type":["number","null"],"format":"double"},"best_ask":{"type":["number","null"],"format":"double"},"mid_price":{"type":["number","null"],"format":"double"},"spread":{"type":["number","null"],"format":"double"},"bid_liquidity_usd":{"type":["number","null"],"format":"double"},"ask_liquidity_usd":{"type":["number","null"],"format":"double"},"bid_levels":{"type":["integer","null"],"format":"int32"},"ask_levels":{"type":["integer","null"],"format":"int32"}}},"ConditionResolutionEvent":{"type":"object","description":"CTF ConditionResolution: positions become redeemable on the Conditional Tokens contract.","required":["id","hash","oracle_contract","condition_id","oracle"],"properties":{"id":{"type":"string"},"hash":{"type":"string"},"block":{"type":["integer","null"],"format":"int64","minimum":0},"confirmed_at":{"type":["integer","null"],"format":"int64","minimum":0},"received_at":{"type":["integer","null"],"format":"int64","minimum":0},"log_index":{"type":["integer","null"],"format":"int64","minimum":0},"block_index":{"type":["integer","null"],"format":"int64","minimum":0},"oracle_contract":{"type":"string"},"condition_id":{"type":"string"},"oracle":{"type":"string"},"proposed_outcome":{"type":["string","null"]},"question":{"type":["string","null"]},"image_url":{"type":["string","null"]},"slug":{"type":["string","null"]},"event_slug":{"type":["string","null"]}}},"EventMarket":{"type":"object","description":"Enriched market data for event API responses","properties":{"condition_id":{"type":"string","default":""},"id":{"type":["string","null"],"default":null},"title":{"type":["string","null"],"default":null},"question":{"type":"string","default":""},"market_slug":{"type":"string","default":""},"status":{"type":"string","default":""},"created_time":{"type":["integer","null"],"format":"int64","default":null},"end_time":{"type":["integer","null"],"format":"int64","default":null},"volume":{"type":["number","null"],"format":"double","default":null},"liquidity_usd":{"type":["number","null"],"format":"double","default":null},"volume_24hr":{"type":["number","null"],"format":"double","default":null},"image_url":{"type":["string","null"],"default":null},"market_maker_address":{"type":["string","null"],"default":null},"creator":{"type":["string","null"],"default":null},"category":{"type":["string","null"],"default":null},"accepting_orders":{"type":["boolean","null"],"default":null},"uma_resolution_status":{"type":["string","null"],"default":null},"clob_rewards":{"type":"array","items":{"$ref":"#/components/schemas/ClobReward"},"default":[]},"outcomes":{"type":"array","items":{"$ref":"#/components/schemas/EventMarketOutcome"},"default":[]},"winning_outcome":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/EventMarketOutcome"}],"default":null}}},"EventMarketChartDataPoint":{"type":"object","required":["v","t"],"properties":{"v":{"type":"number","format":"double"},"t":{"type":"integer","format":"int64","minimum":0}}},"EventMarketChartOutcome":{"type":"object","required":["condition_id","market_slug","question","title","data"],"properties":{"condition_id":{"type":"string"},"market_slug":{"type":"string"},"question":{"type":"string"},"title":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/EventMarketChartDataPoint"}}}},"EventMarketOutcome":{"type":"object","description":"Market outcome for event API responses","required":["name"],"properties":{"name":{"type":"string"},"price":{"type":["number","null"],"format":"double"},"position_id":{"type":["string","null"]},"outcome_index":{"type":["integer","null"],"format":"int32"}}},"EventMetricsResponse":{"type":"object","description":"Response type for event metrics query","required":["event_slug","timeframe","volume_usd","fees","txns","unique_traders"],"properties":{"event_slug":{"type":"string"},"timeframe":{"type":"string"},"volume_usd":{"type":"number","format":"double"},"fees":{"type":"number","format":"double"},"txns":{"type":"integer","format":"int32"},"unique_traders":{"type":"integer","format":"int32"}}},"EventPnlSortBy":{"type":"string","enum":["realized_pnl_usd","total_volume_usd","markets_traded","total_fees","realized_pnl_pct"]},"EventSortBy":{"type":"string","enum":["volume","txns","unique_traders","title","creation_date","start_date","end_date","relevance"]},"GlobalPnlSortBy":{"type":"string","enum":["realized_pnl_usd","buys","sells","redemptions","merges","avg_hold_time","markets_traded","events_traded","markets_won","volume_usd","fees","best_trade"]},"GlobalPnlTrader":{"type":"object","description":"Individual trader entry in the global PnL leaderboard","required":["trader"],"properties":{"trader":{"$ref":"#/components/schemas/TraderInfo"},"realized_pnl_usd":{"type":["number","null"],"format":"double"},"events_traded":{"type":["integer","null"],"format":"int64"},"markets_traded":{"type":["integer","null"],"format":"int64"},"markets_won":{"type":["integer","null"],"format":"int64"},"markets_lost":{"type":["integer","null"],"format":"int64"},"market_win_rate_pct":{"type":["number","null"],"format":"double"},"total_volume_usd":{"type":["number","null"],"format":"double"},"buy_volume_usd":{"type":["number","null"],"format":"double"},"sell_volume_usd":{"type":["number","null"],"format":"double"},"redemption_volume_usd":{"type":["number","null"],"format":"double"},"merge_volume_usd":{"type":["number","null"],"format":"double"},"total_buys":{"type":["integer","null"],"format":"int64"},"total_sells":{"type":["integer","null"],"format":"int64"},"total_redemptions":{"type":["integer","null"],"format":"int64"},"total_merges":{"type":["integer","null"],"format":"int64"},"total_trades":{"type":["integer","null"],"format":"int64"},"total_fees":{"type":["number","null"],"format":"double"},"avg_pnl_per_market":{"type":["number","null"],"format":"double"},"avg_pnl_per_trade":{"type":["number","null"],"format":"double"},"avg_hold_time_seconds":{"type":["number","null"],"format":"double"},"best_trade_pnl_usd":{"type":["number","null"],"format":"double"},"best_trade_condition_id":{"type":["string","null"]},"first_trade_at":{"type":["integer","null"],"format":"int64"},"last_trade_at":{"type":["integer","null"],"format":"int64"}}},"Holder":{"type":"object","description":"Individual holder data","required":["trader","shares"],"properties":{"trader":{"$ref":"#/components/schemas/Trader","description":"Trader profile information"},"shares":{"type":"string","description":"Position shares held (raw balance as string for precision)"},"shares_usd":{"type":["string","null"],"description":"USD value of shares (shares * latest price)"},"usd_balance":{"type":["string","null"],"description":"USD balance of wallet (USDe on Polygon)"},"pnl":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/HolderPnl","description":"Holder-level PnL, i
[...]
