{"openapi":"3.1.0","info":{"title":"Polymarket API","description":"RESTful API for querying Polymarket prediction markets data including events, markets, traders, holders, and real-time metrics","license":{"name":""},"version":"1.0.0"},"servers":[{"url":"https://api.struct.to/v1","description":"Production"}],"paths":{"/polymarket/analytics/changes":{"get":{"tags":["Analytics"],"summary":"Global analytics pct change","description":"Returns % change for each metric over the requested lookback window. `null` fields mean the window predates the available data.","operationId":"get_global_analytics_changes","parameters":[{"name":"timeframe","in":"query","description":"Lookback window: 1h, 24h, 7d, 30d, 1mo, 1y (default: 24h)","required":false,"schema":{"$ref":"#/components/schemas/ChangeTimeframe"}}],"responses":{"200":{"description":"Per-metric pct change","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricPctChange"}}}}}}},"/polymarket/analytics/counts":{"get":{"tags":["Analytics"],"summary":"Global analytics snapshot","description":"Returns the latest cumulative analytics metrics across all of Polymarket: volume, traders, txn counts, fees, yes/no splits, and buy distribution.","operationId":"get_analytics_counts","responses":{"200":{"description":"Latest global metrics snapshot","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GlobalCountsResponse"}}}}}}},"/polymarket/analytics/deltas":{"get":{"tags":["Analytics"],"summary":"Global analytics candles (per-bucket deltas)","description":"Returns per-bucket deltas (volume, traders, fees etc. that happened *during* each bucket). Use for bar-chart visualisations of activity over time.","operationId":"get_global_analytics_deltas","parameters":[{"name":"resolution","in":"query","description":"Bucket size: 60, 240, D, 1D, W, 1W, M, 1M (default: 60)","required":false,"schema":{"$ref":"#/components/schemas/AnalyticsResolution"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds). Omit for all-time.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"count_back","in":"query","description":"Max data points (default: 500, max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor from previous response for next page","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delta time-bucketed analytics","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TimeBucketRow"}}}}}}}},"/polymarket/analytics/timeseries":{"get":{"tags":["Analytics"],"summary":"Global analytics timeseries (cumulative)","description":"Returns cumulative analytics values at the end of each bucket. Use for running-total line charts of global volume, traders, fees over time.","operationId":"get_global_analytics_timeseries","parameters":[{"name":"resolution","in":"query","description":"Bucket size: 60, 240, D, 1D, W, 1W, M, 1M (default: 60)","required":false,"schema":{"$ref":"#/components/schemas/AnalyticsResolution"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds). Omit for all-time.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"count_back","in":"query","description":"Max data points (default: 500, max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor from previous response for next page","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Cumulative time-bucketed analytics","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TimeBucketRow"}}}}}}}},"/polymarket/asset-history":{"get":{"tags":["Assets"],"summary":"Get Asset Price History","description":"Returns historical price data for supported crypto assets from Polymarket API","operationId":"get_asset_history","parameters":[{"name":"asset_symbol","in":"query","description":"Asset ticker: BTC, ETH, XRP, SOL, DOGE, BNB, HYPE","required":true,"schema":{"$ref":"#/components/schemas/AssetSymbol"},"example":"BTC"},{"name":"variant","in":"query","description":"Time window: 5m, 15m, 1h, 4h, 1d","required":true,"schema":{"$ref":"#/components/schemas/AssetVariant"},"example":"1h"},{"name":"from","in":"query","description":"Start timestamp in seconds (Unix epoch, inclusive)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp in seconds (Unix epoch, inclusive)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"Number of results (default: 10, max: 100)","required":false,"schema":{"type":"integer","format":"int64"},"example":10},{"name":"pagination_key","in":"query","description":"Cursor from previous response for keyset pagination. Pass the pagination_key from the previous page to fetch the next page.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetPriceHistoryRow"}}}}},"400":{"description":"Bad request - missing or invalid parameters"},"500":{"description":"Internal server error"}}}},"/polymarket/builders":{"get":{"tags":["Builders"],"summary":"List builders ranked by activity","description":"Returns the top builders by the chosen metric over the chosen window. Use `sort` to choose the ranking metric and `timeframe` to choose the window.","operationId":"list_builders","parameters":[{"name":"sort","in":"query","description":"Metric to sort by. Default: volume.","required":false,"schema":{"$ref":"#/components/schemas/BuilderSortBy"}},{"name":"sort_desc","in":"query","description":"Sort direction (default: true = highest first).","required":false,"schema":{"type":"boolean"}},{"name":"timeframe","in":"query","description":"Window to rank over. Default: lifetime.","required":false,"schema":{"$ref":"#/components/schemas/BuilderTimeframe"}},{"name":"limit","in":"query","description":"Max rows to return (default 50, max 500).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Number of rows to skip. Default 0. Takes precedence over `pagination_key`.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Opaque cursor from a previous response. Ignored when `offset` is set.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ranked list of builders","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuilderLatestRow"}}}}}}}},"/polymarket/builders/composition":{"get":{"tags":["Builders"],"summary":"Bucketed top-N with 'other' builder composition","description":"Bucketed timeseries for stacked-bar / area charts. For each bucket in the range, returns up to `top_n` plus one rows: one per top-N builder plus an `other` aggregate. Top-N is fixed across the whole window so chart legends stay stable.","operationId":"get_builder_composition","parameters":[{"name":"metric","in":"query","description":"Ranking metric used to pick the top-N. Default: volume.","required":false,"schema":{"$ref":"#/components/schemas/BuilderSortBy"}},{"name":"resolution","in":"query","description":"Bucket size. Default: 60 (hourly).","required":false,"schema":{"$ref":"#/components/schemas/AnalyticsResolution"}},{"name":"from","in":"query","description":"Inclusive start ts (unix seconds).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"Inclusive end ts (unix seconds).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"count_back","in":"query","description":"Max buckets returned (default 500, max 2500). Limits the COUNT of bucket rows; the response carries top_n entries per bucket plus one `other` row.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"top_n","in":"query","description":"Number of top builders broken out individually (clamped 1..50). Default: 10.","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"series","in":"query","description":"cumulative (end-of-bucket snapshot) or delta (in-bucket change). Default: cumulative.","required":false,"schema":{"$ref":"#/components/schemas/CompositionSeries"}}],"responses":{"200":{"description":"Bucketed composition rows plus a `builder_metadata` map keyed by builder_code","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompositionResponse"}}}}}}},"/polymarket/builders/global":{"get":{"tags":["Builders"],"summary":"Cumulative stats across all builders","description":"Returns one snapshot summing every builder-attributed trade over the chosen window.","operationId":"get_builder_global","parameters":[{"name":"timeframe","in":"query","description":"Window: lifetime, 1d, 24h, 7d, 30d, 1mo. Default: lifetime.","required":false,"schema":{"$ref":"#/components/schemas/BuilderTimeframe"}}],"responses":{"200":{"description":"Global builder snapshot","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuilderGlobalLatestRow"}}}}}}},"/polymarket/builders/global/analytics/changes":{"get":{"tags":["Builders"],"summary":"Percentage change across all builders over a lookback window","operationId":"get_builder_global_changes","parameters":[{"name":"timeframe","in":"query","description":"Lookback: 1h, 24h, 7d, 30d, 1mo, 1y. Default: 24h.","required":false,"schema":{"$ref":"#/components/schemas/GlobalChangeTimeframe"}}],"responses":{"200":{"description":"Per-metric percentage change","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GlobalPctChange"}}}}}}},"/polymarket/builders/global/analytics/deltas":{"get":{"tags":["Builders"],"summary":"Per-bucket deltas across all builders","operationId":"get_builder_global_deltas","parameters":[{"name":"resolution","in":"query","description":"Bucket size. Default: 60 (hourly).","required":false,"schema":{"$ref":"#/components/schemas/AnalyticsResolution"}},{"name":"from","in":"query","description":"Start ts.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End ts.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"count_back","in":"query","description":"Max buckets (default 500, max 2500).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Opaque cursor.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Global per-bucket deltas","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuilderTimeBucketRow"}}}}}}}},"/polymarket/builders/global/analytics/timeseries":{"get":{"tags":["Builders"],"summary":"Cumulative bucket timeseries across all builders","operationId":"get_builder_global_timeseries","parameters":[{"name":"resolution","in":"query","description":"Bucket size. Default: 60 (hourly).","required":false,"schema":{"$ref":"#/components/schemas/AnalyticsResolution"}},{"name":"from","in":"query","description":"Start ts (Unix seconds).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End ts (Unix seconds).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"count_back","in":"query","description":"Max buckets (default 500, max 2500).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Opaque cursor.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Global cumulative bucket series","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuilderTimeBucketRow"}}}}}}}},"/polymarket/builders/global/tags":{"get":{"tags":["Builders"],"summary":"All tags with builder-attributed activity","description":"Returns every tag that has builder-routed activity, with metrics aggregated across all builders. `distinct_builders` is exact; other `unique_*` columns sum per-builder uniques and may slightly over-count traders active under multiple builders.","operationId":"list_global_builder_tags","parameters":[{"name":"sort","in":"query","description":"Metric to sort by. Default: volume.","required":false,"schema":{"$ref":"#/components/schemas/BuilderSortBy"}},{"name":"sort_desc","in":"query","description":"Sort direction (default: true = highest first).","required":false,"schema":{"type":"boolean"}},{"name":"timeframe","in":"query","description":"Window: lifetime, 1d, 24h, 7d, 30d, 1mo. Default: lifetime.","required":false,"schema":{"$ref":"#/components/schemas/BuilderTimeframe"}},{"name":"limit","in":"query","description":"Max rows to return (default 50, max 500).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Skip count.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Opaque cursor.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Per-tag aggregated stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GlobalBuilderTagRow"}}}}}}}},"/polymarket/builders/metadata":{"get":{"tags":["Builders"],"summary":"List builder metadata","description":"Paginated list of all builders with registered display metadata, ordered alphabetically by name.","operationId":"list_builder_metadata","parameters":[{"name":"limit","in":"query","description":"Max entries (default 100, max 500)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Offset for pagination (default 0)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Opaque cursor (alternative to offset)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Builder metadata list","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuilderMetadata"}}}}}}}},"/polymarket/builders/tags/{tag}":{"get":{"tags":["Builders"],"summary":"Per-builder breakdown for a tag","description":"Returns the top builders that have routed activity into this tag, ranked by the chosen metric over the chosen window.","operationId":"list_tag_builders","parameters":[{"name":"tag","in":"path","description":"Tag label (URL-encoded).","required":true,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"Metric to sort by. Default: volume.","required":false,"schema":{"$ref":"#/components/schemas/BuilderSortBy"}},{"name":"sort_desc","in":"query","description":"Sort direction (default: true = highest first).","required":false,"schema":{"type":"boolean"}},{"name":"timeframe","in":"query","description":"Window: lifetime, 1d, 24h, 7d, 30d, 1mo. Default: lifetime.","required":false,"schema":{"$ref":"#/components/schemas/BuilderTimeframe"}},{"name":"limit","in":"query","description":"Max rows to return (default 50, max 500).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Skip count.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Opaque cursor.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Per-builder breakdown","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TagBuilderRow"}}}}}}}},"/polymarket/builders/{builder_code}":{"get":{"tags":["Builders"],"summary":"Get a single builder's cumulative stats","description":"Returns cumulative stats for one builder over the chosen window.","operationId":"get_builder","parameters":[{"name":"builder_code","in":"path","description":"Builder code.","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Window to report stats over. Default: lifetime.","required":false,"schema":{"$ref":"#/components/schemas/BuilderTimeframe"}}],"responses":{"200":{"description":"Builder snapshot","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuilderLatestRow"}}}},"404":{"description":"Builder not found"}}}},"/polymarket/builders/{builder_code}/analytics/changes":{"get":{"tags":["Builders"],"summary":"Builder percentage change over a lookback window","description":"Per-metric percentage change over the requested window for one builder.","operationId":"get_builder_analytics_changes","parameters":[{"name":"builder_code","in":"path","description":"Builder identifier (0x-prefixed hex).","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Lookback window (default: 24h).","required":false,"schema":{"$ref":"#/components/schemas/ChangeTimeframe"}}],"responses":{"200":{"description":"Per-metric percentage change","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuilderPctChange"}}}}}}},"/polymarket/builders/{builder_code}/analytics/deltas":{"get":{"tags":["Builders"],"summary":"Builder analytics deltas (per-bucket change)","description":"Returns the change within each bucket for one builder. Use for bar/candle charts.","operationId":"get_builder_analytics_deltas","parameters":[{"name":"builder_code","in":"path","description":"Builder code.","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Bucket size. Default: 60 (hourly).","required":false,"schema":{"$ref":"#/components/schemas/AnalyticsResolution"}},{"name":"from","in":"query","description":"Start timestamp (unix seconds).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (unix seconds).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"count_back","in":"query","description":"Max data points to return (default 500, max 2500).","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Opaque cursor from a previous response.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Per-bucket delta builder stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuilderTimeBucketRow"}}}}}}}},"/polymarket/builders/{builder_code}/analytics/timeseries":{"get":{"tags":["Builders"],"summary":"Builder analytics timeseries (cumulative)","description":"Returns cumulative values at the end of each bucket for one builder. Use for running-total charts over time.","operationId":"get_builder_analytics_timeseries","parameters":[{"name":"builder_code","in":"path","description":"Builder code.","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Bucket size. Default: 60 (hourly).","required":false,"schema":{"$ref":"#/components/schemas/AnalyticsResolution"}},{"name":"from","in":"query","description":"Start timestamp (unix seconds). Omit for all-time.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (unix seconds).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"count_back","in":"query","description":"Max data points to return (default 500, max 2500).","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Opaque cursor from a previous response.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Cumulative time-bucketed builder stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuilderTimeBucketRow"}}}}}}}},"/polymarket/builders/{builder_code}/concentration":{"get":{"tags":["Builders"],"summary":"Trader-volume concentration for a builder","description":"How much of the builder's window volume is concentrated in its top traders. Returns total volume + total trader count + top-1/10/100/1k/10k volume and share.","operationId":"get_builder_concentration","parameters":[{"name":"builder_code","in":"path","description":"Builder code.","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Window: lifetime, 1d (24h), 7d, 30d (1mo). Default: 1d","required":false,"schema":{"$ref":"#/components/schemas/BuilderTimeframe"}}],"responses":{"200":{"description":"Concentration metrics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConcentrationResponse"}}}}}}},"/polymarket/builders/{builder_code}/fees":{"get":{"tags":["Builders"],"summary":"Get builder fee rates","description":"Returns the maker and taker fee rates (in basis points) for the given builder code.","operationId":"get_builder_fees","parameters":[{"name":"builder_code","in":"path","description":"Builder code.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Builder fee rates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuilderFeeRate"}}}},"404":{"description":"Builder code not registered"}}}},"/polymarket/builders/{builder_code}/fees/history":{"get":{"tags":["Builders"],"summary":"Get builder fee rate history","description":"Returns the history of rate changes for the given builder code, newest first.","operationId":"get_builder_fees_history","parameters":[{"name":"builder_code","in":"path","description":"Builder code.","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Max entries (default 100, max 1000)","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Builder fee rate history","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuilderFeeRateHistoryEntry"}}}}}}}},"/polymarket/builders/{builder_code}/metadata":{"get":{"tags":["Builders"],"summary":"Get a builder's display metadata","description":"Returns name, website, twitter, icon URL, and description for the given builder code. Returns 200 with `null` body when no metadata has been registered for the code.","operationId":"get_builder_metadata","parameters":[{"name":"builder_code","in":"path","description":"Builder code.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Builder metadata. Body is `null` when no metadata has been registered for this builder.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuilderMetadata"}}}}}}},"/polymarket/builders/{builder_code}/retention":{"get":{"tags":["Builders"],"summary":"Cohort retention for a builder","description":"For each cohort day in the requested window, returns the cohort size and the share of traders that came back on day +1, +7, and +30.","operationId":"get_builder_retention","parameters":[{"name":"builder_code","in":"path","description":"Builder code.","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Inclusive start of cohort window (Unix seconds). Default: now - 30 days.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"Inclusive end of cohort window (Unix seconds). Default: now - 1 day. Cohorts within this range have at least one full day for D1 retention; older cohorts are required for D7/D30.","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Per-cohort-day retention metrics","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CohortRetentionRow"}}}}}}}},"/polymarket/builders/{builder_code}/tags":{"get":{"tags":["Builders"],"summary":"Per-tag breakdown for a builder","description":"Returns the top tags this builder has routed activity into, ranked by the chosen metric over the chosen window.","operationId":"list_builder_tags","parameters":[{"name":"builder_code","in":"path","description":"Builder code.","required":true,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"Metric to sort by. Default: volume.","required":false,"schema":{"$ref":"#/components/schemas/BuilderSortBy"}},{"name":"sort_desc","in":"query","description":"Sort direction (default: true = highest first).","required":false,"schema":{"type":"boolean"}},{"name":"timeframe","in":"query","description":"Window: lifetime, 1d, 24h, 7d, 30d, 1mo. Default: lifetime.","required":false,"schema":{"$ref":"#/components/schemas/BuilderTimeframe"}},{"name":"limit","in":"query","description":"Max rows to return (default 50, max 500).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Skip count.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Opaque cursor.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Per-tag breakdown","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuilderTagRow"}}}}}}}},"/polymarket/builders/{builder_code}/top-traders":{"get":{"tags":["Builders"],"summary":"Top traders for a builder","description":"Returns the highest-volume (or highest-fee / highest-txn) traders that have routed through this builder over the requested window.","operationId":"get_builder_top_traders","parameters":[{"name":"builder_code","in":"path","description":"Builder code.","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Window: lifetime, 1d (24h), 7d, 30d (1mo). Default: 1d","required":false,"schema":{"$ref":"#/components/schemas/BuilderTimeframe"}},{"name":"sort_by","in":"query","description":"Ranking key: volume (default), txns, fees, builder_fees","required":false,"schema":{"$ref":"#/components/schemas/TopTradersSortBy"}},{"name":"sort_desc","in":"query","description":"Sort direction (default: true = highest first).","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Number of traders to return (default 10, max 250)","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Top traders for this builder","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TopTraderRow"}}}}}}}},"/polymarket/events":{"get":{"tags":["Events"],"summary":"Get events","description":"Retrieve a paginated list of events with filtering, sorting, and optional nested tags/markets","operationId":"get_events","parameters":[{"name":"id","in":"query","description":"Filter by event ID(s) - comma-separated (max 50). Cannot be used with 'event_slugs'. Example: id=99600,99601,99583","required":false,"schema":{"type":"string"}},{"name":"event_slugs","in":"query","description":"Filter by event slug(s) - comma-separated (max 50). Cannot be used with 'id'. Example: event_slugs=will-trump-win,bitcoin-100k","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"Search in title and description (3-100 characters). Example: search=trump","required":false,"schema":{"type":"string"}},{"name":"sort_by","in":"query","description":"Sort: volume, txns, unique_traders, title, creation_date, start_date, end_date, relevance (relevance only works in search mode) (default: volume)","required":false,"schema":{"$ref":"#/components/schemas/EventSortBy"}},{"name":"sort_dir","in":"query","description":"Sort direction: asc, desc (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"timeframe","in":"query","description":"Metrics timeframe: 1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d (default: 24h)","required":false,"schema":{"$ref":"#/components/schemas/MetricsTimeframe"}},{"name":"status","in":"query","description":"Filter by status: open, closed, or all (default: all)","required":false,"schema":{"$ref":"#/components/schemas/MarketStatus"}},{"name":"categories","in":"query","description":"Comma-separated category filters","required":false,"schema":{"type":"string"}},{"name":"exclude_categories","in":"query","description":"Comma-separated categories to exclude","required":false,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Filter by tag slug(s) - comma-separated (max 50). Example: tags=sports,football,crypto","required":false,"schema":{"type":"string"}},{"name":"exclude_tags","in":"query","description":"Comma-separated tag slugs to exclude","required":false,"schema":{"type":"string"}},{"name":"min_volume","in":"query","description":"Minimum volume in selected timeframe","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_volume","in":"query","description":"Maximum volume in selected timeframe","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_txns","in":"query","description":"Minimum transactions in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"max_txns","in":"query","description":"Maximum transactions in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"min_unique_traders","in":"query","description":"Minimum unique traders in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"max_unique_traders","in":"query","description":"Maximum unique traders in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_markets","in":"query","description":"Include markets array with outcomes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include metrics object with all timeframes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 100)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"List of Polymarket events with nested tags, markets, and series. Response includes `pagination: { has_more, pagination_key }` for cursor-based pagination.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolymarketEvent"}}}}},"400":{"description":"Bad request - validation error (search length, array limits, conflicting params)"}}}},"/polymarket/events/chart":{"get":{"tags":["Events"],"summary":"Get event chart","description":"Retrieve price data over time for up to 4 markets with highest YES outcome (outcome_index 0) prices in an event. Perfect for rendering multi-line charts showing price movement across top markets. TradingView-style: resolution parameter determines both candle size and implicit lookback period.","operationId":"get_event_chart","parameters":[{"name":"event_slug","in":"query","description":"Event slug (required)","required":true,"schema":{"type":"string"}},{"name":"condition_ids","in":"query","description":"Comma-separated condition IDs to include (max 4, optional)","required":false,"schema":{"type":"string"}},{"name":"market_slugs","in":"query","description":"Comma-separated market slugs to include (max 4, optional). Use either condition_ids or market_slugs, not both","required":false,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Time interval with implicit lookback: 1H (1 hour), 6H (6 hours), 1D (1 day), 1W (1 week), 1M (30 days), ALL (all data) (required)","required":true,"schema":{"type":"string","enum":["1H","6H","1D","1W","1M","ALL"]}}],"responses":{"200":{"description":"Price data over time for up to 4 markets with highest YES odds","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventMarketChartOutcome"}}}}}}}},"/polymarket/events/metrics":{"get":{"tags":["Events"],"summary":"Get event metrics","description":"Retrieve volume, transaction, and trader metrics for an event. Supports single timeframe (e.g., '1m'), multiple timeframes (e.g., '1m,5m,1h'), or 'all' to get all available timeframes.","operationId":"get_event_metrics","parameters":[{"name":"event_slug","in":"query","description":"Event slug","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: single (1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d, lifetime), comma-separated (1m,5m,1h), or 'all'","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Event metrics. **Note:** returns a single object for one timeframe, or an array of objects for comma-separated timeframes or 'all'.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventMetricsResponse"}}}}},"400":{"description":"Invalid timeframe"}}}},"/polymarket/events/outcomes":{"get":{"tags":["Events"],"summary":"Get event market outcomes","description":"Returns the winning outcome name for each resolved market in an event, keyed by market slug. Useful for quickly checking which outcomes won across a series.","operationId":"get_event_outcomes","parameters":[{"name":"event_slug","in":"query","description":"Event slug (required)","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of resolved markets per page (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key for fetching next page","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Map of market_slug → winning outcome name with pagination metadata","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"propertyNames":{"type":"string"}}}}},"400":{"description":"Missing event_slug parameter"}}}},"/polymarket/events/slug/{event_slug}":{"get":{"tags":["Events"],"summary":"Get event by slug","description":"Retrieve a single event by its slug with optional nested tags, markets, and metrics","operationId":"get_event_by_slug","parameters":[{"name":"event_slug","in":"path","description":"Event slug","required":true,"schema":{"type":"string"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_markets","in":"query","description":"Include markets array with outcomes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include metrics object with all timeframes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Event with nested tags, markets, and series","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolymarketEvent"}}}},"404":{"description":"Event not found"}}}},"/polymarket/events/top-traders":{"get":{"tags":["Events"],"summary":"Get top traders for an event","description":"Top traders ranked by realized PnL for a given event.","operationId":"get_event_top_traders","parameters":[{"name":"event_slug","in":"query","description":"Event slug","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: 1d, 7d, 30d, lifetime (default: lifetime)","required":false,"schema":{"$ref":"#/components/schemas/PnlTimeframe"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 200)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Pagination key from the previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Top traders sorted by realized PnL desc.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TopTraderEventEntry"}}}}}}}},"/polymarket/events/{event_slug}/analytics/changes":{"get":{"tags":["Events"],"summary":"Event analytics pct change","description":"Per-metric % change over the requested lookback window for a specific event.","operationId":"get_event_analytics_changes","parameters":[{"name":"event_slug","in":"path","description":"Event slug","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Lookback window: 1h, 24h, 7d, 30d, 1mo, 1y (default: 24h)","required":false,"schema":{"$ref":"#/components/schemas/ChangeTimeframe"}}],"responses":{"200":{"description":"Per-metric pct change","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricPctChange"}}}}}}},"/polymarket/events/{event_slug}/analytics/deltas":{"get":{"tags":["Events"],"summary":"Event analytics candles (per-bucket deltas)","description":"Returns per-bucket deltas for a specific event (what happened during each bucket).","operationId":"get_event_analytics_deltas","parameters":[{"name":"event_slug","in":"path","description":"Event slug","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Bucket size: 60, 240, D, 1D, W, 1W, M, 1M (default: 60)","required":false,"schema":{"$ref":"#/components/schemas/AnalyticsResolution"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"count_back","in":"query","description":"Max data points (default: 500, max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delta time-bucketed event analytics","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TimeBucketRow"}}}}}}}},"/polymarket/events/{event_slug}/analytics/timeseries":{"get":{"tags":["Events"],"summary":"Event analytics timeseries (cumulative)","description":"Returns cumulative analytics values for a specific event at the end of each bucket.","operationId":"get_event_analytics_timeseries","parameters":[{"name":"event_slug","in":"path","description":"Event slug","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Bucket size: 60, 240, D, 1D, W, 1W, M, 1M (default: 60)","required":false,"schema":{"$ref":"#/components/schemas/AnalyticsResolution"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"count_back","in":"query","description":"Max data points (default: 500, max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Cumulative time-bucketed event analytics","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TimeBucketRow"}}}}}}}},"/polymarket/events/{identifier}":{"get":{"tags":["Events"],"summary":"Get event by ID or slug","description":"Retrieve a single event by its numeric ID or slug with optional nested tags, markets, and metrics","operationId":"get_event","parameters":[{"name":"identifier","in":"path","description":"Event ID or slug","required":true,"schema":{"type":"string"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_markets","in":"query","description":"Include markets array with outcomes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include metrics object with all timeframes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Event with nested tags, markets, and series","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolymarketEvent"}}}},"404":{"description":"Event not found"}}}},"/polymarket/holders/markets":{"get":{"tags":["Holders"],"summary":"Get market holders","description":"Retrieve holders of a market grouped by outcome, sorted by shares held. Identify the market with either `condition_id` or `market_slug` — exactly one must be provided. Set `include_pnl=true` to include a nested holder `pnl` object. Uses cursor-based pagination.","operationId":"get_market_holders","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID (0x-prefixed hex)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (e.g. `will-trump-win`)","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Results limit per outcome (default: 10, max: 100)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}},{"name":"min_shares","in":"query","description":"Minimum shares held (decimal string)","required":false,"schema":{"type":"string"}},{"name":"max_shares","in":"query","description":"Maximum shares held (decimal string)","required":false,"schema":{"type":"string"}},{"name":"include_pnl","in":"query","description":"Include nested holder PnL data (default: false, +1 credit)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Market holders grouped by outcome (sorted by shares DESC). Holder `pnl` is included only when `include_pnl=true`. Response includes `pagination: { has_more, pagination_key }` for cursor-based pagination.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketHoldersResponse"}}}},"404":{"description":"Market not found"}}}},"/polymarket/holders/markets/history":{"get":{"tags":["Holders"],"summary":"Get market holders history","description":"Retrieve historical holder count snapshots for a market over a time range. Identify the market with either `condition_id` or `market_slug` — exactly one must be provided.","operationId":"get_market_holders_history","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID (0x-prefixed hex)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (e.g. `will-trump-win`)","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds). If omitted, derived from `hours` param.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds). Defaults to now.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"count_back","in":"query","description":"Number of candles to return (default: 500, max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"hours","in":"query","description":"Fallback time range in hours when `from`/`to` are not provided (default: 24, max: 336 = 14 days)","required":false,"schema":{"type":"number","format":"double"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Market holder count history with automatic granularity (1m/5m/15m/1h/6h buckets)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HolderHistoryCandle"}}}}},"404":{"description":"Market not found"}}}},"/polymarket/holders/positions/{position_id}":{"get":{"tags":["Holders"],"summary":"Get position holders","description":"Retrieve holders of a specific position (ERC1155 token), sorted by shares held. Set `include_pnl=true` to include nested holder PnL. Uses cursor-based pagination for efficient traversal.","operationId":"get_position_holders","parameters":[{"name":"position_id","in":"path","description":"Position ID (ERC1155 token ID)","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 100)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}},{"name":"min_shares","in":"query","description":"Minimum shares held (decimal string)","required":false,"schema":{"type":"string"}},{"name":"max_shares","in":"query","description":"Maximum shares held (decimal string)","required":false,"schema":{"type":"string"}},{"name":"include_pnl","in":"query","description":"Include nested holder PnL data (default: false, +1 credit)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Position holders (sorted by shares DESC). Holder `pnl` is included only when `include_pnl=true`. Response includes `pagination: { has_more, pagination_key }` for cursor-based pagination.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PositionHoldersResponse"}}}},"404":{"description":"Position not found"}}}},"/polymarket/holders/positions/{position_id}/history":{"get":{"tags":["Holders"],"summary":"Get position holders history","description":"Retrieve historical holder count snapshots for a position over a time range","operationId":"get_position_holders_history","parameters":[{"name":"position_id","in":"path","description":"Position ID (ERC1155 token ID)","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds). If omitted, derived from `hours` param.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds). Defaults to now.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"count_back","in":"query","description":"Number of candles to return (default: 500, max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"hours","in":"query","description":"Fallback time range in hours when `from`/`to` are not provided (default: 24, max: 336 = 14 days)","required":false,"schema":{"type":"number","format":"double"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Position holder count history with automatic granularity (1m/5m/15m/1h/6h buckets)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HolderHistoryCandle"}}}}},"404":{"description":"Position not found"}}}},"/polymarket/market":{"get":{"tags":["Market"],"summary":"Get markets","description":"Retrieve a paginated list of markets with filtering, sorting, and optional nested tags/events/metrics","operationId":"list_markets","parameters":[{"name":"condition_ids","in":"query","description":"Filter by condition ID(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"question_ids","in":"query","description":"Filter by question ID(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"market_ids","in":"query","description":"Filter by market ID(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"market_slugs","in":"query","description":"Filter by market slug(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"event_slugs","in":"query","description":"Filter by event slug(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"position_ids","in":"query","description":"Filter by position ID(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"Search in title (3-100 characters)","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"Filter by status: open, closed, or all (default: all)","required":false,"schema":{"$ref":"#/components/schemas/MarketStatus"}},{"name":"sort_by","in":"query","description":"Sort: volume, txns, unique_traders, liquidity, holders, total_daily_rate, end_time, start_time, created_time, relevance","required":false,"schema":{"$ref":"#/components/schemas/MarketSortBy"}},{"name":"sort_dir","in":"query","description":"Sort direction: asc, desc (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"timeframe","in":"query","description":"Metrics timeframe: 1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d (default: 24h)","required":false,"schema":{"$ref":"#/components/schemas/MetricsTimeframe"}},{"name":"min_volume","in":"query","description":"Minimum total volume USD","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_volume","in":"query","description":"Maximum total volume USD","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_liquidity","in":"query","description":"Minimum liquidity USD","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_liquidity","in":"query","description":"Maximum liquidity USD","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_txns","in":"query","description":"Minimum transactions in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"max_txns","in":"query","description":"Maximum transactions in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"min_unique_traders","in":"query","description":"Minimum unique traders in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"max_unique_traders","in":"query","description":"Maximum unique traders in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"min_holders","in":"query","description":"Minimum total holders","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"max_holders","in":"query","description":"Maximum total holders","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"categories","in":"query","description":"Comma-separated category filters (max 50)","required":false,"schema":{"type":"string"}},{"name":"exclude_categories","in":"query","description":"Comma-separated categories to exclude","required":false,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Filter by tag(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"exclude_tags","in":"query","description":"Comma-separated tags to exclude","required":false,"schema":{"type":"string"}},{"name":"start_time","in":"query","description":"Filter markets with end_time >= start_time (Unix timestamp)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"end_time","in":"query","description":"Filter markets with end_time <= end_time (Unix timestamp)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_event","in":"query","description":"Include event object (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include all timeframe metrics (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 100)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}},{"name":"has_rewards","in":"query","description":"Only return markets that have CLOB rewards (default: false)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"List of markets with metadata, outcomes, tags, event, and metrics. Response includes `pagination: { has_more, pagination_key }` for cursor-based pagination.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MarketResponse"}}}}},"400":{"description":"Bad request - validation error (search length, array limits, conflicting params)"}}}},"/polymarket/market/bonds":{"get":{"tags":["Bonds"],"summary":"Get bonds","description":"Retrieve bond markets with sorting, probability range filter, and deterministic keyset pagination.","operationId":"get_bonds","parameters":[{"name":"min_probability","in":"query","description":"Minimum probability threshold (default: 0.85)","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_probability","in":"query","description":"Maximum probability threshold (e.g. 0.99)","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_hours","in":"query","description":"Maximum hours until market end","required":false,"schema":{"type":"number","format":"double"}},{"name":"sort_by","in":"query","description":"Sort by: apy, liquidity, volume, end_date (default: end_date)","required":false,"schema":{"$ref":"#/components/schemas/BondsSortBy"}},{"name":"limit","in":"query","description":"Number of results (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Initial skip (default: 0). Applied only on the first page; ignored when pagination_key is supplied.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Keyset cursor from previous response. Opaque token — pass verbatim to fetch the next page.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of bond markets","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BondMarket"}}}}}}}},"/polymarket/market/candlestick":{"get":{"tags":["Market"],"summary":"Get market candlesticks by condition_id","description":"Retrieve OHLCV candlestick data for a market by its condition_id","operationId":"get_market_candlestick","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID (required)","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Candle interval: 1, 5, 15, 30, 60, 240, D, 1D","required":true,"schema":{"$ref":"#/components/schemas/CandlestickResolution"}},{"name":"count_back","in":"query","description":"Number of candles (max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OHLCV candlestick data","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PredictionCandlestickBar"}}}}}}}},"/polymarket/market/chart":{"get":{"tags":["Market"],"summary":"Get market chart","description":"Retrieve price data over time for up to 4 position outcomes in a market condition. TradingView-style: resolution parameter determines both candle size and implicit lookback period. Auto-selects the 4 most active outcomes if position_ids not specified.","operationId":"get_chart","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID or market_slug (one required)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}},{"name":"position_ids","in":"query","description":"Comma-separated list of position IDs (max 4, optional). Auto-selected if not provided","required":false,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Time interval with implicit lookback: 1H (1 hour), 6H (6 hours), 1D (1 day), 1W (1 week), 1M (30 days), ALL (all data) (required)","required":true,"schema":{"type":"string","enum":["1H","6H","1D","1W","1M","ALL"]}}],"responses":{"200":{"description":"Price data over time for up to 4 market outcomes","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PositionChartOutcome"}}}}}}}},"/polymarket/market/metrics":{"get":{"tags":["Market"],"summary":"Get market metrics","description":"Retrieve volume, transaction, and trader metrics for a market. Supports single timeframe (e.g., '1m'), multiple timeframes (e.g., '1m,5m,1h'), or 'all' to get all available timeframes.","operationId":"get_market_metrics","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: single (1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d, lifetime), comma-separated (1m,5m,1h), or 'all'","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Market metrics. **Note:** returns a single object for one timeframe, or an array of objects for comma-separated timeframes or 'all'.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConditionMetricsResponse"}}}}},"400":{"description":"Invalid timeframe"}}}},"/polymarket/market/oracle-events":{"get":{"tags":["Market"],"summary":"List oracle events","description":"Retrieve on-chain oracle lifecycle events (resolutions, disputes, assertions, emergency resolutions). Filter by `condition_ids` or `event_types` and paginate with `limit`/`pagination_key`.","operationId":"get_oracle_events","parameters":[{"name":"condition_ids","in":"query","description":"Comma-separated condition IDs (max 20)","required":false,"schema":{"type":"string"}},{"name":"event_types","in":"query","description":"Comma-separated event names: Initialization, Proposal, Dispute, Settled, Resolution, ConditionResolution, Reset, Flag, Unflag, Pause, Unpause, ManualResolution, NegRiskOutcomeReported. Empty = all oracle event types.","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"Results per page (default 10, max 250)","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"offset","in":"query","description":"Pagination offset. Takes precedence over pagination_key.","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}},{"name":"sort_desc","in":"query","description":"Sort direction (default true = newest first)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Oracle events matching the filter","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TradeEvent"}}}}}}}},"/polymarket/market/position/candlestick":{"get":{"tags":["Market"],"summary":"Get position candlesticks by position_id","description":"Retrieve OHLCV candlestick data for a specific position by its position_id","operationId":"get_position_candlestick","parameters":[{"name":"position_id","in":"query","description":"Position/token ID (required)","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Candle interval: 1, 5, 15, 30, 60, 240, D, 1D","required":true,"schema":{"$ref":"#/components/schemas/CandlestickResolution"}},{"name":"count_back","in":"query","description":"Number of candles (max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OHLCV candlestick data","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PredictionCandlestickBar"}}}}}}}},"/polymarket/market/position/metrics":{"get":{"tags":["Market"],"summary":"Get position metrics","description":"Retrieve volume, transaction, and trader metrics for a specific position. Supports single timeframe (e.g., '1m'), multiple timeframes (e.g., '1m,5m,1h'), or 'all' to get all available timeframes.","operationId":"get_position_metrics","parameters":[{"name":"position_id","in":"query","description":"Position/token ID","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: single (1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d), comma-separated (1m,5m,1h), or 'all'","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Position metrics. **Note:** returns a single object for one timeframe, or an array of objects for comma-separated timeframes or 'all'.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PositionMetricsResponse"}}}}},"400":{"description":"Invalid timeframe"}}}},"/polymarket/market/position/top-traders":{"get":{"tags":["Market"],"summary":"Get top traders for a position id / outcome","description":"Top traders ranked by realized PnL on a specific position (ERC1155 outcome token).","operationId":"get_position_top_traders","parameters":[{"name":"position_id","in":"query","description":"Position ID (ERC1155 token ID)","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","description":"Filter by position status (omit for all)","required":false,"schema":{"type":"string","enum":["open","closed"]}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 200)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Pagination key from the previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Top traders sorted by realized PnL desc.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TopTraderPositionEntry"}}}}}}}},"/polymarket/market/position/volume-chart":{"get":{"tags":["Market"],"summary":"Get position volume chart","description":"Retrieve volume over time for a specific position with buy/sell breakdown","operationId":"get_position_volume_chart","parameters":[{"name":"position_id","in":"query","description":"Position/token ID (required)","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Time interval: 1, 5, 15, 30, 60, 240, D, 1D (default: 60)","required":false,"schema":{"$ref":"#/components/schemas/CandlestickResolution"}},{"name":"count_back","in":"query","description":"Number of data points (max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Volume with buy/sell breakdown over time","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PositionVolumeDataPoint"}}}}}}}},"/polymarket/market/price-jumps":{"get":{"tags":["Market"],"summary":"Detect price jumps","description":"Scan candles for significant price movements. Returns jumps with from/to timestamps in milliseconds, directly usable as trades API time range parameters to identify traders who traded before or during the movement.","operationId":"get_price_jumps","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID (one of condition_id or market_slug required)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (resolved to condition_id)","required":false,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Candle resolution in minutes: 1, 5, 15, 30, 60, 240 (default: 15)","required":false,"schema":{"$ref":"#/components/schemas/PriceJumpResolution"}},{"name":"min_change_pct","in":"query","description":"Minimum relative percent change to qualify as a jump (default: 10.0)","required":false,"schema":{"type":"number","format":"double"}},{"name":"lookback","in":"query","description":"Number of candles to scan back from now (default: 1440, max: 2500)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Offset in candles from now — window is [now - (lookback + offset) * resolution, now - offset * resolution] (default: 0)","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Price jumps sorted by timestamp descending","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PriceJump"}}}}}}}},"/polymarket/market/slug/{market_slug}":{"get":{"tags":["Market"],"summary":"Get market by slug","description":"Retrieve one or more markets by slug. Supports batch lookups via query params. Returns an array of MarketResponse objects.","operationId":"get_market_by_slug","parameters":[{"name":"market_slug","in":"path","description":"Market slug (e.g. `will-trump-win`)","required":true,"schema":{"type":"string"}},{"name":"condition_ids","in":"query","description":"Comma-separated condition IDs (max 50)","required":false,"schema":{"type":"string"}},{"name":"question_ids","in":"query","description":"Comma-separated question IDs (max 50)","required":false,"schema":{"type":"string"}},{"name":"market_ids","in":"query","description":"Comma-separated market IDs (max 50)","required":false,"schema":{"type":"string"}},{"name":"market_slugs","in":"query","description":"Comma-separated market slugs (max 50)","required":false,"schema":{"type":"string"}},{"name":"event_slugs","in":"query","description":"Comma-separated event slugs (max 50)","required":false,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Comma-separated tag filters (max 50)","required":false,"schema":{"type":"string"}},{"name":"position_ids","in":"query","description":"Comma-separated position IDs to resolve to markets (max 50)","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"Search string (3-100 characters)","required":false,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Metrics timeframe (default: 24h)","required":false,"schema":{"$ref":"#/components/schemas/MetricsTimeframe"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_event","in":"query","description":"Include event object (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include all timeframe metrics (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Array of markets with metadata, outcomes, tags, event, and metrics","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","description":"Formatted market response with structured metrics, tags, outcomes, and event","required":["condition_id","status"],"properties":{"condition_id":{"type":"string"},"id":{"type":["string","null"]},"market_slug":{"type":["string","null"]},"question":{"type":["string","null"]},"title":{"type":["string","null"]},"description":{"type":["string","null"]},"image_url":{"type":["string","null"]},"oracle":{"type":["string","null"]},"status":{"type":"string"},"created_time":{"type":["integer","null"],"format":"int64"},"start_time":{"type":["integer","null"],"format":"int64"},"game_start_time":{"type":["integer","null"],"format":"int64"},"closed_time":{"type":["integer","null"],"format":"int64"},"end_time":{"type":["integer","null"],"format":"int64"},"accepting_orders":{"type":["boolean","null"]},"uma_resolution_status":{"type":["string","null"]},"is_neg_risk":{"type":["boolean","null"]},"market_maker_address":{"type":["string","null"]},"creator":{"type":["string","null"]},"category":{"type":["string","null"]},"volume_usd":{"type":["number","null"],"format":"double"},"liquidity_usd":{"type":["number","null"],"format":"double"},"highest_probability":{"type":["number","null"],"format":"double"},"total_holders":{"type":["integer","null"],"format":"int64"},"total_daily_rate":{"type":["number","null"],"format":"double"},"winning_outcome":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/MarketOutcome"}]},"outcomes":{"type":"array","items":{"$ref":"#/components/schemas/MarketOutcome"}},"clob_rewards":{"type":"array","items":{"$ref":"#/components/schemas/ClobReward"}},"tags":{"type":"array","items":{"type":"string"}},"event_slug":{"type":["string","null"]},"resolution_source":{"type":["string","null"]},"metrics":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/SimpleTimeframeMetrics"},"propertyNames":{"type":"string"}},"relevance_score":{"type":["number","null"],"format":"double"}}}}}}},"404":{"description":"Market not found"}}}},"/polymarket/market/top-traders":{"get":{"tags":["Market"],"summary":"Get top traders for a market","description":"Top traders ranked by realized PnL for a given market (condition_id or market_slug).","operationId":"get_market_top_traders","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: 1d, 7d, 30d, lifetime (default: lifetime)","required":false,"schema":{"$ref":"#/components/schemas/PnlTimeframe"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 200)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Pagination key from the previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Top traders sorted by realized PnL desc.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TopTraderMarketEntry"}}}}}}}},"/polymarket/market/trades":{"get":{"tags":["Market"],"summary":"Get market trades","description":"Retrieve trades for one or more markets, with filtering by trader, side, price, amount, and time range","operationId":"get_market_trades","parameters":[{"name":"condition_ids","in":"query","description":"Comma-separated condition IDs (max 20)","required":false,"schema":{"type":"string"}},{"name":"slugs","in":"query","description":"Comma-separated market slugs","required":false,"schema":{"type":"string"}},{"name":"position_ids","in":"query","description":"Comma-separated position IDs","required":false,"schema":{"type":"string"}},{"name":"traders","in":"query","description":"Comma-separated trader addresses (max 25)","required":false,"schema":{"type":"string"}},{"name":"builder_codes","in":"query","description":"Comma-separated builder codes (max 25)","required":false,"schema":{"type":"string"}},{"name":"side","in":"query","description":"Trade side: 0 (Buy), 1 (Sell)","required":false,"schema":{"$ref":"#/components/schemas/TradeSide"}},{"name":"outcome","in":"query","description":"Outcome name filter (e.g. Yes, No)","required":false,"schema":{"type":"string"}},{"name":"outcome_index","in":"query","description":"Outcome index: 0 (Yes), 1 (No)","required":false,"schema":{"$ref":"#/components/schemas/OutcomeIndex"}},{"name":"trade_types","in":"query","description":"Comma-separated trade types: OrderFilled, Redemption, Merge, Split, Cancelled, PositionsConverted, OrdersMatched","required":false,"schema":{"type":"string"}},{"name":"min_usd_amount","in":"query","description":"Min USD amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_usd_amount","in":"query","description":"Max USD amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_shares_amount","in":"query","description":"Min shares amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_shares_amount","in":"query","description":"Max shares amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_price","in":"query","description":"Min price (0.0-1.0)","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_price","in":"query","description":"Max price (0.0-1.0)","required":false,"schema":{"type":"number","format":"double"}},{"name":"from","in":"query","description":"Start timestamp (ms)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (ms)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"Results per page (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"offset","in":"query","description":"Pagination offset (number of results to skip). Takes precedence over pagination_key.","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key obtained from previous response's pagination.pagination_key","required":false,"schema":{"type":"string"}},{"name":"sort_desc","in":"query","description":"Sort newest first (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Prediction trades matching filters","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TradeEvent"}}}}}}}},"/polymarket/market/volume-chart":{"get":{"tags":["Market"],"summary":"Get market volume chart","description":"Retrieve volume breakdown by YES/NO outcome over time for a prediction market","operationId":"get_market_volume_chart","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID (or use market_slug)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Time interval: 1, 5, 15, 30, 60, 240, D, 1D (default: 60)","required":false,"schema":{"$ref":"#/components/schemas/CandlestickResolution"}},{"name":"count_back","in":"query","description":"Number of data points (max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Volume breakdown by YES/NO over time","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MarketVolumeDataPoint"}}}}}}}},"/polymarket/market/{condition_id}":{"get":{"tags":["Market"],"summary":"Get market by condition ID","description":"Retrieve one or more markets by condition ID. Supports batch lookups via query params. Returns an array of MarketResponse objects.","operationId":"get_market","parameters":[{"name":"condition_id","in":"path","description":"Market condition ID (0x-prefixed hex)","required":true,"schema":{"type":"string"}},{"name":"condition_ids","in":"query","description":"Comma-separated condition IDs (max 50)","required":false,"schema":{"type":"string"}},{"name":"question_ids","in":"query","description":"Comma-separated question IDs (max 50)","required":false,"schema":{"type":"string"}},{"name":"market_ids","in":"query","description":"Comma-separated market IDs (max 50)","required":false,"schema":{"type":"string"}},{"name":"market_slugs","in":"query","description":"Comma-separated market slugs (max 50)","required":false,"schema":{"type":"string"}},{"name":"event_slugs","in":"query","description":"Comma-separated event slugs (max 50)","required":false,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Comma-separated tag filters (max 50)","required":false,"schema":{"type":"string"}},{"name":"position_ids","in":"query","description":"Comma-separated position IDs to resolve to markets (max 50)","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"Search string (3-100 characters)","required":false,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Metrics timeframe (default: 24h)","required":false,"schema":{"$ref":"#/components/schemas/MetricsTimeframe"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_event","in":"query","description":"Include event object (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include all timeframe metrics (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"ai","in":"query","description":"Return truncated response optimized for AI consumers (default: false)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Array of markets with metadata, outcomes, tags, event, and metrics","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","description":"Formatted market response with structured metrics, tags, outcomes, and event","required":["condition_id","status"],"properties":{"condition_id":{"type":"string"},"id":{"type":["string","null"]},"market_slug":{"type":["string","null"]},"question":{"type":["string","null"]},"title":{"type":["string","null"]},"description":{"type":["string","null"]},"image_url":{"type":["string","null"]},"oracle":{"type":["string","null"]},"status":{"type":"string"},"created_time":{"type":["integer","null"],"format":"int64"},"start_time":{"type":["integer","null"],"format":"int64"},"game_start_time":{"type":["integer","null"],"format":"int64"},"closed_time":{"type":["integer","null"],"format":"int64"},"end_time":{"type":["integer","null"],"format":"int64"},"accepting_orders":{"type":["boolean","null"]},"uma_resolution_status":{"type":["string","null"]},"is_neg_risk":{"type":["boolean","null"]},"market_maker_address":{"type":["string","null"]},"creator":{"type":["string","null"]},"category":{"type":["string","null"]},"volume_usd":{"type":["number","null"],"format":"double"},"liquidity_usd":{"type":["number","null"],"format":"double"},"highest_probability":{"type":["number","null"],"format":"double"},"total_holders":{"type":["integer","null"],"format":"int64"},"total_daily_rate":{"type":["number","null"],"format":"double"},"winning_outcome":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/MarketOutcome"}]},"outcomes":{"type":"array","items":{"$ref":"#/components/schemas/MarketOutcome"}},"clob_rewards":{"type":"array","items":{"$ref":"#/components/schemas/ClobReward"}},"tags":{"type":"array","items":{"type":"string"}},"event_slug":{"type":["string","null"]},"resolution_source":{"type":["string","null"]},"metrics":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/SimpleTimeframeMetrics"},"propertyNames":{"type":"string"}},"relevance_score":{"type":["number","null"],"format":"double"}}}}}}},"404":{"description":"Market not found"}}}},"/polymarket/market/{condition_id}/analytics/changes":{"get":{"tags":["Market"],"summary":"Market analytics pct change","description":"Per-metric % change over the requested lookback window for a specific market.","operationId":"get_market_analytics_changes","parameters":[{"name":"condition_id","in":"path","description":"Market condition ID","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Lookback window: 1h, 24h, 7d, 30d, 1mo, 1y (default: 24h)","required":false,"schema":{"$ref":"#/components/schemas/ChangeTimeframe"}}],"responses":{"200":{"description":"Per-metric pct change","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricPctChange"}}}}}}},"/polymarket/market/{condition_id}/analytics/deltas":{"get":{"tags":["Market"],"summary":"Market analytics candles (per-bucket deltas)","description":"Returns per-bucket deltas for a specific market (what happened during each bucket).","operationId":"get_market_analytics_deltas","parameters":[{"name":"condition_id","in":"path","description":"Market condition ID","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Bucket size: 60, 240, D, 1D, W, 1W, M, 1M (default: 60)","required":false,"schema":{"$ref":"#/components/schemas/AnalyticsResolution"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"count_back","in":"query","description":"Max data points (default: 500, max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delta time-bucketed market analytics","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TimeBucketRow"}}}}}}}},"/polymarket/market/{condition_id}/analytics/timeseries":{"get":{"tags":["Market"],"summary":"Market analytics timeseries (cumulative)","description":"Returns cumulative analytics values for a specific market at the end of each bucket.","operationId":"get_market_analytics_timeseries","parameters":[{"name":"condition_id","in":"path","description":"Market condition ID","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Bucket size: 60, 240, D, 1D, W, 1W, M, 1M (default: 60)","required":false,"schema":{"$ref":"#/components/schemas/AnalyticsResolution"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"count_back","in":"query","description":"Max data points (default: 500, max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor from previous response","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Cumulative time-bucketed market analytics","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TimeBucketRow"}}}}}}}},"/polymarket/order-book":{"get":{"tags":["Order Book"],"summary":"Get order book","description":"Returns the latest CLOB orderbook snapshot for a position, including derived metrics (best bid/ask, mid price, spread, liquidity depth). Data is sourced from the real-time Polymarket WebSocket feed. `bids` and `asks` are arrays of `{\"p\": price, \"s\": size}` objects, sorted best-first.","operationId":"get_order_book","parameters":[{"name":"position_id","in":"query","description":"Token ID (position ID) to query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Latest orderbook snapshot. ts is Unix milliseconds.","content":{"application/json":{"schema":{"type":"object","required":["ts","position_id","condition_id","bids","asks","hash"],"properties":{"ts":{"type":"integer","format":"int64"},"position_id":{"type":"string"},"condition_id":{"type":"string"},"bids":{"type":"array","items":{"$ref":"#/components/schemas/OrderbookLevel"}},"asks":{"type":"array","items":{"$ref":"#/components/schemas/OrderbookLevel"}},"hash":{"type":"string"},"best_bid":{"type":["number","null"],"format":"double"},"best_ask":{"type":["number","null"],"format":"double"},"mid_price":{"type":["number","null"],"format":"double"},"spread":{"type":["number","null"],"format":"double"},"bid_liquidity_usd":{"type":["number","null"],"format":"double"},"ask_liquidity_usd":{"type":["number","null"],"format":"double"},"bid_levels":{"type":["integer","null"],"format":"int32"},"ask_levels":{"type":["integer","null"],"format":"int32"}}}}}},"400":{"description":"Missing or invalid parameters"}}}},"/polymarket/order-book/history":{"get":{"tags":["Order Book"],"summary":"Get order book history","description":"Paginated history of raw CLOB orderbook snapshots including full bids/asks levels and derived metrics. Default limit 20, max 200. `bids` and `asks` are arrays of `{\"p\": price, \"s\": size}` objects, sorted best-first.","operationId":"get_order_book_history","parameters":[{"name":"position_id","in":"query","description":"Token ID (required if condition_id / market_slug not set)","required":false,"schema":{"type":"string"}},{"name":"condition_id","in":"query","description":"Condition ID — returns history for all positions in this market","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Start timestamp (Unix milliseconds, inclusive)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix milliseconds, inclusive)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"min_spread","in":"query","description":"Only return snapshots with spread >= this value","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_spread","in":"query","description":"Only return snapshots with spread <= this value","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_liquidity","in":"query","description":"Only return snapshots where total liquidity (bid + ask) >= this value","required":false,"schema":{"type":"number","format":"double"}},{"name":"limit","in":"query","description":"Number of results (default: 20, max: 200)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Cursor from previous response's pagination.pagination_key","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Orderbook snapshot rows, newest first. ts is Unix milliseconds.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["ts","position_id","condition_id","bids","asks","hash"],"properties":{"ts":{"type":"integer","format":"int64"},"position_id":{"type":"string"},"condition_id":{"type":"string"},"bids":{"type":"array","items":{"$ref":"#/components/schemas/OrderbookLevel"}},"asks":{"type":"array","items":{"$ref":"#/components/schemas/OrderbookLevel"}},"hash":{"type":"string"},"best_bid":{"type":["number","null"],"format":"double"},"best_ask":{"type":["number","null"],"format":"double"},"mid_price":{"type":["number","null"],"format":"double"},"spread":{"type":["number","null"],"format":"double"},"bid_liquidity_usd":{"type":["number","null"],"format":"double"},"ask_liquidity_usd":{"type":["number","null"],"format":"double"},"bid_levels":{"type":["integer","null"],"format":"int32"},"ask_levels":{"type":["integer","null"],"format":"int32"}}}}}}},"400":{"description":"Missing or invalid parameters"}}}},"/polymarket/order-book/market":{"get":{"tags":["Order Book"],"summary":"Get order books for a market","description":"Returns the latest orderbook snapshot for every position (outcome) in a market. Accepts condition_id or market_slug. `bids` and `asks` are arrays of `{\"p\": price, \"s\": size}` objects, sorted best-first.","operationId":"get_market_order_book","parameters":[{"name":"condition_id","in":"query","description":"Condition ID of the market","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Latest orderbook snapshot per position. ts is Unix milliseconds.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["ts","position_id","condition_id","bids","asks","hash"],"properties":{"ts":{"type":"integer","format":"int64"},"position_id":{"type":"string"},"condition_id":{"type":"string"},"bids":{"type":"array","items":{"$ref":"#/components/schemas/OrderbookLevel"}},"asks":{"type":"array","items":{"$ref":"#/components/schemas/OrderbookLevel"}},"hash":{"type":"string"},"best_bid":{"type":["number","null"],"format":"double"},"best_ask":{"type":["number","null"],"format":"double"},"mid_price":{"type":["number","null"],"format":"double"},"spread":{"type":["number","null"],"format":"double"},"bid_liquidity_usd":{"type":["number","null"],"format":"double"},"ask_liquidity_usd":{"type":["number","null"],"format":"double"},"bid_levels":{"type":["integer","null"],"format":"int32"},"ask_levels":{"type":["integer","null"],"format":"int32"}}}}}}},"400":{"description":"Missing or invalid parameters"}}}},"/polymarket/order-book/spread":{"get":{"tags":["Order Book"],"summary":"Get spread history","description":"Lightweight time series of derived orderbook metrics (best bid/ask, mid price, spread, liquidity depth) without raw bids/asks — ideal for charting. Default limit 20, max 200.","operationId":"get_spread_history","parameters":[{"name":"position_id","in":"query","description":"Token ID (required if condition_id / market_slug not set)","required":false,"schema":{"type":"string"}},{"name":"condition_id","in":"query","description":"Condition ID — returns spread history for all positions in this market","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Start timestamp (Unix milliseconds, inclusive)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix milliseconds, inclusive)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"min_spread","in":"query","description":"Only return rows with spread >= this value","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_spread","in":"query","description":"Only return rows with spread <= this value","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_liquidity","in":"query","description":"Only return rows where total liquidity (bid + ask) >= this value","required":false,"schema":{"type":"number","format":"double"}},{"name":"limit","in":"query","description":"Number of results (default: 20, max: 200)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Cursor from previous response's pagination.pagination_key","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Spread time series rows, newest first. ts is Unix milliseconds.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","description":"Lightweight row — derived metrics only, no bids/asks JSONB.","required":["ts","position_id","condition_id"],"properties":{"ts":{"type":"integer","format":"int64"},"position_id":{"type":"string"},"condition_id":{"type":"string"},"best_bid":{"type":["number","null"],"format":"double"},"best_ask":{"type":["number","null"],"format":"double"},"mid_price":{"type":["number","null"],"format":"double"},"spread":{"type":["number","null"],"format":"double"},"bid_liquidity_usd":{"type":["number","null"],"format":"double"},"ask_liquidity_usd":{"type":["number","null"],"format":"double"},"bid_levels":{"type":["integer","null"],"format":"int32"},"ask_levels":{"type":["integer","null"],"format":"int32"}}}}}}},"400":{"description":"Missing or invalid parameters"}}}},"/polymarket/search":{"get":{"tags":["Search"],"summary":"Search events, markets, and traders","description":"Search across markets, events, and traders. Use `type` to limit which categories are searched. Trader search supports wallet address lookup or name search. Results for each category are independently paginated. Only requested categories are included in the response.","operationId":"search","parameters":[{"name":"q","in":"query","description":"Search query (min 2 characters). Prefix with 0x for exact wallet address lookup.","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"Comma-separated categories to search: events, markets, traders (default: all three, 1 credit per type). Example: type=markets,traders","required":false,"schema":{"type":"string"}},{"name":"include_pnl","in":"query","description":"Include lifetime PnL summary for each trader (default: false, +1 credit)","required":false,"schema":{"type":"boolean"}},{"name":"sort_by","in":"query","description":"Sort field applied to both events and markets (default: volume). Fields marked events-only or markets-only fall back to volume on the other category.","required":false,"schema":{"$ref":"#/components/schemas/SearchSortBy"}},{"name":"sort_dir","in":"query","description":"Sort direction (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"timeframe","in":"query","description":"Metrics timeframe used for volume/txns/unique_traders sort (default: 24h)","required":false,"schema":{"$ref":"#/components/schemas/MetricsTimeframe"}},{"name":"limit","in":"query","description":"Results limit per category (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"events_pagination_key","in":"query","description":"Cursor for the next page of events, obtained from previous response's events_pagination.pagination_key","required":false,"schema":{"type":"string"}},{"name":"markets_pagination_key","in":"query","description":"Cursor for the next page of markets, obtained from previous response's markets_pagination.pagination_key","required":false,"schema":{"type":"string"}},{"name":"traders_pagination_key","in":"query","description":"Cursor for the next page of traders, obtained from previous response's traders_pagination.pagination_key","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Search results. Only requested categories (via `type`) are included in the response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"400":{"description":"Bad request — q is missing or shorter than 2 characters"}}}},"/polymarket/series":{"get":{"tags":["Series"],"summary":"List or get series","description":"Retrieve series. Use `id` or `series_slug` for single lookup, `series_ids` or `series_slugs` (comma-separated, max 250, mutually exclusive) for multi-lookup, or paginate with `active_only`.","operationId":"get_series_list","parameters":[{"name":"id","in":"query","description":"Single series ID for direct lookup","required":false,"schema":{"type":"string"}},{"name":"series_ids","in":"query","description":"Comma-separated series IDs (max 250). Mutually exclusive with series_slugs.","required":false,"schema":{"type":"string"}},{"name":"series_slugs","in":"query","description":"Comma-separated series slugs (max 250). Mutually exclusive with series_ids.","required":false,"schema":{"type":"string"}},{"name":"active_only","in":"query","description":"Only active series (default: true). Ignored when series_ids or series_slugs are provided.","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor for pagination: id of the last series from the previous page","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Series or list of series","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolymarketSeries"}}}}},"400":{"description":"series_ids and series_slugs cannot both be provided"}}}},"/polymarket/series/outcomes":{"get":{"tags":["Series"],"summary":"Get series market outcomes","description":"Returns the winning outcome name for each resolved market across all events in a series, keyed by market slug. Useful for checking historical results across recurring series (e.g., btc-updown-5m).","operationId":"get_series_outcomes","parameters":[{"name":"series_slug","in":"query","description":"Series slug (required)","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of resolved markets per page (default: 10, max: 250)","required":false,"schema":{"type":"in
[...]
