{"openapi":"3.1.0","info":{"title":"Polymarket API","description":"RESTful API for querying Polymarket prediction markets data including events, markets, traders, holders, and real-time metrics","license":{"name":""},"version":"1.0.0"},"servers":[{"url":"https://api.struct.to/v1","description":"Production"}],"paths":{"/polymarket/asset-history":{"get":{"tags":["Assets"],"summary":"Get asset price history","description":"Retrieve historical OHLC-style price data for a supported crypto asset (BTC, ETH, XRP, SOL) over a chosen time window variant. Timestamps are Unix seconds. Response includes `pagination: { has_more, pagination_key }` for cursor-based pagination — pass `pagination_key` from the previous response to fetch the next page.","operationId":"get_asset_history","parameters":[{"name":"asset_symbol","in":"query","description":"Asset ticker: BTC, ETH, XRP, or SOL","required":true,"schema":{"$ref":"#/components/schemas/AssetSymbol"}},{"name":"variant","in":"query","description":"Time window: 5m, 15m, 1h, or 1d","required":true,"schema":{"$ref":"#/components/schemas/AssetVariant"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds, inclusive)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds, inclusive, defaults to now)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"Number of results (default: 10, max: 100)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key Obtained from previous response's `pagination.pagination_key`. Pass this to fetch the next page of results.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Asset price history records, sorted newest first. Response includes `pagination: { has_more, pagination_key }` for cursor-based pagination.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetPriceHistoryRow"}}}}},"400":{"description":"Missing or invalid asset_symbol / variant"}}}},"/polymarket/events":{"get":{"tags":["Events"],"summary":"Get events","description":"Retrieve a paginated list of events with filtering, sorting, and optional nested tags/markets","operationId":"get_events","parameters":[{"name":"id","in":"query","description":"Filter by event ID(s) - comma-separated (max 50). Cannot be used with 'event_slugs'. Example: id=99600,99601,99583","required":false,"schema":{"type":"string"}},{"name":"event_slugs","in":"query","description":"Filter by event slug(s) - comma-separated (max 50). Cannot be used with 'id'. Example: event_slugs=will-trump-win,bitcoin-100k","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"Search in title and description (3-100 characters). Example: search=trump","required":false,"schema":{"type":"string"}},{"name":"sort_by","in":"query","description":"Sort: volume, txns, unique_traders, title, creation_date, start_date, end_date, relevance (relevance only works in search mode) (default: volume)","required":false,"schema":{"$ref":"#/components/schemas/EventSortBy"}},{"name":"sort_dir","in":"query","description":"Sort direction: asc, desc (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"timeframe","in":"query","description":"Metrics timeframe: 1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d (default: 24h)","required":false,"schema":{"$ref":"#/components/schemas/MetricsTimeframe"}},{"name":"status","in":"query","description":"Filter by status: open, closed, or all (default: all)","required":false,"schema":{"$ref":"#/components/schemas/MarketStatus"}},{"name":"categories","in":"query","description":"Comma-separated category filters","required":false,"schema":{"type":"string"}},{"name":"exclude_categories","in":"query","description":"Comma-separated categories to exclude","required":false,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Filter by tag slug(s) - comma-separated (max 50). Example: tags=sports,football,crypto","required":false,"schema":{"type":"string"}},{"name":"exclude_tags","in":"query","description":"Comma-separated tag slugs to exclude","required":false,"schema":{"type":"string"}},{"name":"min_volume","in":"query","description":"Minimum volume in selected timeframe","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_volume","in":"query","description":"Maximum volume in selected timeframe","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_txns","in":"query","description":"Minimum transactions in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"max_txns","in":"query","description":"Maximum transactions in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"min_unique_traders","in":"query","description":"Minimum unique traders in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"max_unique_traders","in":"query","description":"Maximum unique traders in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_markets","in":"query","description":"Include markets array with outcomes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include metrics object with all timeframes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 100)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of Polymarket events with nested tags, markets, and series. Response includes `pagination: { has_more, pagination_key }` for cursor-based pagination.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolymarketEvent"}}}}},"400":{"description":"Bad request - validation error (search length, array limits, conflicting params)"}}}},"/polymarket/events/chart":{"get":{"tags":["Events"],"summary":"Get event chart","description":"Retrieve price data over time for up to 4 markets with highest YES outcome (outcome_index 0) prices in an event. Perfect for rendering multi-line charts showing price movement across top markets. TradingView-style: resolution parameter determines both candle size and implicit lookback period.","operationId":"get_event_chart","parameters":[{"name":"event_slug","in":"query","description":"Event slug (required)","required":true,"schema":{"type":"string"}},{"name":"condition_ids","in":"query","description":"Comma-separated condition IDs to include (max 4, optional)","required":false,"schema":{"type":"string"}},{"name":"market_slugs","in":"query","description":"Comma-separated market slugs to include (max 4, optional). Use either condition_ids or market_slugs, not both","required":false,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Time interval with implicit lookback: 1H (1 hour), 6H (6 hours), 1D (1 day), 1W (1 week), 1M (30 days), ALL (all data) (required)","required":true,"schema":{"type":"string","enum":["1H","6H","1D","1W","1M","ALL"]}}],"responses":{"200":{"description":"Price data over time for up to 4 markets with highest YES odds","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventMarketChartOutcome"}}}}}}}},"/polymarket/events/metrics":{"get":{"tags":["Events"],"summary":"Get event metrics","description":"Retrieve volume, transaction, and trader metrics for an event. Supports single timeframe (e.g., '1m'), multiple timeframes (e.g., '1m,5m,1h'), or 'all' to get all available timeframes.","operationId":"get_event_metrics","parameters":[{"name":"event_slug","in":"query","description":"Event slug","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: single (1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d), comma-separated (1m,5m,1h), or 'all'","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Event metrics for the specified timeframe(s). Returns single object for one timeframe, array for multiple.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventMetricsResponse"}}}},"400":{"description":"Invalid timeframe"},"404":{"description":"Event metrics not found"}}}},"/polymarket/events/outcomes":{"get":{"tags":["Events"],"summary":"Get event market outcomes","description":"Returns the winning outcome name for each resolved market in an event, keyed by market slug. Useful for quickly checking which outcomes won across a series.","operationId":"get_event_outcomes","parameters":[{"name":"event_slug","in":"query","description":"Event slug (required)","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of resolved markets per page (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key for fetching next page","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Map of market_slug → winning outcome name with pagination metadata"},"400":{"description":"Missing event_slug parameter"}}}},"/polymarket/holders/markets":{"get":{"tags":["Holders"],"summary":"Get market holders","description":"Retrieve holders of a market grouped by outcome, sorted by shares held. Identify the market with either `condition_id` or `market_slug` — exactly one must be provided. Each holder includes a nested `pnl` object with position-level PnL sourced from the position PnL table.","operationId":"get_market_holders","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID (0x-prefixed hex)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (e.g. `will-trump-win`)","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 100)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"min_shares","in":"query","description":"Minimum shares held (decimal string)","required":false,"schema":{"type":"string"}},{"name":"max_shares","in":"query","description":"Maximum shares held (decimal string)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Market holders grouped by outcome (sorted by shares DESC). Each holder has `pnl: PositionHolderPnl` with outcome-specific trading stats.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketHoldersResponse"}}}},"404":{"description":"Market not found"}}}},"/polymarket/holders/markets/history":{"get":{"tags":["Holders"],"summary":"Get market holders history","description":"Retrieve historical holder count snapshots for a market over a time range. Identify the market with either `condition_id` or `market_slug` — exactly one must be provided.","operationId":"get_market_holders_history","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID (0x-prefixed hex)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (e.g. `will-trump-win`)","required":false,"schema":{"type":"string"}},{"name":"hours","in":"query","description":"Time range in hours (default: 24, max: 336 = 14 days)","required":false,"schema":{"type":"number","format":"double"}}],"responses":{"200":{"description":"Market holder count history with automatic view selection (1m/5m/15m/1h/6h buckets)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HolderHistoryCandle"}}}}},"404":{"description":"Market not found"}}}},"/polymarket/holders/positions/{position_id}":{"get":{"tags":["Holders"],"summary":"Get position holders","description":"Retrieve holders of a specific position (ERC1155 token), sorted by shares held. Each holder includes a nested `pnl` object with position-level PnL (realized_pnl_usd, buy_usd, sell_usd, avg_entry_price, avg_exit_price, total_buys, total_sells, total_fees, first/last_trade_at) sourced from the position PnL table — no extra joins required at query time. Uses cursor-based pagination for efficient traversal.","operationId":"get_position_holders","parameters":[{"name":"position_id","in":"path","description":"Position ID (ERC1155 token ID)","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 100)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}},{"name":"min_shares","in":"query","description":"Minimum shares held (decimal string)","required":false,"schema":{"type":"string"}},{"name":"max_shares","in":"query","description":"Maximum shares held (decimal string)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Position holders (sorted by shares DESC). Each holder has `pnl: PositionHolderPnl` with outcome-specific trading stats. Response includes `pagination: { has_more, pagination_key }` for cursor-based pagination.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PositionHoldersResponse"}}}},"404":{"description":"Position not found"}}}},"/polymarket/holders/positions/{position_id}/history":{"get":{"tags":["Holders"],"summary":"Get position holders history","description":"Retrieve historical holder count snapshots for a position over a time range","operationId":"get_position_holders_history","parameters":[{"name":"position_id","in":"path","description":"Position ID (ERC1155 token ID)","required":true,"schema":{"type":"string"}},{"name":"hours","in":"query","description":"Time range in hours (default: 24, max: 336 = 14 days)","required":false,"schema":{"type":"number","format":"double"}}],"responses":{"200":{"description":"Position holder count history with automatic view selection (1m/5m/15m/1h/6h buckets)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HolderHistoryCandle"}}}}},"404":{"description":"Position not found"}}}},"/polymarket/market":{"get":{"tags":["Market"],"summary":"Get markets","description":"Retrieve a paginated list of markets with filtering, sorting, and optional nested tags/events/metrics","operationId":"list_markets","parameters":[{"name":"condition_ids","in":"query","description":"Filter by condition ID(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"question_ids","in":"query","description":"Filter by question ID(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"market_ids","in":"query","description":"Filter by market ID(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"market_slugs","in":"query","description":"Filter by market slug(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"event_slugs","in":"query","description":"Filter by event slug(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"position_ids","in":"query","description":"Filter by position ID(s) - comma-separated (max 50), resolved via market_outcomes table","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"Search in title (3-100 characters)","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"Filter by status: open, closed, or all (default: all)","required":false,"schema":{"$ref":"#/components/schemas/MarketStatus"}},{"name":"sort_by","in":"query","description":"Sort: volume, txns, unique_traders, liquidity, holders, end_time, start_time, created_time, created_at, relevance","required":false,"schema":{"$ref":"#/components/schemas/MarketSortBy"}},{"name":"sort_dir","in":"query","description":"Sort direction: asc, desc (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"timeframe","in":"query","description":"Metrics timeframe: 1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d (default: 24h)","required":false,"schema":{"$ref":"#/components/schemas/MetricsTimeframe"}},{"name":"min_volume","in":"query","description":"Minimum total volume USD","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_volume","in":"query","description":"Maximum total volume USD","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_liquidity","in":"query","description":"Minimum liquidity USD","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_liquidity","in":"query","description":"Maximum liquidity USD","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_txns","in":"query","description":"Minimum transactions in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"max_txns","in":"query","description":"Maximum transactions in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"min_unique_traders","in":"query","description":"Minimum unique traders in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"max_unique_traders","in":"query","description":"Maximum unique traders in selected timeframe","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"min_holders","in":"query","description":"Minimum total holders","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"max_holders","in":"query","description":"Maximum total holders","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"categories","in":"query","description":"Comma-separated category filters (max 50)","required":false,"schema":{"type":"string"}},{"name":"exclude_categories","in":"query","description":"Comma-separated categories to exclude","required":false,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Filter by tag(s) - comma-separated (max 50)","required":false,"schema":{"type":"string"}},{"name":"exclude_tags","in":"query","description":"Comma-separated tags to exclude","required":false,"schema":{"type":"string"}},{"name":"start_time","in":"query","description":"Filter markets with end_time >= start_time (Unix timestamp)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"end_time","in":"query","description":"Filter markets with end_time <= end_time (Unix timestamp)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_event","in":"query","description":"Include event object (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include all timeframe metrics (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 100)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of markets with metadata, outcomes, tags, event, and metrics. Response includes `pagination: { has_more, pagination_key }` for cursor-based pagination."},"400":{"description":"Bad request - validation error (search length, array limits, conflicting params)"}}}},"/polymarket/market/bonds":{"get":{"tags":["Bonds"],"summary":"Get bonds","description":"Retrieve a list of bond markets sorted by yield, filtered by probability and time to expiry","operationId":"get_bonds","parameters":[{"name":"min_probability","in":"query","description":"Minimum probability threshold (default: 0.85)","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_hours","in":"query","description":"Maximum hours until market end","required":false,"schema":{"type":"number","format":"double"}},{"name":"limit","in":"query","description":"Number of results (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor for pagination: end_date (unix epoch) of the last item from the previous page","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"List of bond markets sorted by yield","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BondMarket"}}}}}}}},"/polymarket/market/candlestick":{"get":{"tags":["Market"],"summary":"Get market candlesticks by condition_id","description":"Retrieve OHLCV candlestick data for a market by its condition_id","operationId":"get_market_candlestick","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID (required)","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Candle interval: 1, 5, 15, 30, 60, 240, D, 1D","required":true,"schema":{"$ref":"#/components/schemas/CandlestickResolution"}},{"name":"count_back","in":"query","description":"Number of candles (max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OHLCV candlestick data","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PredictionCandlestickBar"}}}}}}}},"/polymarket/market/chart":{"get":{"tags":["Market"],"summary":"Get market chart","description":"Retrieve price data over time for up to 4 position outcomes in a market condition. TradingView-style: resolution parameter determines both candle size and implicit lookback period. Auto-selects the 4 most active outcomes if position_ids not specified.","operationId":"get_chart","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID or market_slug (one required)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}},{"name":"position_ids","in":"query","description":"Comma-separated list of position IDs (max 4, optional). Auto-selected if not provided","required":false,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Time interval with implicit lookback: 1H (1 hour), 6H (6 hours), 1D (1 day), 1W (1 week), 1M (30 days), ALL (all data) (required)","required":true,"schema":{"type":"string","enum":["1H","6H","1D","1W","1M","ALL"]}}],"responses":{"200":{"description":"Price data over time for up to 4 market outcomes","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PositionChartOutcome"}}}}}}}},"/polymarket/market/metrics":{"get":{"tags":["Market"],"summary":"Get market metrics","description":"Retrieve volume, transaction, and trader metrics for a market. Supports single timeframe (e.g., '1m'), multiple timeframes (e.g., '1m,5m,1h'), or 'all' to get all available timeframes.","operationId":"get_market_metrics","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: single (1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d), comma-separated (1m,5m,1h), or 'all'","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Market metrics for the specified timeframe(s). Returns single object for one timeframe, array for multiple.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConditionMetricsResponse"}}}},"400":{"description":"Invalid timeframe"},"404":{"description":"Market metrics not found"}}}},"/polymarket/market/position/candlestick":{"get":{"tags":["Market"],"summary":"Get position candlesticks by position_id","description":"Retrieve OHLCV candlestick data for a specific position by its position_id","operationId":"get_position_candlestick","parameters":[{"name":"position_id","in":"query","description":"Position/token ID (required)","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Candle interval: 1, 5, 15, 30, 60, 240, D, 1D","required":true,"schema":{"$ref":"#/components/schemas/CandlestickResolution"}},{"name":"count_back","in":"query","description":"Number of candles (max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OHLCV candlestick data","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PredictionCandlestickBar"}}}}}}}},"/polymarket/market/position/metrics":{"get":{"tags":["Market"],"summary":"Get position metrics","description":"Retrieve volume, transaction, and trader metrics for a specific position. Supports single timeframe (e.g., '1m'), multiple timeframes (e.g., '1m,5m,1h'), or 'all' to get all available timeframes.","operationId":"get_position_metrics","parameters":[{"name":"position_id","in":"query","description":"Position/token ID","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: single (1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d), comma-separated (1m,5m,1h), or 'all'","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Position metrics for the specified timeframe(s). Returns single object for one timeframe, array for multiple.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PositionMetricsResponse"}}}},"400":{"description":"Invalid timeframe"},"404":{"description":"Position metrics not found"}}}},"/polymarket/market/position/volume-chart":{"get":{"tags":["Market"],"summary":"Get position volume chart","description":"Retrieve volume over time for a specific position with buy/sell breakdown","operationId":"get_position_volume_chart","parameters":[{"name":"position_id","in":"query","description":"Position/token ID (required)","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Time interval: 1, 5, 15, 30, 60, 240, D, 1D (default: 60)","required":false,"schema":{"$ref":"#/components/schemas/CandlestickResolution"}},{"name":"count_back","in":"query","description":"Number of data points (max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Volume with buy/sell breakdown over time","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PositionVolumeDataPoint"}}}}}}}},"/polymarket/market/price-jumps":{"get":{"tags":["Market"],"summary":"Detect price jumps","description":"Scan candles for significant price movements. Returns jumps with from/to timestamps in milliseconds, directly usable as trades API time range parameters to identify traders who traded before or during the movement.","operationId":"get_price_jumps","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID (one of condition_id or market_slug required)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (resolved to condition_id)","required":false,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Candle resolution in minutes: 1, 5, 15, 30, 60, 240 (default: 15)","required":false,"schema":{"type":"string"}},{"name":"min_change_pct","in":"query","description":"Minimum relative percent change to qualify as a jump (default: 10.0)","required":false,"schema":{"type":"number","format":"double"}},{"name":"lookback","in":"query","description":"Number of candles to scan back from now (default: 1440, max: 2500)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Offset in candles from now — window is [now - (lookback + offset) * resolution, now - offset * resolution] (default: 0)","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Price jumps sorted by timestamp descending","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PriceJump"}}}}}}}},"/polymarket/market/trades":{"get":{"tags":["Market"],"summary":"Get market trades","description":"Retrieve trades for one or more markets, with filtering by trader, side, price, amount, and time range","operationId":"get_market_trades","parameters":[{"name":"condition_ids","in":"query","description":"Comma-separated condition IDs (max 20)","required":false,"schema":{"type":"string"}},{"name":"slugs","in":"query","description":"Comma-separated market slugs","required":false,"schema":{"type":"string"}},{"name":"position_ids","in":"query","description":"Comma-separated position IDs","required":false,"schema":{"type":"string"}},{"name":"traders","in":"query","description":"Comma-separated trader addresses (max 25)","required":false,"schema":{"type":"string"}},{"name":"side","in":"query","description":"Trade side: 0 (Buy), 1 (Sell)","required":false,"schema":{"$ref":"#/components/schemas/TradeSide"}},{"name":"outcome","in":"query","description":"Outcome name filter (e.g. Yes, No)","required":false,"schema":{"type":"string"}},{"name":"outcome_index","in":"query","description":"Outcome index: 0 (Yes), 1 (No)","required":false,"schema":{"$ref":"#/components/schemas/OutcomeIndex"}},{"name":"trade_type","in":"query","description":"Trade type: 0 (OrderFilled), 1 (Redemption), 2 (Merge)","required":false,"schema":{"$ref":"#/components/schemas/TradeType"}},{"name":"min_usd_amount","in":"query","description":"Min USD amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_usd_amount","in":"query","description":"Max USD amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_shares_amount","in":"query","description":"Min shares amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_shares_amount","in":"query","description":"Max shares amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_price","in":"query","description":"Min price (0.0-1.0)","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_price","in":"query","description":"Max price (0.0-1.0)","required":false,"schema":{"type":"number","format":"double"}},{"name":"from","in":"query","description":"Start timestamp (ms)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (ms)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"all","in":"query","description":"Return all-time trades, not just last 30 days (default: false)","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Results per page (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"pagination_key","in":"query","description":"Offset-based pagination key (integer offset into result set)","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"sort_desc","in":"query","description":"Sort newest first (default: true)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Prediction trades matching filters","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PredictionTradeResponse"}}}}}}}},"/polymarket/market/volume-chart":{"get":{"tags":["Market"],"summary":"Get market volume chart","description":"Retrieve volume breakdown by YES/NO outcome over time for a prediction market","operationId":"get_market_volume_chart","parameters":[{"name":"condition_id","in":"query","description":"Market condition ID (or use market_slug)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Time interval: 1, 5, 15, 30, 60, 240, D, 1D (default: 60)","required":false,"schema":{"$ref":"#/components/schemas/CandlestickResolution"}},{"name":"count_back","in":"query","description":"Number of data points (max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Volume breakdown by YES/NO over time","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MarketVolumeDataPoint"}}}}}}}},"/polymarket/search":{"get":{"tags":["Search"],"summary":"Search events or traders","description":"Search across events and traders by keyword","operationId":"search","parameters":[{"name":"q","in":"query","description":"Search query (min 2 characters)","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Results limit (default: 20)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Offset-based pagination key (integer offset into result set)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Search results with events and traders","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}}}}},"/polymarket/series":{"get":{"tags":["Series"],"summary":"Get series","description":"Retrieve a paginated list of event series","operationId":"get_series_list","parameters":[{"name":"active_only","in":"query","description":"Only active series (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Results limit (default: 10)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor for pagination: id of the last series from the previous page","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of prediction market series","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolymarketSeries"}}}}}}}},"/polymarket/series/outcomes":{"get":{"tags":["Series"],"summary":"Get series market outcomes","description":"Returns the winning outcome name for each resolved market across all events in a series, keyed by market slug. Useful for checking historical results across recurring series (e.g., btc-updown-5m).","operationId":"get_series_outcomes","parameters":[{"name":"series_slug","in":"query","description":"Series slug (required)","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of resolved markets per page (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key for fetching next page","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Map of market_slug → winning outcome name with pagination metadata"},"400":{"description":"Missing series_slug parameter"}}}},"/polymarket/series/{identifier}":{"get":{"tags":["Series"],"summary":"Get series by ID","description":"Retrieve a single series by its ID or slug","operationId":"get_series_by_id","parameters":[{"name":"identifier","in":"path","description":"Series slug or ID","required":true,"schema":{"type":"string"}},{"name":"slim","in":"query","description":"Return minimal data without events (default: false)","required":false,"schema":{"type":"boolean"}},{"name":"event_limit","in":"query","description":"Events to include (default: 20, max: 100)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"event_offset","in":"query","description":"Event pagination offset","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Series details with events and tags","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeriesFullResponse"}}}},"404":{"description":"Series not found"}}}},"/polymarket/series/{identifier}/events":{"get":{"tags":["Series"],"summary":"Get events from series","description":"Retrieve all events belonging to a specific series","operationId":"get_series_events","parameters":[{"name":"identifier","in":"path","description":"Series slug or ID","required":true,"schema":{"type":"string"}},{"name":"active_only","in":"query","description":"Only active events (default: false)","required":false,"schema":{"type":"boolean"}},{"name":"include_tags","in":"query","description":"Include tags array (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_markets","in":"query","description":"Include markets array with outcomes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"include_metrics","in":"query","description":"Include metrics object with all timeframes (default: true)","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Results limit (default: 10)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Offset-based pagination key (integer offset into result set)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Events belonging to this series with nested tags and markets","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolymarketEvent"}}}}}}}},"/polymarket/tags":{"get":{"tags":["Tags"],"summary":"Get tags","description":"Retrieve all available event tags/categories. Uses cursor-based pagination for efficient traversal.","operationId":"get_tags","parameters":[{"name":"limit","in":"query","description":"Results limit (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of all tags","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolymarketTag"}}}}}}}},"/polymarket/tags/{identifier}":{"get":{"tags":["Tags"],"summary":"Get tag by slug","description":"Retrieve a single tag by its ID or slug","operationId":"get_tag_by_id","parameters":[{"name":"identifier","in":"path","description":"Tag ID or slug","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Tag details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolymarketTag"}}}},"404":{"description":"Tag not found"}}}},"/polymarket/trader/global_pnl":{"get":{"tags":["Trader"],"summary":"Get global leaderboard","description":"Retrieve the global PnL leaderboard ranked by profit and loss. Uses cursor-based pagination for efficient traversal of large datasets.","operationId":"get_global_pnl","parameters":[{"name":"timeframe","in":"query","description":"Timeframe: 1d, 7d, 30d, lifetime (default: 7d)","required":false,"schema":{"$ref":"#/components/schemas/PnlTimeframe"}},{"name":"sort_by","in":"query","description":"Sort: pnl_usd, buys, sells, redemptions, merges, avg_hold_time, markets_traded, events_traded, markets_won, volume_usd, fees, best_trade, worst_trade (default: pnl_usd)","required":false,"schema":{"$ref":"#/components/schemas/GlobalPnlSortBy"}},{"name":"sort_direction","in":"query","description":"Sort direction: asc, desc (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 200)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Global PnL leaderboard with trader stats. Response includes `pagination: { has_more, pagination_key }` for cursor-based pagination.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GlobalPnlTrader"}}}}}}}},"/polymarket/trader/pnl/{address}":{"get":{"tags":["Trader"],"summary":"Get trader PnL summary","description":"Retrieve a trader's overall profit and loss summary","operationId":"get_trader_pnl","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: 1d, 7d, 30d, lifetime (default: 7d)","required":false,"schema":{"$ref":"#/components/schemas/PnlTimeframe"}}],"responses":{"200":{"description":"Trader's global PnL summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GlobalPnlTrader"}}}},"404":{"description":"Trader not found"}}}},"/polymarket/trader/pnl/{address}/candles":{"get":{"tags":["Trader"],"summary":"Get trader PnL candles","description":"Retrieve PnL candle data for charting a trader's equity curve over time","operationId":"get_trader_pnl_candles","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Candle resolution: 1m, 1h, 1d (default: 1h)","required":false,"schema":{"$ref":"#/components/schemas/PnlCandleResolution"}},{"name":"start_ts","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"end_ts","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"Results limit (default: 1440, max: 10000)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"PnL candles for equity curve charting","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PnlCandleEntry"}}}}}}}},"/polymarket/trader/pnl/{address}/events":{"get":{"tags":["Trader"],"summary":"Get trader event PnL","description":"Retrieve event-level PnL breakdown for a trader","operationId":"get_trader_event_pnl","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: 1d, 7d, 30d, lifetime (default: 7d)","required":false,"schema":{"$ref":"#/components/schemas/PnlTimeframe"}},{"name":"sort_by","in":"query","description":"Sort: realized_pnl_usd, total_volume_usd, markets_traded, total_fees (default: realized_pnl_usd)","required":false,"schema":{"$ref":"#/components/schemas/EventPnlSortBy"}},{"name":"sort_direction","in":"query","description":"Sort direction: asc, desc (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 200)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}},{"name":"event_slug","in":"query","description":"Filter by event slug","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Event-level PnL entries for this trader","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TraderEventPnlEntry"}}}}}}}},"/polymarket/trader/pnl/{address}/markets":{"get":{"tags":["Trader"],"summary":"Get trader market PnL","description":"Retrieve market-level PnL breakdown for a trader","operationId":"get_trader_market_pnl","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: 1d, 7d, 30d, lifetime (default: 7d)","required":false,"schema":{"$ref":"#/components/schemas/PnlTimeframe"}},{"name":"sort_by","in":"query","description":"Sort: realized_pnl_usd, buy_usd, total_buys, total_fees, outcomes_traded (default: realized_pnl_usd)","required":false,"schema":{"$ref":"#/components/schemas/MarketPnlSortBy"}},{"name":"sort_direction","in":"query","description":"Sort direction: asc, desc (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 200)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}},{"name":"condition_id","in":"query","description":"Filter by condition ID (or use market_slug)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Filter by market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}},{"name":"event_slug","in":"query","description":"Filter by event slug","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Market-level PnL entries for this trader","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TraderMarketPnlEntry"}}}}}}}},"/polymarket/trader/pnl/{address}/positions":{"get":{"tags":["Trader"],"summary":"Get trader position PnL","description":"Retrieve per-outcome-token PnL for a trader. Only includes OrderFilled trades (no redemptions/merges). Each entry represents a specific position (outcome token) the trader has bought or sold.","operationId":"get_trader_position_pnl","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}},{"name":"timeframe","in":"query","description":"Timeframe: 1d, 7d, 30d, lifetime (default: 7d)","required":false,"schema":{"$ref":"#/components/schemas/PnlTimeframe"}},{"name":"sort_by","in":"query","description":"Sort: realized_pnl_usd, buy_usd, sell_usd, total_buys, total_sells, total_fees (default: realized_pnl_usd)","required":false,"schema":{"$ref":"#/components/schemas/PositionPnlSortBy"}},{"name":"sort_direction","in":"query","description":"Sort direction: asc, desc (default: desc)","required":false,"schema":{"$ref":"#/components/schemas/SortDirection"}},{"name":"limit","in":"query","description":"Results limit (default: 10, max: 200)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagination_key","in":"query","description":"Cursor-based pagination key","required":false,"schema":{"type":"string"}},{"name":"condition_id","in":"query","description":"Filter by market condition ID (or use market_slug)","required":false,"schema":{"type":"string"}},{"name":"market_slug","in":"query","description":"Filter by market slug (alternative to condition_id)","required":false,"schema":{"type":"string"}},{"name":"position_id","in":"query","description":"Filter by specific outcome token (position ID)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Position-level PnL entries for this trader. Each entry is a specific outcome token with avg_entry_price and avg_exit_price.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TraderOutcomePnlEntry"}}}}}}}},"/polymarket/trader/profile/{address}":{"get":{"tags":["Trader"],"summary":"Get trader overview","description":"Retrieve a trader's profile including stats and trading history summary","operationId":"get_trader_profile","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Trader profile information with username, bio, and badges","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolymarketUserProfile"}}}},"404":{"description":"Profile not found"}}}},"/polymarket/trader/profiles/batch":{"get":{"tags":["Trader"],"summary":"Get multiple trader profiles","description":"Retrieve profiles for multiple traders in a single request. Returns an array of profiles.","operationId":"get_trader_profiles_batch","parameters":[{"name":"addresses","in":"query","description":"Comma-separated list of trader addresses (max: 20)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Array of trader profiles","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolymarketUserProfile"}}}}},"400":{"description":"Invalid request (empty addresses or more than 20)"}}}},"/polymarket/trader/trades/{address}":{"get":{"tags":["Trader"],"summary":"Get trader trades","description":"Retrieve trade history for a specific trader across all markets","operationId":"get_trader_trades","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}},{"name":"condition_ids","in":"query","description":"Comma-separated condition IDs (max 20)","required":false,"schema":{"type":"string"}},{"name":"slugs","in":"query","description":"Comma-separated market slugs","required":false,"schema":{"type":"string"}},{"name":"position_ids","in":"query","description":"Comma-separated position IDs","required":false,"schema":{"type":"string"}},{"name":"side","in":"query","description":"Trade side: 0 (Buy), 1 (Sell)","required":false,"schema":{"$ref":"#/components/schemas/TradeSide"}},{"name":"outcome","in":"query","description":"Outcome name filter (e.g. Yes, No)","required":false,"schema":{"type":"string"}},{"name":"outcome_index","in":"query","description":"Outcome index: 0 (Yes), 1 (No)","required":false,"schema":{"$ref":"#/components/schemas/OutcomeIndex"}},{"name":"trade_type","in":"query","description":"Trade type: 0 (OrderFilled), 1 (Redemption), 2 (Merge)","required":false,"schema":{"$ref":"#/components/schemas/TradeType"}},{"name":"min_usd_amount","in":"query","description":"Min USD amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_usd_amount","in":"query","description":"Max USD amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_shares_amount","in":"query","description":"Min shares amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_shares_amount","in":"query","description":"Max shares amount","required":false,"schema":{"type":"number","format":"double"}},{"name":"min_price","in":"query","description":"Min price (0.0-1.0)","required":false,"schema":{"type":"number","format":"double"}},{"name":"max_price","in":"query","description":"Max price (0.0-1.0)","required":false,"schema":{"type":"number","format":"double"}},{"name":"from","in":"query","description":"Start timestamp (ms)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (ms)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"all","in":"query","description":"Return all-time trades, not just last 30 days (default: false)","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Results per page (default: 10, max: 250)","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"pagination_key","in":"query","description":"Offset-based pagination key (integer offset into result set)","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"sort_desc","in":"query","description":"Sort newest first (default: true)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Trader's trade history with advanced filtering (same as /market/trades but filtered by trader)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PredictionTradeResponse"}}}}}}}},"/polymarket/trader/volume-chart/{address}":{"get":{"tags":["Trader"],"summary":"Get trader volume chart","description":"Retrieve volume breakdown by buy/sell over time for a specific trader","operationId":"get_trader_volume_chart","parameters":[{"name":"address","in":"path","description":"Trader wallet address","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Time interval: 1, 5, 15, 30, 60, 240, D, 1D (default: 60)","required":false,"schema":{"$ref":"#/components/schemas/CandlestickResolution"}},{"name":"count_back","in":"query","description":"Number of data points (max: 2500)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Start timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","description":"End timestamp (Unix seconds)","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Trader volume with buy/sell breakdown over time","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TraderVolumeDataPoint"}}}}}}}}},"components":{"schemas":{"AssetPriceHistoryRow":{"type":"object","description":"A single asset price history record from the `asset_price_history` table.","required":["asset_symbol","asset_open_price","asset_close_price","variant","start_time","end_time"],"properties":{"asset_symbol":{"type":"string"},"asset_open_price":{"type":"number","format":"double","description":"Opening price at start_time (cast to f64 from NUMERIC in query)"},"asset_close_price":{"type":"number","format":"double","description":"Closing price at end_time (cast to f64 from NUMERIC in query)"},"price_change_percentage":{"type":["number","null"],"format":"double"},"outcome":{"type":["string","null"],"description":"Generated column: \"up\" if close > open, \"down\" if close ≤ open, null if no close yet"},"variant":{"type":"string","description":"Time window: \"5m\", \"15m\", \"1h\", \"1d\""},"start_time":{"type":"integer","format":"int64","description":"Window start timestamp (seconds since epoch)"},"end_time":{"type":"integer","format":"int64","description":"Window end timestamp (seconds since epoch)"}}},"AssetSymbol":{"type":"string","enum":["BTC","ETH","XRP","SOL"]},"AssetVariant":{"type":"string","enum":["5m","15m","1h","1d"]},"BondMarket":{"type":"object","required":["condition_id","question","market_slug","end_time","best_outcome_index","return_pct","apy","outcomes"],"properties":{"condition_id":{"type":"string"},"title":{"type":["string","null"]},"question":{"type":"string"},"market_slug":{"type":"string"},"event_slug":{"type":["string","null"]},"image_url":{"type":["string","null"]},"end_time":{"type":"integer","format":"int64"},"best_outcome_index":{"type":"integer","format":"int32","minimum":0},"return_pct":{"type":"number","format":"double"},"apy":{"type":"number","format":"double"},"volume_24h":{"type":["number","null"],"format":"double"},"outcomes":{"type":"array","items":{"$ref":"#/components/schemas/BondOutcome"}}}},"BondOutcome":{"type":"object","required":["name","index","position_id","price"],"properties":{"name":{"type":"string"},"index":{"type":"integer","format":"int32"},"position_id":{"type":"string"},"price":{"type":"number","format":"double"}}},"CandlestickResolution":{"type":"string","enum":["1","5","15","30","60","240","D","1D"]},"ClobReward":{"type":"object","description":"CLOB reward (public API format)","required":["id","condition_id"],"properties":{"id":{"type":"string"},"condition_id":{"type":"string"},"asset_address":{"type":["string","null"]},"rewards_amount":{"type":["number","null"],"format":"double"},"rewards_daily_rate":{"type":["number","null"],"format":"double"},"start_date":{"type":["string","null"]},"end_date":{"type":["string","null"]}}},"ConditionMetricsResponse":{"type":"object","description":"Response type for condition metrics query","required":["condition_id","timeframe","volume_usd","fees","txns","unique_traders"],"properties":{"condition_id":{"type":"string"},"timeframe":{"type":"string"},"volume_usd":{"type":"number","format":"double"},"fees":{"type":"number","format":"double"},"txns":{"type":"integer","format":"int32"},"unique_traders":{"type":"integer","format":"int32"}}},"EventMarket":{"type":"object","description":"Enriched market data for event API responses","properties":{"condition_id":{"type":"string","default":""},"id":{"type":["string","null"],"default":null},"title":{"type":["string","null"],"default":null},"question":{"type":"string","default":""},"market_slug":{"type":"string","default":""},"status":{"type":"string","default":""},"created_time":{"type":["integer","null"],"format":"int64","default":null},"end_time":{"type":["integer","null"],"format":"int64","default":null},"volume":{"type":["number","null"],"format":"double","default":null},"liquidity_usd":{"type":["number","null"],"format":"double","default":null},"volume_24hr":{"type":["number","null"],"format":"double","default":null},"image_url":{"type":["string","null"],"default":null},"market_maker_address":{"type":["string","null"],"default":null},"creator":{"type":["string","null"],"default":null},"category":{"type":["string","null"],"default":null},"accepting_orders":{"type":["boolean","null"],"default":null},"uma_resolution_status":{"type":["string","null"],"default":null},"clob_rewards":{"type":"array","items":{"$ref":"#/components/schemas/ClobReward"},"default":[]},"outcomes":{"type":"array","items":{"$ref":"#/components/schemas/EventMarketOutcome"},"default":[]},"winning_outcome":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/EventMarketOutcome"}],"default":null}}},"EventMarketChartDataPoint":{"type":"object","required":["value","timestamp"],"properties":{"value":{"type":"number","format":"double"},"timestamp":{"type":"integer","format":"int64","minimum":0}}},"EventMarketChartOutcome":{"type":"object","required":["condition_id","market_slug","question","title","data"],"properties":{"condition_id":{"type":"string"},"market_slug":{"type":"string"},"question":{"type":"string"},"title":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/EventMarketChartDataPoint"}}}},"EventMarketOutcome":{"type":"object","description":"Market outcome for event API responses","required":["name"],"properties":{"name":{"type":"string"},"price":{"type":["number","null"],"format":"double"},"position_id":{"type":["string","null"]},"outcome_index":{"type":["integer","null"],"format":"int32"}}},"EventMetricsResponse":{"type":"object","description":"Response type for event metrics query","required":["event_slug","timeframe","volume_usd","fees","txns","unique_traders"],"properties":{"event_slug":{"type":"string"},"timeframe":{"type":"string"},"volume_usd":{"type":"number","format":"double"},"fees":{"type":"number","format":"double"},"txns":{"type":"integer","format":"int32"},"unique_traders":{"type":"integer","format":"int32"}}},"EventPnlSortBy":{"type":"string","enum":["realized_pnl_usd","total_volume_usd","markets_traded","total_fees"]},"EventSortBy":{"type":"string","enum":["volume","txns","unique_traders","title","creation_date","start_date","end_date","relevance"]},"GlobalPnlSortBy":{"type":"string","enum":["pnl_usd","buys","sells","redemptions","merges","avg_hold_time","markets_traded","events_traded","markets_won","volume_usd","fees","best_trade","worst_trade"]},"GlobalPnlTrader":{"type":"object","description":"Individual trader entry in the global PnL leaderboard","required":["trader"],"properties":{"trader":{"$ref":"#/components/schemas/TraderInfo"},"pnl_usd":{"type":["number","null"],"format":"double"},"events_traded":{"type":["integer","null"],"format":"int64"},"markets_traded":{"type":["integer","null"],"format":"int64"},"markets_won":{"type":["integer","null"],"format":"int64"},"markets_lost":{"type":["integer","null"],"format":"int64"},"market_win_rate_pct":{"type":["number","null"],"format":"double"},"total_volume_usd":{"type":["number","null"],"format":"double"},"buy_volume_usd":{"type":["number","null"],"format":"double"},"sell_volume_usd":{"type":["number","null"],"format":"double"},"redemption_volume_usd":{"type":["number","null"],"format":"double"},"merge_volume_usd":{"type":["number","null"],"format":"double"},"total_buys":{"type":["integer","null"],"format":"int64"},"total_sells":{"type":["integer","null"],"format":"int64"},"total_redemptions":{"type":["integer","null"],"format":"int64"},"total_merges":{"type":["integer","null"],"format":"int64"},"total_trades":{"type":["integer","null"],"format":"int64"},"total_fees":{"type":["number","null"],"format":"double"},"avg_pnl_per_market":{"type":["number","null"],"format":"double"},"avg_pnl_per_trade":{"type":["number","null"],"format":"double"},"avg_hold_time_seconds":{"type":["number","null"],"format":"double"},"best_trade_pnl_usd":{"type":["number","null"],"format":"double"},"best_trade_condition_id":{"type":["string","null"]},"worst_trade_pnl_usd":{"type":["number","null"],"format":"double"},"worst_trade_condition_id":{"type":["string","null"]},"first_trade_at":{"type":["integer","null"],"format":"int64"},"last_trade_at":{"type":["integer","null"],"format":"int64"}}},"Holder":{"type":"object","description":"Individual holder data","required":["trader","shares"],"properties":{"trader":{"$ref":"#/components/schemas/Trader","description":"Trader profile information"},"shares":{"type":"string","description":"Position shares held (raw balance as string for precision)"},"shares_usd":{"type":["string","null"],"description":"USD value of shares (shares * latest price)"},"usd_balance":{"type":["string","null"],"description":"USD balance of wallet (USDe on Polygon)"},"pnl":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/PositionHolderPnl","description":"Position-level PnL (OrderFilled trades only for this outcome token)"}]}}},"HolderHistoryCandle":{"type":"object","description":"Holder statistics data point (single time bucket)","required":["t"],"properties":{"t":{"type":"integer","format":"int64"},"h":{"type":["integer","null"],"format":"int64"}}},"MarketHolderPnl":{"type":"object","description":"Market-level PnL data for a holder","properties":{"realized_pnl_usd":{"type":["number","null"],"format":"double"},"buy_usd":{"type":["number","null"],"format":"double"},"sell_usd":{"type":["number","null"],"format":"double"},"total_fees":{"type":["number","null"],"format":"double"},"outcomes_traded":{"type":["integer","null"],"format":"int64"},"total_buys":{"type":["integer","null"],"format":"int64"},"total_sells":{"type":["integer","null"],"format":"int64"},"winning_outcomes":{"type":["integer","null"],"format":"int64"},"first_trade_at":{"type":["integer","null"],"format":"int64"},"last_trade_at":{"type":["integer","null"],"format":"int64"}}},"MarketHoldersResponse":{"type":"object","description":"Response for market (condition_id) holders endpoint","required":["condition_id","total_holders","outcomes"],"properties":{"condition_id":{"type":"string","description":"Market condition ID"},"question":{"type":["string","null"],"description":"Market question/title"},"slug":{"type":["string","null"],"description":"Market slug"},"total_holders":{"type":"integer","format":"int64","description":"Total unique holders across all outcomes (from holder_stats)"},"outcomes":{"type":"array","items":{"$ref":"#/components/schemas/OutcomeHolders"},"description":"Holders grouped by outcome"}}},"MarketMetadata":{"type":"object","description":"Market metadata (enriched, cached version)","required":["condition_id","question","description","slug","neg_risk","tokens","tags","outcomes","metrics","clob_rewards"],"properties":{"condition_id":{"type":"string"},"question":{"type":"string"},"description":{"type":"string"},"slug":{"type":"string"},"event_slug":{"type":["string","null"]},"event_id":{"type":["string","null"]},"event_title":{"type":["string","null"]},"series_slug":{"type":["string","null"]},"neg_risk":{"type":"boolean"},"tokens":{"type":"array","items":{"$ref":"#/components/schemas/TokenOutcome"}},"image_url":{"type":["string","null"]},"tags":{"type":"array","items":{"type":"string"}},"created_time":{"type":["integer","null"],"format":"int64"},"start_time":{"type":["integer","null"],"format":"int64"},"game_start_time":{"type":["integer","null"],"format":"int64"},"closed_time":{"type":["integer","null"],"format":"int64"},"end_time":{"type":["integer","null"],"format":"int64"},"title":{"type":["string","null"]},"id":{"type":["string","null"]},"volume_usd":{"type":["number","null"],"format":"double"},"liquidity_usd":{"type":["number","null"],"format":"double"},"outcomes":{"type":"array","items":{"$ref":"#/components/schemas/MarketOutcome"}},"metrics":{"type":"object","additionalProperties":{"type":"number","format":"double"},"propertyNames":{"type":"string"}},"market_maker_address":{"type":["string","null"]},"creator":{"type":["string","null"]},"category":{"type":["string","null"]},"clob_rewards":{"type":"array","items":{"$ref":"#/components/schemas/ClobReward"}}}},"MarketMetadataOutcome":{"type":"object","description":"Market outcome with timeframe metrics (websocket API format)","required":["token_id","outcome"],"properties":{"token_id":{"type":"string"},"outcome":{"type":"string"},"last_price":{"type":["number","null"],"format":"double"},"last_probability":{"type":["number","null"],"format":"double"},"metrics":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/OutcomeTimeframeMetrics"},"propertyNames":{"type":"string"}}}},"MarketOutcome":{"type":"object","description":"Market outcome with price/volume data","required":["index","name","position_id"],"properties":{"index":{"type":"integer","format":"int32","minimum":0},"name":{"type":"string"},"position_id":{"type":"string"},"price":{"type":["number","null"],"format":"double"},"volume":{"type":["number","null"],"format":"double"}}},"MarketPnlSortBy":{"type":"string","enum":["realized_pnl_usd","buy_usd","total_buys","total_fees","outcomes_traded"]},"MarketResponse":{"type":"object","description":"Formatted market response with structured metrics, tags, outcomes, and event","required":["condition_id","status"],"properties":{"condition_id":{"type":"string"},"id":{"type":["string","null"]},"market_slug":{"type":["string","null"]},"question":{"type":["string","null"]},"title":{"type":["string","null"]},"description":{"type":["string","null"]},"image_url":{"type":["string","null"]},"oracle":{"type":["string","null"]},"status":{"type":"string"},"created_time":{"type":["integer","null"],"format":"int64"},"start_time":{"type":["integer","null"],"format":"int64"},"game_start_time":{"type":["integer","null"],"format":"int64"},"closed_time":{"type":["integer","null"],"format":"int64"},"end_time":{"type":["integer","null"],"format":"int64"},"accepting_orders":{"type":["boolean","null"]},"uma_resolution_status":{"type":["string","null"]},"is_neg_risk":{"type":["boolean","null"]},"market_maker_address":{"type":["string","null"]},"creator":{"type":["string","null"]},"category":{"type":["string","null"]},"volume_usd":{"type":["number","null"],"format":"double"},"liquidity_usd":{"type":["number","null"],"format":"double"},"highest_probability":{"type":["number","null"],"format":"double"},"total_holders":{"type":["integer","null"],"format":"int64"},"winning_outcome":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/MarketOutcome"}]},"outcomes":{"type":"array","items":{"$ref":"#/components/schemas/MarketOutcome"}},"rewards":{"type":"array","items":{"$ref":"#/components/schemas/MarketReward"}},"clob_rewards":{"type":"array","items":{"$ref":"#/components/schemas/ClobReward"}},"tags":{"type":"array","items":{"type":"string"}},"event_slug":{"type":["string","null"]},"resolution_source":{"type":["string","null"]},"metrics":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/SimpleTimeframeMetrics"},"propertyNames":{"type":"string"}}}},"MarketReward":{"type":"object","description":"Reward info for market API responses","properties":{"min_size":{"type":["number","null"],"format":"double","default":null},"max_spread":{"type":["number","null"],"format":"double","default":null},"daily_rate":{"type":["number","null"],"format":"double","default":null}}},"MarketSortBy":{"type":"string","enum":["volume","txns","unique_traders","liquidity","holders","end_time","start_time","created_time","created_at","relevance"]},"MarketStatus":{"type":"string","enum":["open","closed","all"]},"MarketVolumeChartResponse":{"type":"object","required":["volumes","has_more"],"properties":{"volumes":{"type":"array","items":{"$ref":"#/components/schemas/MarketVolumeDataPoint"}},"has_more":{"type":"boolean"}}},"MarketVolumeDataPoint":{"type":"object","required":["t","v","yv","nv","tc","ytc","ntc"],"properties":{"t":{"type":"integer","format":"int64"},"v":{"type":"number","format":"double"},"yv":{"type":"number","format":"double"},"nv":{"type":"number","format":"double"},"tc":{"type":"integer","format":"int32"},"ytc":{"type":"integer","format":"int32"},"ntc":{"type":"integer","format":"int32"}}},"MetricsTimeframe":{"type":"string","enum":["1m","5m","30m","1h","6h","24h","7d","30d"]},"OutcomeHolders":{"type":"object","description":"Holder data grouped by outcome for market-level queries","required":["outcome_index","outcome_name","position_id","total_holders","holders"],"properties":{"outcome_index":{"type":"integer","format":"int32","description":"Outcome index (0, 1, etc.)"},"outcome_name":{"type":"string","description":"Outcome name (Yes, No, etc.)"},"position_id":{"type":"string","description":"Position ID for this outcome"},"price":{"type":["number","null"],"format":"double","description":"Current price/probability"},"total_holders":{"type":"integer","format":"int64","description":"Total holders count from holder_stats"},"holders":{"type":"array","items":{"$ref":"#/components/schemas/Holder"},"description":"Top holders for this outcome"}}},"OutcomeIndex":{"type":"string","enum":["0","1"]},"OutcomeTimeframeMetrics":{"type":"object","properties":{"volume":{"type":"number","format":"double","default":0},"buy_volume":{"type":"number","format":"double","default":0},"sell_volume":{"type":"number","format":"double","default":0},"txns":{"type":"integer","format":"int32","default":0},"buys":{"type":"integer","format":"int32","default":0},"sells":{"type":"integer","format":"int32","default":0},"price_open":{"type":["number","null"],"format":"double","default":null},"price_close":{"type":["number","null"],"format":"double","default":null},"price_high":{"type":["number","null"],"format":"double","default":null},"price_low":{"type":["number","null"],"format":"double","default":null},"probability_open":{"type":["number","null"],"format":"double","default":null},"probability_close":{"type":["number","null"],"format":"double","default":null},"probability_high":{"type":["number","null"],"format":"double","default":null},"probability_low":{"type":["number","null"],"format":"double","default":null},"price_change_percent":{"type":["number","null"],"format":"double","default":null}}},"PnlCandleEntry":{"type":"object","description":"A single PnL candle entry","required":["t","pnl"],"properties":{"t":{"type":"integer","format":"int64","description":"Timestamp in epoch seconds (start of bucket window)"},"pnl":{"type":"number","format":"double","description":"Sum of realized PnL in this bucket"}}},"PnlCandleResolution":{"type":"string","enum":["1m","1h","1d"]},"PnlTimeframe":{"type":"string","enum":["1d","7d","30d","lifetime"]},"PolymarketEvent":{"type":"object","description":"A Polymarket event from the Gamma API","properties":{"id":{"type":"string","default":""},"event_slug":{"type":["string","null"],"default":null},"title":{"type":["string","null"],"default":null},"ticker":{"type":["string","null"],"default":null},"description":{"type":["string","null"],"default":null},"resolution_source":{"type":["string","null"],"default":null},"category":{"type":["string","null"],"default":null},"image_url":{"type":["string","null"],"default":null},"market_count":{"type":"integer","format":"int32","default":0},"created_time":{"type":["integer","null"],"format":"int64","default":null},"closed_time":{"type":["integer","null"],"format":"int64","default":null},"start_time":{"type":["integer","null"],"format":"int64","default":null},"end_time":{"type":["integer","null"],"format":"int64","default":null},"neg_risk":{"type":"boolean","default":false},"neg_risk_market_id":{"type":["string","null"],"default":null},"game_status":{"type":["string","null"],"default":null},"show_market_images":{"type":"boolean","default":false},"status":{"type":["string","null"],"description":"Event status: \"open\" or \"closed\"","default":null},"metrics":{"type":"object","default":{},"additionalProperties":{"$ref":"#/components/schemas/SimpleTimeframeMetrics"},"propertyNames":{"type":"string"}},"tags":{"type":"array","items":{"$ref":"#/components/schemas/PolymarketTag"},"default":[]},"markets":{"type":"array","items":{"$ref":"#/components/schemas/EventMarket"},"default":[]},"series":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/PolymarketSeries"}],"default":null}}},"PolymarketSeries":{"type":"object","description":"A Polymarket series from the Gamma API\nSeries are parent groupings above events (e.g., \"NBA Season 2024-25\")","properties":{"id":{"type":"string","default":""},"slug":{"type":["string","null"],"default":null},"ticker":{"type":["string","null"],"default":null},"title":{"type":["string","null"],"default":null},"description":{"type":["string","null"],"default":null},"series_type":{"type":["string","null"],"default":null},"recurrence":{"type":["string","null"],"default":null},"layout":{"type":["string","null"],"default":null},"image_url":{"type":["string","null"],"default":null},"icon_url":{"type":["string","null"],"default":null},"active":{"type":"boolean","default":false},"closed":{"type":"boolean","default":false},"archived":{"type":"boolean","default":false},"featured":{"type":"boolean","default":false},"restricted":{"type":"boolean","default":false},"pyth_token_id":{"type":["string","null"],"default":null},"cg_asset_name":{"type":["string","null"],"default":null},"start_date":{"type":["integer","null"],"format":"int64","default":null},"event_count":{"type":"integer","format":"int32","default":0}}},"PolymarketTag":{"type":"object","description":"A Polymarket tag from the Gamma API","properties":{"id":{"type":"string","default":""},"label":{"type":"string","default":""},"slug":{"type":["string","null"],"default":null}}},"PolymarketUserProfile":{"type":"object","description":"Polymarket user profile (public API format)","required":["proxy_wallet","display_username_public","verified_badge","is_creator","is_mod"],"properties":{"proxy_wallet":{"type":"string"},"name":{"type":["string","null"]},"pseudonym":{"type":["string","null"]},"bio":{"type":["string","null"]},"profile_image":{"type":["string","null"]},"x_username":{"type":["string","null"]},"display_username_public":{"type":"boolean"},"verified_badge":{"type":"boolean"},"user_id":{"type":["string","null"]},"is_creator":{"type":"boolean"},"is_mod":{"type":"boolean"},"created_at":{"type":["string","null"]}}},"PositionChartDataPoint":{"type":"object","required":["value","timestamp"],"properties":{"value":{"type":"number","format":"double"},"timestamp":{"type":"integer","format":"int64","minimum":0}}},"PositionChartOutcome":{"type":"object","required":["position_id","name","outcome_index","data"],"properties":{"position_id":{"type":"string"},"name":{"type":"string"},"outcome_index":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PositionChartDataPoint"}}}},"PositionHolderPnl":{"type":"object","description":"Position-level PnL data for a holder (outcome token, OrderFilled trades only)","properties":{"buy_usd":{"type":["number","null"],"format":"double"},"sell_usd":{"type":["number","null"],"format":"double"},"avg_entry_price":{"type":["number","null"],"format":"double","description":"Average price paid per share across all buys (0–1 range)"},"avg_exit_price":{"type":["number","null"],"format":"double","description":"Average price received per share across all sells (0–1 range)"},"total_buys":{"type":["integer","null"],"format":"int64"},"total_sells":{"type":["integer","null"],"format":"int64"},"total_fees":{"type":["number","null"],"format":"double"},"first_trade_at":{"type":["integer","null"],"format":"int64"},"last_trade_at":{"type":["integer","null"],"format":"int64"}}},"PositionHoldersResponse":{"type":"object","description":"Response for position (position_id) holders endpoint","required":["position_id","total_holders","holders"],"properties":{"position_id":{"type":"string","description":"Position ID (ERC1155 token ID)"},"condition_id":{"type":["string","null"],"description":"Condition ID this position belongs to"},"outcome_name":{"type":["string","null"],"description":"Outcome name"},"outcome_index":{"type":["integer","null"],"format":"int32","description":"Outcome index"},"price":{"type":["number","null"],"format":"double","description":"Current price"},"total_holders":{"type":"integer","format":"int64","description":"Total holders count from holder_stats"},"holders":{"type":"array","items":{"$ref":"#/components/schemas/Holder"},"description":"Top holders"}}},"PositionMetricsResponse":{"type":"object","description":"Response type for position metrics query","required":["position_id","condition_id","timeframe","volume_usd","buy_volume_usd","sell_volume_usd","fees","txns","buys","sells","unique_traders","price_open","price_high","price_low","price_close"],"properties":{"position_id":{"type":"string"},"condition_id":{"type":"string"},"timeframe":{"type":"string"},"volume_usd":{"type":"number","format":"double"},"buy_volume_usd":{"type":"number","format":"double"},"sell_volume_usd":{"type":"number","format":"double"},"fees":{"type":"number","format":"double"},"txns":{"type":"integer","format":"int32"},"buys":{"type":"integer","format":"int32"},"sells":{"type":"integer","format":"int32"},"unique_traders":{"type":"integer","format":"int32"},"price_open":{"type":"number","format":"double"},"price_high":{"type":"number","format":"double"},"price_low":{"type":"number","format":"double"},"price_close":{"type":"number","format":"double"}}},"PositionPnlSortBy":{"type":"string","enum":["realized_pnl_usd","buy_usd","sell_usd","total_buys","total_sells","total_fees"]},"PositionVolumeChartResponse":{"type":"object","required":["volumes","has_more"],"properties":{"volumes":{"type":"array","items":{"$ref":"#/components/schemas/PositionVolumeDataPoint"}},"has_more":{"type":"boolean"}}},"PositionVolumeDataPoint":{"type":"object","required":["t","v","bv","sv","tc","btc","stc"],"properties":{"t":{"type":"integer","format":"int64"},"v":{"type":"number","format":"double"},"bv":{"type":"number","format":"double"},"sv":{"type":"number","format":"double"},"tc":{"type":"integer","format":"int32"},"btc":{"type":"integer","format":"int32"},"stc":{"type":"integer","format":"int32"}}},"PredictionCandlestickBar":{"type":"object","required":["t"],"properties":{"l":{"type":["number","null"],"format":"double"},"h":{"type":["number","null"],"format":"double"},"o":{"type":["number","null"],"format":"double"},"c":{"type":["number","null"],"format":"double"},"v":{"type":["number","null"],"format":"double"},"t":{"type":"integer","format":"int64","minimum":0},"tc":{"type":["integer","null"],"format":"int32"},"m":{"type":["number","null"],"format":"double"}}},"PredictionTradeResponse":{"type":"object","description":"Response format for prediction trades","required":["id","hash","block","confirmed_at","trader","taker","side","usd_amount","shares_amount","price","fee","exchange","trade_type","log_index","order_hash","position_id"],"properties":{"id":{"type":"string"},"hash":{"type":"string"},"block":{"type":"integer","format":"int64","minimum":0},"confirmed_at":{"type":"integer","format":"int64","minimum":0},"trader":{"$ref":"#/components/schemas/TraderInfo"},"taker":{"type":"string"},"side":{"type":"string"},"condition_id":{"type":["string","null"]},"outcome":{"type":["string","null"]},"outcome_index":{"type":["integer","null"],"format":"int32"},"question":{"type":["string","null"]},"slug":{"type":["string","null"]},"usd_amount":{"type":"number","format":"double"},"shares_amount":{"type":"number","format":"double"},"price":{"type":"number","format":"double"},"probability":{"type":["number","null"],"format":"double"},"fee":{"type":"number","format":"double"},"exchange":{"type":"string"},"trade_type":{"type":"string"},"log_index":{"type":"integer","format":"int64","minimum":0},"order_hash":{"type":"string"},"position_id":{"type":"string"}}},"PriceJump":{"type":"object","required":["from","to","price_before","price_after","change_pct","direction","volume","trades_count","condition_id"],"properties":{"from":{"type":"integer","format":"int64","minimum":0},"to":{"type":"integer","format":"int64","minimum":0},"price_before":{"type":"number","format":"double"},"price_after":{"type":"number","format":"double"},"change_pct":{"type":"number","format":"double"},"direction":{"type":"string"},"volume":{"type":"number","format":"double"},"trades_count":{"type":"integer","format":"int32"},"condition_id":{"type":"string"}}},"SearchResponse":{"type":"object","required":["events","traders"],"properties":{"events":{},"traders":{"type":"array","items":{"$ref":"#/components/schemas/Trader"}}}},"SeriesFullResponse":{"type":"object","required":["id","active","closed","archived","featured","restricted","tags","events"],"properties":{"id":{"type":"string"},"slug":{"type":["string","null"]},"ticker":{"type":["string","null"]},"title":{"type":["string","null"]},"description":{"type":["string","null"]},"series_type":{"type":["string","null"]},"recurrence":{"type":["string","null"]},"image_url":{"type":["string","null"]},"active":{"type":"boolean"},"closed":{"type":"boolean"},"archived":{"type":"boolean"},"featured":{"type":"boolean"},"restricted":{"type":"boolean"},"pyth_token_id":{"type":["string","null"]},"cg_asset_name":{"type":["string","null"]},"tags":{"type":"array","items":{"$ref":"#/components/schemas/PolymarketTag"}},"events":{"type":"array","items":{"$ref":"#/components/schemas/PolymarketEvent"}}}},"SimpleTimeframeMetrics":{"type":"object","properties":{"volume":{"type":"number","format":"double","default":0},"fees":{"type":"number","format":"double","default":0},"txns":{"type":"integer","format":"int32","default":0},"unique_traders":{"type":"integer","format":"int32","default":0}}},"SortDirection":{"type":"string","enum":["asc","desc"]},"TokenOutcome":{"type":"object","description":"Token outcome (position)","required":["token_id","outcome"],"properties":{"token_id":{"type":"string"},"outcome":{"type":"string"}}},"TradeSide":{"type":"string","enum":["0","1"]},"TradeType":{"type":"string","enum":["0","1","2","4"]},"Trader":{"type":"object","description":"Trader profile info embedded in API responses\n\nCorresponds to SQL function: `pm_build_trader(address, name, pseudonym, profile_image, x_username, verified_badge)`\n\nUsed in:\n- holders endpoints (market/event holders)\n- trades endpoints\n- leaderboard endpoints","required":["address"],"properties":{"address":{"type":"string"},"name":{"type":["string","null"]},"pseudonym":{"type":["string","null"]},"profile_image":{"type":["string","null"]},"x_username":{"type":["string","null"]},"verified_badge":{"type":"boolean"}}},"TraderEventPnlEntry":{"type":"object","description":"Event-level PnL entry","properties":{"event_slug":{"type":["string","null"]},"question":{"type":["string","null"]},"image_url":{"type":["string","null"]},"markets_traded":{"type":["integer","null"],"format":"int64"},"outcomes_traded":{"type":["integer","null"],"format":"int64"},"total_buys":{"type":["integer","null"],"format":"int64"},"total_sells":{"type":["integer","null"],"format":"int64"},"total_redemptions":{"type":["integer","null"],"format":"int64"},"total_merges":{"type":["integer","null"],"format":"int64"},"total_volume_usd":{"type":["number","null"],"format":"double"},"buy_usd":{"type":["number","null"],"format":"double"},"sell_usd":{"type":["number","null"],"format":"double"},"redemption_usd":{"type":["number","null"],"format":"double"},"merge_usd":{"type":["number","null"],"format":"double"},"realized_pnl_usd":{"type":["number","null"],"format":"double"},"winning_markets":{"type":["integer","null"],"format":"int64"},"losing_markets":{"type":["integer","null"],"format":"int64"},"total_fees":{"type":["number","null"],"format":"double"},"first_trade_at":{"type":["integer","null"],"format":"int64"},"last_trade_at":{"type":["integer","null"],"format":"int64"}}},"TraderInfo":{"type":"object","description":"Trader profile info - backwards compatibility","required":["address"],"properties":{"address":{"type":"string"},"name":{"type":["string","null"]},"pseudonym":{"type":["string","null"]},"profile_image":{"type":["string","null"]},"x_username":{"type":["string","null"]},"verified_badge":{"type":"boolean"}}},"TraderMarketPnlEntry":{"type":"object","description":"Market-level PnL entry","properties":{"condition_id":{"type":["string","null"]},"event_slug":{"type":["string","null"]},"question":{"type":["string","null"]},"image_url":{"type":["string","null"]},"outcomes_traded":{"type":["integer","null"],"format":"int64"},"total_buys":{"type":["integer","null"],"format":"int64"},"total_sells":{"type":["integer","null"],"format":"int64"},"total_redemptions":{"type":["integer","null"],"format":"int64"},"total_merges":{"type":["integer","null"],"format":"int64"},"buy_usd":{"type":["number","null"],"format":"double"},"sell_usd":{"type":["number","null"],"format":"double"},"redemption_usd":{"type":["number","null"],"format":"double"},"merge_usd":{"type":["number","null"],"format":"double"},"realized_pnl_usd":{"type":["number","null"],"format":"double"},"winning_outcomes":{"type":["integer","null"],"format":"int64"},"total_fees":{"type":["number","null"],"format":"double"},"first_trade_at":{"type":["integer","null"],"format":"int64"},"last_trade_at":{"type":["integer","null"],"format":"int64"}}},"TraderOutcomePnlEntry":{"type":"object","description":"Outcome-level PnL entry (per outcome token / position_id, OrderFilled trades only)","properties":{"position_id":{"type":["string","null"]},"condition_id":{"type":["string","null"]},"event_slug":{"type":["string","null"]},"outcome":{"type":["string","null"]},"outcome_index":{"type":["integer","null"],"format":"int32"},"total_buys":{"type":["integer","null"],"format":"int64"},"total_sells":{"type":["integer","null"],"format":"int64"},"buy_usd":{"type":["number","null"],"format":"double"},"sell_usd":{"type":["number","null"],"format":"double"},"avg_entry_price":{"type":["number","null"],"format":"double","description":"VWAP price paid per share across all buys (0–1)"},"avg_exit_price":{"type":["number","null"],"format":"double","description":"VWAP price received per share across all sells (0–1)"},"total_fees":{"type":["number","null"],"format":"double"},"first_trade_at":{"type":["integer","null"],"format":"int64"},"last_trade_at":{"type":["integer","null"],"format":"int64"}}},"TraderVolumeChartResponse":{"type":"object","required":["volumes","has_more"],"properties":{"volumes":{"type":"array","items":{"$ref":"#/components/schemas/TraderVolumeDataPoint"}},"has_more":{"type":"boolean"}}},"TraderVolumeDataPoint":{"type":"object","required":["t","v","bv","sv","tc","btc","stc"],"properties":{"t":{"type":"integer","format":"int64"},"v":{"type":"number","format":"double"},"bv":{"type":"number","format":"double"},"sv":{"type":"number","format":"double"},"tc":{"type":"integer","format":"int32"},"btc":{"type":"integer","format":"int32"},"stc":{"type":"integer","format":"int32"}}}}}}