{
  "openapi": "3.1.0",
  "info": {
    "title": "Polymarket Webhook API",
    "description": "",
    "license": {
      "name": ""
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.struct.to/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "description": "Retrieve a paginated list of your webhook subscriptions with optional filtering",
        "operationId": "list_webhooks",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page (default: 20, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default: 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status: active, paused",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/WebhookStatusBody"
            }
          },
          {
            "name": "event",
            "in": "query",
            "description": "Filter by event type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PolymarketWebhookEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "description": "Create a new webhook subscription for real-time event notifications",
        "operationId": "create_webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (malformed URL, invalid filters, etc.)"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "402": {
            "description": "Insufficient credits"
          },
          "429": {
            "description": "Rate limit exceeded (max 100 webhooks per user)"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/events": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List event types",
        "description": "Retrieve all available webhook event types with descriptions, categories, credits cost, and applicable filter fields",
        "operationId": "list_events",
        "responses": {
          "200": {
            "description": "List of available event types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEventsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhook",
        "description": "Retrieve details of a specific webhook by its ID",
        "operationId": "get_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update webhook",
        "description": "Update an existing webhook's URL, filters, or status",
        "operationId": "update_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Webhook updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "description": "Permanently delete a webhook subscription",
        "operationId": "delete_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}/rotate-secret": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Rotate webhook secret",
        "description": "Generate a new HMAC secret for a webhook. The new secret is returned once — store it securely",
        "operationId": "rotate_secret",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New secret generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateSecretResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}/test": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Test webhook",
        "description": "Send a test payload to the webhook URL to verify connectivity",
        "operationId": "test_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test delivery completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookTestResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AssertionDisputedEvent": {
        "type": "object",
        "description": "V3 UMA OOv3: an assertion was disputed.",
        "required": [
          "id",
          "hash",
          "oracle_contract",
          "assertion_id",
          "caller",
          "disputer"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "block": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "confirmed_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "received_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "log_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "block_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "oracle_contract": {
            "type": "string"
          },
          "assertion_id": {
            "type": "string"
          },
          "caller": {
            "type": "string"
          },
          "disputer": {
            "type": "string"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "AssertionMadeEvent": {
        "type": "object",
        "description": "V3 UMA OOv3: a new assertion (resolution proposal) was made.",
        "required": [
          "id",
          "hash",
          "oracle_contract",
          "assertion_id",
          "domain_id",
          "claim",
          "asserter",
          "callback_recipient",
          "escalation_manager",
          "caller",
          "expiration_time",
          "currency",
          "bond",
          "identifier"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "block": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "confirmed_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "received_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "log_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "block_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "oracle_contract": {
            "type": "string"
          },
          "assertion_id": {
            "type": "string"
          },
          "domain_id": {
            "type": "string"
          },
          "claim": {
            "type": "string"
          },
          "asserter": {
            "type": "string"
          },
          "callback_recipient": {
            "type": "string"
          },
          "escalation_manager": {
            "type": "string"
          },
          "caller": {
            "type": "string"
          },
          "expiration_time": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "currency": {
            "type": "string"
          },
          "bond": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "proposed_outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "AssertionSettledEvent": {
        "type": "object",
        "description": "V3 UMA OOv3: an assertion liveness period expired and was settled.",
        "required": [
          "id",
          "hash",
          "oracle_contract",
          "assertion_id",
          "bond_recipient",
          "disputed",
          "settlement_resolution",
          "settle_caller"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "block": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "confirmed_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "received_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "log_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "block_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "oracle_contract": {
            "type": "string"
          },
          "assertion_id": {
            "type": "string"
          },
          "bond_recipient": {
            "type": "string"
          },
          "disputed": {
            "type": "boolean"
          },
          "settlement_resolution": {
            "type": "boolean"
          },
          "settle_caller": {
            "type": "string"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "AssetPriceTickPayload": {
        "type": "object",
        "description": "Payload delivered on every raw Chainlink price tick for a tracked crypto asset",
        "required": [
          "symbol",
          "price",
          "timestamp_ms"
        ],
        "properties": {
          "symbol": {
            "type": "string",
            "enum": [
              "BTC",
              "ETH",
              "SOL",
              "XRP",
              "DOGE",
              "BNB",
              "HYPE"
            ],
            "description": "Asset symbol"
          },
          "price": {
            "type": "number",
            "description": "Current asset price in USD from the Chainlink feed"
          },
          "timestamp_ms": {
            "type": "integer",
            "format": "int64",
            "description": "Tick timestamp (milliseconds since Unix epoch)"
          }
        }
      },
      "AssetPriceWindowUpdatePayload": {
        "type": "object",
        "description": "Payload delivered twice per candle — once on open and once on close. `close_price` is 0.0 on the \"open\" update.",
        "required": [
          "symbol",
          "variant",
          "start_time",
          "end_time",
          "open_price",
          "close_price",
          "update_type"
        ],
        "properties": {
          "symbol": {
            "type": "string",
            "enum": [
              "BTC",
              "ETH",
              "SOL",
              "XRP",
              "DOGE",
              "BNB",
              "HYPE"
            ],
            "description": "Asset symbol"
          },
          "variant": {
            "type": "string",
            "enum": [
              "5m",
              "15m",
              "1h",
              "4h",
              "1d",
              "24h"
            ],
            "description": "Candle / window size"
          },
          "start_time": {
            "type": "integer",
            "format": "int64",
            "description": "Window start timestamp (milliseconds since Unix epoch)"
          },
          "end_time": {
            "type": "integer",
            "format": "int64",
            "description": "Window end timestamp (milliseconds since Unix epoch)"
          },
          "open_price": {
            "type": "number",
            "description": "Opening price at start_time (USD)"
          },
          "close_price": {
            "type": "number",
            "description": "Closing price at end_time (USD). 0.0 when update_type is \"open\" (not yet available)."
          },
          "update_type": {
            "type": "string",
            "enum": [
              "open",
              "close"
            ],
            "description": "\"open\" when the candle opens, \"close\" when it closes with a confirmed price"
          }
        }
      },
      "CloseToBondPayload": {
        "type": "object",
        "description": "Payload delivered when a trade occurs at a near-certain-outcome price",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "bond_side",
          "threshold"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Limit-order maker wallet address (lowercase)"
          },
          "taker": {
            "type": "string",
            "description": "Order filler wallet address (lowercase)"
          },
          "position_id": {
            "type": "string",
            "description": "ERC-1155 outcome token ID"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent market condition ID"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "description": "0 = Yes/Up, 1 = No"
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "trade_id": {
            "type": "string"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "block": {
            "type": "integer",
            "format": "int64"
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix seconds"
          },
          "amount_usd": {
            "type": "number",
            "description": "USD size of the trade"
          },
          "shares_amount": {
            "type": "number"
          },
          "fee": {
            "type": "number",
            "description": "Fee paid in USD"
          },
          "side": {
            "type": "string",
            "enum": [
              "Buy",
              "Sell"
            ]
          },
          "price": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Price that triggered the notification (0.0–1.0)"
          },
          "probability": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Implied probability (0.0–1.0)"
          },
          "bond_side": {
            "type": "string",
            "enum": [
              "high",
              "low"
            ],
            "description": "\"high\" when near YES (price ≥ threshold), \"low\" when near NO (price ≤ threshold)"
          },
          "threshold": {
            "type": "number",
            "description": "The probability threshold from the subscription filter that was breached"
          }
        }
      },
      "ConditionMetricsPayload": {
        "type": "object",
        "description": "Payload delivered when a market's volume or transaction metrics cross a configured threshold",
        "properties": {
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market condition ID"
          },
          "timeframe": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "1m",
              "5m",
              "30m",
              "1h",
              "6h",
              "24h",
              "7d",
              "30d",
              null
            ],
            "description": "Aggregation window"
          },
          "volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total trading volume in USD for this timeframe"
          },
          "fees": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total fees collected in USD"
          },
          "txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Total number of transactions"
          },
          "unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of unique traders"
          }
        }
      },
      "ConditionResolutionEvent": {
        "type": "object",
        "description": "CTF ConditionResolution: positions become redeemable on the Conditional Tokens contract.",
        "required": [
          "id",
          "hash",
          "oracle_contract",
          "condition_id",
          "oracle"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "block": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "confirmed_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "received_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "log_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "block_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "oracle_contract": {
            "type": "string"
          },
          "condition_id": {
            "type": "string"
          },
          "oracle": {
            "type": "string"
          },
          "proposed_outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CreateWebhookRequestBody": {
        "type": "object",
        "description": "Request body for creating a webhook",
        "required": [
          "url",
          "event"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "Destination URL for webhook deliveries (must be HTTPS)"
          },
          "event": {
            "$ref": "#/components/schemas/PolymarketWebhookEvent",
            "description": "Event to subscribe to"
          },
          "secret": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional secret for HMAC signature verification"
          },
          "filters": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/WebhookFiltersBody",
                "description": "Optional filters for event matching"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description/name"
          }
        }
      },
      "DeleteWebhookResponse": {
        "type": "object",
        "description": "Delete webhook response",
        "required": [
          "deleted"
        ],
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "DisputePriceEvent": {
        "type": "object",
        "description": "V2 UMA OOv2: a proposed price was disputed.",
        "required": [
          "id",
          "hash",
          "oracle_contract",
          "requester",
          "proposer",
          "disputer",
          "identifier",
          "timestamp",
          "ancillary_data",
          "proposed_price"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "block": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "confirmed_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "received_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "log_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "block_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "oracle_contract": {
            "type": "string"
          },
          "requester": {
            "type": "string"
          },
          "proposer": {
            "type": "string"
          },
          "disputer": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "ancillary_data": {
            "type": "string"
          },
          "proposed_price": {
            "type": "integer",
            "format": "int64"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "proposed_outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "EventMetricsPayload": {
        "type": "object",
        "description": "Payload delivered when an event's aggregated volume or transaction metrics cross a configured threshold",
        "properties": {
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event slug"
          },
          "timeframe": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "1m",
              "5m",
              "30m",
              "1h",
              "6h",
              "24h",
              "7d",
              "30d",
              null
            ],
            "description": "Aggregation window"
          },
          "volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total aggregated volume across all markets in the event (USD)"
          },
          "fees": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total fees collected in USD"
          },
          "txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Total number of transactions"
          },
          "unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of unique traders"
          }
        }
      },
      "EventPnlPayload": {
        "type": "object",
        "description": "Payload delivered when a trader's per-event PnL crosses a configured threshold",
        "required": [
          "timeframe"
        ],
        "properties": {
          "trader": {
            "type": [
              "string",
              "null"
            ],
            "description": "Trader wallet address (lowercase)"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event slug"
          },
          "timeframe": {
            "type": "string",
            "enum": [
              "1d",
              "7d",
              "30d",
              "lifetime"
            ],
            "description": "PnL aggregation window"
          },
          "markets_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of distinct markets traded in this event"
          },
          "outcomes_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_buys": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_sells": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_redemptions": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_merges": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total volume in USD"
          },
          "buy_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "sell_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "redemption_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "merge_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Realized PnL in USD for this event"
          },
          "winning_markets": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "losing_markets": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_fees": {
            "type": [
              "number",
              "null"
            ]
          },
          "first_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Unix seconds"
          },
          "last_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Unix seconds"
          }
        }
      },
      "EventVolumeMilestonePayload": {
        "type": "object",
        "description": "Payload delivered when an event's aggregated trading volume crosses a USD milestone",
        "required": [
          "event_slug",
          "timeframe",
          "milestone_usd",
          "current_volume_usd",
          "fees",
          "txns"
        ],
        "properties": {
          "event_slug": {
            "type": "string",
            "description": "Event slug"
          },
          "timeframe": {
            "type": "string",
            "enum": [
              "1m",
              "5m",
              "30m",
              "1h",
              "6h",
              "24h",
              "7d",
              "30d"
            ],
            "description": "Aggregation window"
          },
          "milestone_usd": {
            "type": "number",
            "description": "The USD milestone amount that was crossed"
          },
          "current_volume_usd": {
            "type": "number",
            "description": "Current aggregated event volume at time of trigger (USD)"
          },
          "fees": {
            "type": "number",
            "description": "Total fees in USD for this timeframe"
          },
          "txns": {
            "type": "integer",
            "format": "int64",
            "description": "Total transactions in this timeframe"
          }
        }
      },
      "EventVolumeSpikePayload": {
        "type": "object",
        "description": "Payload delivered when an event's aggregated volume has spiked since the last snapshot",
        "required": [
          "event_slug",
          "timeframe",
          "current_volume_usd",
          "snapshot_volume_usd",
          "delta_volume_usd",
          "spike_pct",
          "txns",
          "fees"
        ],
        "properties": {
          "event_slug": {
            "type": "string",
            "description": "Event slug"
          },
          "timeframe": {
            "type": "string",
            "enum": [
              "1m",
              "5m",
              "30m",
              "1h",
              "6h",
              "1d",
              "24h",
              "7d",
              "30d"
            ],
            "description": "Aggregation window"
          },
          "current_volume_usd": {
            "type": "number",
            "description": "Current aggregated event volume at time of the spike (USD)"
          },
          "snapshot_volume_usd": {
            "type": "number",
            "description": "Volume at the snapshot baseline (USD)"
          },
          "delta_volume_usd": {
            "type": "number",
            "description": "New volume since the snapshot that triggered this notification (USD)"
          },
          "spike_pct": {
            "type": "number",
            "description": "Volume growth as a percentage of the snapshot (e.g. 200.0 means volume tripled)"
          },
          "txns": {
            "type": "integer",
            "format": "int64"
          },
          "fees": {
            "type": "number"
          }
        }
      },
      "FirstTradePayload": {
        "type": "object",
        "description": "Payload delivered when a tracked trader executes their first-ever trade on Polymarket",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "exchange",
          "trade_type"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Limit-order maker wallet address (lowercase)"
          },
          "taker": {
            "type": "string",
            "description": "Order filler wallet address (lowercase)"
          },
          "position_id": {
            "type": "string",
            "description": "ERC-1155 outcome token ID"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent market condition ID (0x-prefixed hex)"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Outcome index: 0 = Yes/Up, 1 = No"
          },
          "question": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market question text"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event slug"
          },
          "trade_id": {
            "type": "string",
            "description": "Unique trade identifier"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "Block number"
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Block confirmation timestamp (Unix seconds)"
          },
          "amount_usd": {
            "type": "number",
            "description": "USD size of the trade (6 decimal places)"
          },
          "shares_amount": {
            "type": "number",
            "description": "Outcome shares traded (6 decimal places)"
          },
          "fee": {
            "type": "number",
            "description": "Fee paid in USD (6 decimal places)"
          },
          "side": {
            "type": "string",
            "enum": [
              "Buy",
              "Sell"
            ],
            "description": "Trade direction"
          },
          "price": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Outcome token price (0.0–1.0)"
          },
          "exchange": {
            "type": "string",
            "enum": [
              "CTFExchange",
              "NegRiskExchange",
              "ConditionalTokens",
              "NegRiskAdapter",
              "Unknown"
            ],
            "description": "Exchange contract that processed the trade"
          },
          "trade_type": {
            "type": "string",
            "enum": [
              "OrderFilled",
              "OrdersMatched"
            ],
            "description": "Trade type (webhook events only fire on order fills)"
          }
        }
      },
      "GlobalPnlPayload": {
        "type": "object",
        "description": "Payload delivered when a trader's global PnL (across all markets) crosses a configured threshold",
        "required": [
          "timeframe"
        ],
        "properties": {
          "trader": {
            "type": [
              "string",
              "null"
            ],
            "description": "Trader wallet address (lowercase)"
          },
          "timeframe": {
            "type": "string",
            "enum": [
              "1d",
              "7d",
              "30d",
              "lifetime"
            ],
            "description": "PnL aggregation window"
          },
          "realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Realized PnL in USD (positive = profit, negative = loss)"
          },
          "events_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of distinct events traded"
          },
          "markets_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of distinct markets traded"
          },
          "total_buys": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Total buy transactions"
          },
          "total_sells": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Total sell transactions"
          },
          "total_redemptions": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Total redemption transactions"
          },
          "total_merges": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Total merge transactions"
          },
          "total_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total USD volume (buys + sells + redemptions + merges)"
          },
          "buy_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total buy volume in USD"
          },
          "sell_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total sell volume in USD"
          },
          "redemption_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total redemption volume in USD"
          },
          "merge_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total merge volume in USD"
          },
          "markets_won": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of markets where trader realised a profit"
          },
          "markets_lost": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of markets where trader realised a loss"
          },
          "market_win_rate_pct": {
            "type": [
              "number",
              "null"
            ],
            "description": "Market win rate as a percentage (0.0–100.0)"
          },
          "avg_pnl_per_market": {
            "type": [
              "number",
              "null"
            ],
            "description": "Average PnL per market in USD"
          },
          "avg_pnl_per_trade": {
            "type": [
              "number",
              "null"
            ],
            "description": "Average PnL per trade in USD"
          },
          "avg_hold_time_seconds": {
            "type": [
              "number",
              "null"
            ],
            "description": "Average hold time across all positions (seconds)"
          },
          "total_fees": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total fees paid in USD"
          },
          "best_trade_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Best single-trade PnL in USD"
          },
          "best_trade_condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID of the best trade"
          },
          "first_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Timestamp of the first trade (Unix seconds)"
          },
          "last_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Timestamp of the most recent trade (Unix seconds)"
          }
        }
      },
      "ListEventsResponse": {
        "type": "object",
        "description": "Response for GET /v1/webhook/events",
        "required": [
          "events"
        ],
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventInfo"
            }
          }
        }
      },
      "MarketCreatedOutcome": {
        "type": "object",
        "description": "An outcome entry within a newly created market",
        "required": [
          "index",
          "name",
          "position_id"
        ],
        "properties": {
          "index": {
            "type": "integer",
            "description": "Outcome index (0 = Yes, 1 = No)"
          },
          "name": {
            "type": "string",
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "position_id": {
            "type": "string",
            "description": "ERC-1155 position token ID for this outcome"
          }
        }
      },
      "MarketCreatedPayload": {
        "type": "object",
        "description": "Payload delivered when a new prediction market is detected on-chain and enriched with Gamma API metadata",
        "required": [
          "condition_id",
          "market_slug",
          "outcomes",
          "question",
          "description",
          "tags",
          "neg_risk"
        ],
        "properties": {
          "condition_id": {
            "type": "string",
            "description": "Condition ID (0x-prefixed hex, lowercase)"
          },
          "market_slug": {
            "type": "string",
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event slug"
          },
          "event_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event ID"
          },
          "event_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event title"
          },
          "series_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Series slug (for recurring markets)"
          },
          "outcomes": {
            "type": "array",
            "description": "List of market outcomes with their position IDs",
            "items": {
              "$ref": "#/components/schemas/MarketCreatedOutcome"
            }
          },
          "question": {
            "type": "string",
            "description": "Full market question text"
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Short display title"
          },
          "description": {
            "type": "string",
            "description": "Market description"
          },
          "category": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market category (e.g. \"Sports\", \"Politics\")"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Market tags"
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cover image URL"
          },
          "neg_risk": {
            "type": "boolean",
            "description": "Whether this is a neg-risk market"
          }
        }
      },
      "MarketPnlPayload": {
        "type": "object",
        "description": "Payload delivered when a trader's per-market PnL crosses a configured threshold",
        "required": [
          "timeframe"
        ],
        "properties": {
          "trader": {
            "type": [
              "string",
              "null"
            ],
            "description": "Trader wallet address (lowercase)"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market condition ID"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event slug"
          },
          "timeframe": {
            "type": "string",
            "enum": [
              "1d",
              "7d",
              "30d",
              "lifetime"
            ],
            "description": "PnL aggregation window"
          },
          "outcomes_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of distinct outcomes traded in this market"
          },
          "total_buys": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_sells": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_redemptions": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_merges": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "buy_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total buy volume in USD"
          },
          "sell_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total sell volume in USD"
          },
          "redemption_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total redemption volume in USD"
          },
          "merge_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total merge volume in USD"
          },
          "realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Realized PnL in USD for this market"
          },
          "winning_outcomes": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of outcomes with positive PnL"
          },
          "total_fees": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total fees paid in USD for this market"
          },
          "first_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Timestamp of first trade in market (Unix seconds)"
          },
          "last_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Timestamp of most recent trade in market (Unix seconds)"
          }
        }
      },
      "MarketVolumeSpikePayload": {
        "type": "object",
        "description": "Payload delivered when a market's volume has spiked since the last snapshot",
        "required": [
          "condition_id",
          "timeframe",
          "current_volume_usd",
          "snapshot_volume_usd",
          "delta_volume_usd",
          "spike_pct",
          "txns",
          "fees"
        ],
        "properties": {
          "condition_id": {
            "type": "string",
            "description": "Market condition ID"
          },
          "timeframe": {
            "type": "string",
            "enum": [
              "1m",
              "5m",
              "30m",
              "1h",
              "6h",
              "1d",
              "24h",
              "7d",
              "30d"
            ],
            "description": "Aggregation window"
          },
          "current_volume_usd": {
            "type": "number",
            "description": "Current volume at the time of the spike (USD)"
          },
          "snapshot_volume_usd": {
            "type": "number",
            "description": "Volume at the snapshot baseline (USD)"
          },
          "delta_volume_usd": {
            "type": "number",
            "description": "New volume since the snapshot that triggered this notification (USD)"
          },
          "spike_pct": {
            "type": "number",
            "description": "Volume growth as a percentage of the snapshot (e.g. 200.0 means volume tripled)"
          },
          "txns": {
            "type": "integer",
            "format": "int64",
            "description": "Total transactions in this timeframe"
          },
          "fees": {
            "type": "number",
            "description": "Total fees in USD for this timeframe"
          }
        }
      },
      "NegRiskOutcomeReportedEvent": {
        "type": "object",
        "description": "NegRisk Adapter: outcome reported for a neg-risk market question.",
        "required": [
          "id",
          "hash",
          "oracle_contract",
          "condition_id"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "block": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "confirmed_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "received_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "log_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "block_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "oracle_contract": {
            "type": "string"
          },
          "condition_id": {
            "type": "string"
          },
          "proposed_outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "NewMarketPayload": {
        "type": "object",
        "description": "Payload delivered when a trader places their first trade in a specific market (fires once per trader+market pair)",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "exchange",
          "trade_type"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Limit-order maker wallet address (lowercase)"
          },
          "taker": {
            "type": "string",
            "description": "Order filler wallet address (lowercase)"
          },
          "position_id": {
            "type": "string",
            "description": "ERC-1155 outcome token ID"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent market condition ID"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Outcome index: 0 = Yes/Up, 1 = No"
          },
          "question": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market question text"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event slug"
          },
          "trade_id": {
            "type": "string",
            "description": "Unique trade identifier"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "Block number"
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Block confirmation timestamp (Unix seconds)"
          },
          "amount_usd": {
            "type": "number",
            "description": "USD size of the trade (6 decimal places)"
          },
          "shares_amount": {
            "type": "number",
            "description": "Outcome shares traded (6 decimal places)"
          },
          "fee": {
            "type": "number",
            "description": "Fee paid in USD (6 decimal places)"
          },
          "side": {
            "type": "string",
            "enum": [
              "Buy",
              "Sell"
            ],
            "description": "Trade direction"
          },
          "price": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Outcome token price (0.0–1.0)"
          },
          "probability": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Implied probability (0.0–1.0); null when outcome is unknown"
          },
          "exchange": {
            "type": "string",
            "enum": [
              "CTFExchange",
              "NegRiskExchange",
              "ConditionalTokens",
              "NegRiskAdapter",
              "Unknown"
            ],
            "description": "Exchange contract that processed the trade"
          },
          "trade_type": {
            "type": "string",
            "enum": [
              "OrderFilled",
              "OrdersMatched"
            ],
            "description": "Trade type (webhook events only fire on order fills)"
          }
        }
      },
      "NewTradePayload": {
        "type": "object",
        "description": "Payload delivered on every order-filled trade",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "exchange",
          "trade_type"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Limit-order maker wallet address (lowercase)"
          },
          "taker": {
            "type": "string",
            "description": "Order filler wallet address (lowercase)"
          },
          "position_id": {
            "type": "string",
            "description": "ERC-1155 outcome token ID"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent market condition ID"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Outcome index: 0 = Yes/Up, 1 = No"
          },
          "question": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market question text"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event slug"
          },
          "trade_id": {
            "type": "string",
            "description": "Unique trade identifier"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "Block number"
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Block confirmation timestamp (Unix seconds)"
          },
          "amount_usd": {
            "type": "number",
            "description": "USD size of the trade (6 decimal places)"
          },
          "shares_amount": {
            "type": "number",
            "description": "Outcome shares traded (6 decimal places)"
          },
          "fee": {
            "type": "number",
            "description": "Fee paid in USD (6 decimal places)"
          },
          "side": {
            "type": "string",
            "enum": [
              "Buy",
              "Sell"
            ],
            "description": "Trade direction"
          },
          "price": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Outcome token price (0.0–1.0)"
          },
          "probability": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Implied probability (0.0–1.0); null when outcome is unknown"
          },
          "exchange": {
            "type": "string",
            "enum": [
              "CTFExchange",
              "NegRiskExchange",
              "ConditionalTokens",
              "NegRiskAdapter",
              "Unknown"
            ],
            "description": "Exchange contract that processed the trade"
          },
          "trade_type": {
            "type": "string",
            "enum": [
              "OrderFilled",
              "OrdersMatched"
            ],
            "description": "Trade type (webhook events only fire on order fills)"
          }
        }
      },
      "OracleEventTyped": {
        "oneOf": [
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/AssertionMadeEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "AssertionMade"
                    ]
                  }
                }
              }
            ],
            "title": "AssertionMade"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/AssertionDisputedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "AssertionDisputed"
                    ]
                  }
                }
              }
            ],
            "title": "AssertionDisputed"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/AssertionSettledEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "AssertionSettled"
                    ]
                  }
                }
              }
            ],
            "title": "AssertionSettled"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/RequestPriceEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "RequestPrice"
                    ]
                  }
                }
              }
            ],
            "title": "RequestPrice"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProposePriceEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "ProposePrice"
                    ]
                  }
                }
              }
            ],
            "title": "ProposePrice"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/DisputePriceEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "DisputePrice"
                    ]
                  }
                }
              }
            ],
            "title": "DisputePrice"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/SettleEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "Settle"
                    ]
                  }
                }
              }
            ],
            "title": "Settle"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionResolvedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionResolved"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionResolved"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionEmergencyResolvedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionEmergencyResolved"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionEmergencyResolved"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionResetEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionReset"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionReset"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionInitializedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionInitialized"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionInitialized"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionPausedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionPaused"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionPaused"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionUnpausedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionUnpaused"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionUnpaused"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionFlaggedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionFlagged"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionFlagged"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionUnflaggedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionUnflagged"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionUnflagged"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/ConditionResolutionEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "ConditionResolution"
                    ]
                  }
                }
              }
            ],
            "title": "ConditionResolution"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/NegRiskOutcomeReportedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "NegRiskOutcomeReported"
                    ]
                  }
                }
              }
            ],
            "title": "NegRiskOutcomeReported"
          }
        ],
        "description": "Tagged enum for all oracle event types — serializes with `\"event_type\": \"...\"` discriminator\nand only includes fields relevant to each type.",
        "discriminator": {
          "propertyName": "event_type"
        }
      },
      "PnlTimeframeFilter": {
        "type": "string",
        "description": "PnL timeframe enum for webhook filtering",
        "enum": [
          "1d",
          "7d",
          "30d",
          "lifetime"
        ]
      },
      "PolymarketWebhookEvent": {
        "type": "string",
        "description": "Polymarket webhook event types",
        "enum": [
          "trader_first_trade",
          "trader_new_market",
          "trader_whale_trade",
          "trader_new_trade",
          "trader_trade_event",
          "trader_global_pnl",
          "trader_market_pnl",
          "trader_event_pnl",
          "condition_metrics",
          "event_metrics",
          "position_metrics",
          "market_volume_milestone",
          "event_volume_milestone",
          "position_volume_milestone",
          "probability_spike",
          "market_volume_spike",
          "event_volume_spike",
          "position_volume_spike",
          "close_to_bond",
          "market_created",
          "asset_price_tick",
          "asset_price_window_update",
          "price_spike",
          "oracle_events"
        ]
      },
      "PolymarketWebhookFilter": {
        "type": "object",
        "description": "Polymarket-specific webhook filters\n\nDifferent webhook handlers use different subsets of these fields:\n- first_trade: wallet_addresses, min_usd_value, min_probability, max_probability, condition_ids, event_slugs, tags\n- new_market: wallet_addresses, condition_ids, event_slugs, min_usd_value, min_probability, max_probability\n- whale_trade: min_usd_value (required), min_probability, max_probability, condition_ids, event_slugs\n- global_pnl: traders, min_realized_pnl_usd, max_realized_pnl_usd, min_volume_usd, min_win_rate, min_markets_traded\n- market_pnl: traders, min_realized_pnl_usd, max_realized_pnl_usd, min_buy_usd, condition_ids, event_slugs\n- event_pnl: traders, min_realized_pnl_usd, max_realized_pnl_usd, min_volume_usd, event_slugs, min_markets_traded\n- condition_metrics: condition_ids, min_volume_usd, max_volume_usd, min_fees, min_txns, timeframes\n- event_metrics: event_slugs, min_volume_usd, max_volume_usd, min_fees, min_txns, timeframes\n- position_metrics: position_ids, condition_ids, outcomes, min_volume_usd, max_volume_usd, min_buy_usd, min_sell_volume_usd, min_fees, min_txns, min_price_change_pct, min_probability_change_pct, timeframes\n- volume_milestone: condition_ids, timeframes, milestone_amounts\n- close_to_bond: min_probability (high zone threshold), max_probability (low zone threshold), condition_ids, position_ids, outcomes, position_outcome_indices, event_slugs, exclude_shortterm_markets\n- market_created: event_slugs, tags, exclude_shortterm_markets\n- probability_spike: condition_ids, event_slugs, outcomes, min_probability_change_pct, spike_direction, window_secs, exclude_shortterm_markets\n- price_spike: condition_ids, event_slugs, outcomes, min_price_change_pct, spike_direction, window_secs, exclude_shortterm_markets\n- trader_new_trade: wallet_addresses, min_usd_value, min_probability, max_probability, condition_ids, event_slugs, trade_types, exclude_shortterm_markets\n- trader_trade_event: wallet_addresses, min_usd_value, min_probability, max_probability, condition_ids, event_slugs, trade_types, exclude_shortterm_markets\n- trader_first_trade: wallet_addresses, min_usd_value, min_probability, max_probability, exclude_shortterm_markets\n- trader_new_market: wallet_addresses, condition_ids, event_slugs, min_usd_value, min_probability, max_probability, exclude_shortterm_markets\n- trader_whale_trade: min_usd_value (required), min_probability, max_probability, condition_ids, event_slugs, exclude_shortterm_markets\n- trader_event_pnl: traders, min_realized_pnl_usd, max_realized_pnl_usd, min_volume_usd, event_slugs, min_markets_traded, exclude_shortterm_markets\n- trader_market_pnl: traders, min_realized_pnl_usd, max_realized_pnl_usd, min_buy_usd, condition_ids, event_slugs, exclude_shortterm_markets\n\nImplements Hash + Eq manually (f64 fields use bit representation)",
        "properties": {
          "wallet_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by wallet addresses (for first_trade, normalized to lowercase). Max 500 entries."
          },
          "traders": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by trader addresses (for PnL webhooks, normalized to lowercase). Max 500 entries."
          },
          "condition_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by market/condition IDs. Max 500 entries."
          },
          "min_usd_value": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Filter by minimum USD value (for trades)"
          },
          "event_slugs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by event slugs. Max 500 entries."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by tags. Max 500 entries."
          },
          "min_probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum probability threshold (0.0 - 1.0)"
          },
          "max_probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum probability threshold (0.0 - 1.0)"
          },
          "min_realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum realized PnL (USD) - for PnL webhooks"
          },
          "max_realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum realized PnL (USD) - for PnL webhooks"
          },
          "min_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum volume (USD) - for PnL and metrics webhooks"
          },
          "max_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum volume (USD) - for metrics webhooks"
          },
          "min_buy_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum buy volume (USD) - for PnL and metrics webhooks"
          },
          "min_win_rate": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum win rate (0.0 - 100.0) - for global PnL webhooks"
          },
          "min_markets_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum markets traded - for PnL webhooks"
          },
          "min_net_shares": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum net shares - for position PnL webhooks"
          },
          "max_net_shares": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum net shares - for position PnL webhooks"
          },
          "position_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by position IDs - for position PnL webhooks. Max 500 entries."
          },
          "outcomes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by outcomes (e.g., \"Yes\", \"No\") - for position PnL webhooks. Max 500 entries."
          },
          "position_outcome_indices": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "description": "Filter by position outcome index — for close_to_bond. Position 0 usually represents Yes/Up, 1 = No.\nWhen non-empty, only trades whose outcome_index is in this list will match. Max 500 entries."
          },
          "trade_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by trade type (e.g. \"OrderFilled\", \"Redemption\", \"Merge\", \"Split\"). Empty = default behavior per handler."
          },
          "min_fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum fees - for metrics webhooks"
          },
          "min_txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum transaction count - for metrics webhooks"
          },
          "min_unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum unique traders - for metrics webhooks"
          },
          "min_sell_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum sell volume (USD) - for position metrics webhooks"
          },
          "min_price_change_pct": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum price change percentage - for position metrics webhooks"
          },
          "min_probability_change_pct": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum probability change percentage - for position metrics webhooks"
          },
          "timeframes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookTimeframe"
            },
            "description": "Timeframes to track - for metrics webhooks (1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d)."
          },
          "milestone_amounts": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Milestone amounts to track - for volume milestone webhooks (e.g., 10000, 100000, 1000000). Max 500 entries."
          },
          "spike_ratio": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Spike ratio multiplier (must be > 1.0) - for volume spike webhooks\nExample: 2.0 for 2x, 5.0 for 5x, 10.0 for 10x"
          },
          "exclude_shortterm_markets": {
            "type": "boolean",
            "description": "When `true`, exclude all short-term \"updown\" markets (event slugs containing \"updown\").\nThese are short-duration crypto price markets (e.g., \"btc-updown-5m-…\", \"eth-updown-1h-…\").\nSupported by: close_to_bond, market_created, price_spike, probability_spike,\ntrader_first_trade, trader_new_market, trader_whale_trade, trader_event_pnl, trader_market_pnl,\nevent_metrics, event_volume_milestone, event_volume_spike."
          },
          "asset_symbols": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookAssetSymbol"
            },
            "description": "Filter by crypto asset symbol — for `asset_price_tick` and `asset_price_window_update` webhooks.\nValid values: \"BTC\", \"ETH\", \"SOL\", \"XRP\", \"DOGE\", \"BNB\", \"HYPE\". Empty = all assets."
          },
          "spike_direction": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/SpikeDirection",
                "description": "Direction filter for `probability_spike` and `price_spike` — only fire for spikes in a specific direction.\nOmit or set to `null` to receive spikes in both directions."
              }
            ]
          },
          "window_secs": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Observation window in seconds for `probability_spike` and `price_spike`.\n\nWhen set, the first trade seen for a position opens a window of this duration.\nThe opening price becomes the baseline, and every subsequent trade within the\nwindow is compared to it. When the window expires the next trade starts a new\nwindow. If omitted, the baseline accumulates indefinitely until a spike fires.\n\nExample: `60` to detect spikes that happen within 60 seconds.",
            "minimum": 0
          },
          "oracle_event_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter for `oracle_events` by event name (case-insensitive).\nValid values: `AssertionMade`, `AssertionDisputed`, `AssertionSettled`,\n`RequestPrice`, `ProposePrice`, `DisputePrice`, `Settle`,\n`QuestionResolved`, `QuestionEmergencyResolved`, `QuestionReset`,\n`QuestionInitialized`, `QuestionPaused`, `QuestionUnpaused`,\n`QuestionFlagged`, `QuestionUnflagged`, `ConditionResolution`,\n`NegRiskOutcomeReported`. Empty = all types."
          }
        }
      },
      "PositionMetricsPayload": {
        "type": "object",
        "description": "Payload delivered when a position's volume or transaction metrics cross a configured threshold",
        "properties": {
          "position_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "ERC-1155 outcome token ID"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int16",
            "description": "Outcome index"
          },
          "timeframe": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "1m",
              "5m",
              "30m",
              "1h",
              "6h",
              "24h",
              "7d",
              "30d",
              null
            ],
            "description": "Aggregation window"
          },
          "volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total trading volume in USD"
          },
          "buy_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Buy volume in USD"
          },
          "sell_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Sell volume in USD"
          },
          "fees": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total fees in USD"
          },
          "txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "buys": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "sells": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "price_open": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          },
          "price_close": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          },
          "price_high": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          },
          "price_low": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          },
          "probability_open": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          },
          "probability_close": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          },
          "probability_high": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          },
          "probability_low": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          }
        }
      },
      "PositionVolumeMilestonePayload": {
        "type": "object",
        "description": "Payload delivered when a position's trading volume crosses a USD milestone",
        "required": [
          "position_id",
          "timeframe",
          "milestone_usd",
          "current_volume_usd",
          "buy_volume_usd",
          "sell_volume_usd",
          "fees",
          "txns",
          "buys",
          "sells"
        ],
        "properties": {
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent market condition ID"
          },
          "position_id": {
            "type": "string",
            "description": "ERC-1155 outcome token ID"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int16",
            "description": "Outcome index"
          },
          "timeframe": {
            "type": "string",
            "enum": [
              "1m",
              "5m",
              "30m",
              "1h",
              "6h",
              "24h",
              "7d",
              "30d"
            ],
            "description": "Aggregation window"
          },
          "milestone_usd": {
            "type": "number",
            "description": "The USD milestone amount that was crossed"
          },
          "current_volume_usd": {
            "type": "number",
            "description": "Current position volume at time of trigger (USD)"
          },
          "buy_volume_usd": {
            "type": "number",
            "description": "Buy volume in USD for this timeframe"
          },
          "sell_volume_usd": {
            "type": "number",
[...]
