{
  "openapi": "3.1.0",
  "info": {
    "title": "Polymarket Webhook API",
    "description": "",
    "license": {
      "name": ""
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.struct.to/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "description": "Retrieve a paginated list of your webhook subscriptions with optional filtering",
        "operationId": "list_webhooks",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page (default: 20, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default: 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status: active, paused",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/WebhookStatusBody"
            }
          },
          {
            "name": "event",
            "in": "query",
            "description": "Filter by event type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PolymarketWebhookEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "description": "Create a new webhook subscription for real-time event notifications",
        "operationId": "create_webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (malformed URL, invalid filters, etc.)"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "402": {
            "description": "Insufficient credits"
          },
          "429": {
            "description": "Rate limit exceeded (max 100 webhooks per user)"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/events": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List event types",
        "description": "Retrieve all available webhook event types with descriptions, categories, credits cost, and applicable filter fields",
        "operationId": "list_events",
        "responses": {
          "200": {
            "description": "List of available event types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEventsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhook",
        "description": "Retrieve details of a specific webhook by its ID",
        "operationId": "get_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update webhook",
        "description": "Update an existing webhook's URL, filters, or status",
        "operationId": "update_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Webhook updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "description": "Permanently delete a webhook subscription",
        "operationId": "delete_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}/rotate-secret": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Rotate webhook secret",
        "description": "Generate a new HMAC secret for a webhook. The new secret is returned once — store it securely",
        "operationId": "rotate_secret",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New secret generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateSecretResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}/test": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Test webhook",
        "description": "Send a test payload to the webhook URL to verify connectivity",
        "operationId": "test_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test delivery completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookTestResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AssetPriceTickPayload": {
        "type": "object",
        "description": "Payload delivered on every raw Chainlink price tick for a tracked crypto asset",
        "required": [
          "symbol",
          "price",
          "timestamp_ms"
        ],
        "properties": {
          "symbol": {
            "type": "string",
            "enum": [
              "BTC",
              "ETH",
              "SOL",
              "XRP"
            ],
            "description": "Asset symbol"
          },
          "price": {
            "type": "number",
            "description": "Current asset price in USD from the Chainlink feed"
          },
          "timestamp_ms": {
            "type": "integer",
            "format": "int64",
            "description": "Tick timestamp (milliseconds since Unix epoch)"
          }
        }
      },
      "AssetPriceWindowUpdatePayload": {
        "type": "object",
        "description": "Payload delivered twice per candle — once on open and once on close. `close_price` is 0.0 on the \"open\" update.",
        "required": [
          "symbol",
          "variant",
          "start_time",
          "end_time",
          "open_price",
          "close_price",
          "update_type"
        ],
        "properties": {
          "symbol": {
            "type": "string",
            "enum": [
              "BTC",
              "ETH",
              "SOL",
              "XRP"
            ],
            "description": "Asset symbol"
          },
          "variant": {
            "type": "string",
            "enum": [
              "5m",
              "15m",
              "1h",
              "1d",
              "24h"
            ],
            "description": "Candle / window size"
          },
          "start_time": {
            "type": "integer",
            "format": "int64",
            "description": "Window start timestamp (milliseconds since Unix epoch)"
          },
          "end_time": {
            "type": "integer",
            "format": "int64",
            "description": "Window end timestamp (milliseconds since Unix epoch)"
          },
          "open_price": {
            "type": "number",
            "description": "Opening price at start_time (USD)"
          },
          "close_price": {
            "type": "number",
            "description": "Closing price at end_time (USD). 0.0 when update_type is \"open\" (not yet available)."
          },
          "update_type": {
            "type": "string",
            "enum": [
              "open",
              "close"
            ],
            "description": "\"open\" when the candle opens, \"close\" when it closes with a confirmed price"
          }
        }
      },
      "CloseToBondPayload": {
        "type": "object",
        "description": "Payload delivered when a trade occurs at a near-certain-outcome price",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "bond_side",
          "threshold"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Limit-order maker wallet address (lowercase)"
          },
          "taker": {
            "type": "string",
            "description": "Order filler wallet address (lowercase)"
          },
          "position_id": {
            "type": "string",
            "description": "ERC-1155 outcome token ID"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent market condition ID"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "description": "0 = Yes/Up, 1 = No"
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "trade_id": {
            "type": "string"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "block": {
            "type": "integer",
            "format": "int64"
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix seconds"
          },
          "amount_usd": {
            "type": "number",
            "description": "USD size of the trade"
          },
          "shares_amount": {
            "type": "number"
          },
          "fee": {
            "type": "number",
            "description": "Fee paid in USD"
          },
          "side": {
            "type": "string",
            "enum": [
              "Buy",
              "Sell"
            ]
          },
          "price": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Price that triggered the notification (0.0–1.0)"
          },
          "probability": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Implied probability (0.0–1.0)"
          },
          "bond_side": {
            "type": "string",
            "enum": [
              "high",
              "low"
            ],
            "description": "\"high\" when near YES (price ≥ threshold), \"low\" when near NO (price ≤ threshold)"
          },
          "threshold": {
            "type": "number",
            "description": "The probability threshold from the subscription filter that was breached"
          }
        }
      },
      "ConditionMetricsPayload": {
        "type": "object",
        "description": "Payload delivered when a market's volume or transaction metrics cross a configured threshold",
        "properties": {
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market condition ID"
          },
          "timeframe": {
            "type": [
              "string",
              "null"
            ],
            "description": "Aggregation window (e.g. \"1h\", \"24h\")"
          },
          "volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total trading volume in USD for this timeframe"
          },
          "fees": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total fees collected in USD"
          },
          "txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Total number of transactions"
          },
          "unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of unique traders"
          }
        }
      },
      "CreateWebhookRequestBody": {
        "type": "object",
        "description": "Request body for creating a webhook",
        "required": [
          "url",
          "event"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "Destination URL for webhook deliveries (must be HTTPS)"
          },
          "event": {
            "$ref": "#/components/schemas/PolymarketWebhookEvent",
            "description": "Event to subscribe to"
          },
          "secret": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional secret for HMAC signature verification"
          },
          "filters": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/WebhookFiltersBody",
                "description": "Optional filters for event matching"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description/name"
          }
        }
      },
      "DeleteWebhookResponse": {
        "type": "object",
        "description": "Delete webhook response",
        "required": [
          "deleted"
        ],
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "EventMetricsPayload": {
        "type": "object",
        "description": "Payload delivered when an event's aggregated volume or transaction metrics cross a configured threshold",
        "properties": {
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event slug"
          },
          "timeframe": {
            "type": [
              "string",
              "null"
            ],
            "description": "Aggregation window (e.g. \"1h\", \"24h\")"
          },
          "volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total aggregated volume across all markets in the event (USD)"
          },
          "fees": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total fees collected in USD"
          },
          "txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Total number of transactions"
          },
          "unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of unique traders"
          }
        }
      },
      "EventPnlPayload": {
        "type": "object",
        "description": "Payload delivered when a trader's per-event PnL crosses a configured threshold",
        "required": [
          "timeframe"
        ],
        "properties": {
          "trader": {
            "type": [
              "string",
              "null"
            ],
            "description": "Trader wallet address (lowercase)"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event slug"
          },
          "timeframe": {
            "type": "string",
            "enum": [
              "1d",
              "7d",
              "30d",
              "lifetime"
            ],
            "description": "PnL aggregation window"
          },
          "markets_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of distinct markets traded in this event"
          },
          "outcomes_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_buys": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_sells": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_redemptions": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_merges": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total volume in USD"
          },
          "buy_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "sell_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "redemption_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "merge_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Realized PnL in USD for this event"
          },
          "winning_markets": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "losing_markets": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_fees": {
            "type": [
              "number",
              "null"
            ]
          },
          "first_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Unix seconds"
          },
          "last_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Unix seconds"
          }
        }
      },
      "EventVolumeMilestonePayload": {
        "type": "object",
        "description": "Payload delivered when an event's aggregated trading volume crosses a USD milestone",
        "required": [
          "event_slug",
          "timeframe",
          "milestone_usd",
          "current_volume_usd",
          "fees",
          "txns"
        ],
        "properties": {
          "event_slug": {
            "type": "string",
            "description": "Event slug"
          },
          "timeframe": {
            "type": "string",
            "description": "Aggregation window (e.g. \"1h\", \"24h\")"
          },
          "milestone_usd": {
            "type": "number",
            "description": "The USD milestone amount that was crossed"
          },
          "current_volume_usd": {
            "type": "number",
            "description": "Current aggregated event volume at time of trigger (USD)"
          },
          "fees": {
            "type": "number",
            "description": "Total fees in USD for this timeframe"
          },
          "txns": {
            "type": "integer",
            "format": "int64",
            "description": "Total transactions in this timeframe"
          }
        }
      },
      "EventVolumeSpikePayload": {
        "type": "object",
        "description": "Payload delivered when an event's aggregated volume in a timeframe exceeds the configured baseline by the spike ratio",
        "required": [
          "event_slug",
          "timeframe",
          "current_volume_usd",
          "baseline_volume_usd",
          "spike_ratio",
          "threshold_usd",
          "txns",
          "fees"
        ],
        "properties": {
          "event_slug": {
            "type": "string",
            "description": "Event slug"
          },
          "timeframe": {
            "type": "string",
            "description": "Aggregation window (e.g. \"1h\", \"24h\")"
          },
          "current_volume_usd": {
            "type": "number",
            "description": "Current aggregated event volume at time of trigger (USD)"
          },
          "baseline_volume_usd": {
            "type": "number",
            "description": "User-configured baseline volume (USD)"
          },
          "spike_ratio": {
            "type": "number",
            "description": "Spike ratio threshold triggered (e.g. 2.0 for 2x)"
          },
          "threshold_usd": {
            "type": "number",
            "description": "Calculated threshold = baseline × ratio (USD)"
          },
          "txns": {
            "type": "integer",
            "format": "int64"
          },
          "fees": {
            "type": "number"
          }
        }
      },
      "FirstTradePayload": {
        "type": "object",
        "description": "Payload delivered when a tracked trader executes their first-ever trade on Polymarket",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "exchange",
          "trade_type"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Limit-order maker wallet address (lowercase)"
          },
          "taker": {
            "type": "string",
            "description": "Order filler wallet address (lowercase)"
          },
          "position_id": {
            "type": "string",
            "description": "ERC-1155 outcome token ID"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent market condition ID (0x-prefixed hex)"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Outcome index: 0 = Yes/Up, 1 = No"
          },
          "question": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market question text"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event slug"
          },
          "trade_id": {
            "type": "string",
            "description": "Unique trade identifier"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "Block number"
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Block confirmation timestamp (Unix seconds)"
          },
          "amount_usd": {
            "type": "number",
            "description": "USD size of the trade (6 decimal places)"
          },
          "shares_amount": {
            "type": "number",
            "description": "Outcome shares traded (6 decimal places)"
          },
          "fee": {
            "type": "number",
            "description": "Fee paid in USD (6 decimal places)"
          },
          "side": {
            "type": "string",
            "enum": [
              "Buy",
              "Sell"
            ],
            "description": "Trade direction"
          },
          "price": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Outcome token price (0.0–1.0)"
          },
          "exchange": {
            "type": "string",
            "description": "Exchange identifier"
          },
          "trade_type": {
            "type": "string",
            "description": "Trade type identifier"
          }
        }
      },
      "GlobalPnlPayload": {
        "type": "object",
        "description": "Payload delivered when a trader's global PnL (across all markets) crosses a configured threshold",
        "required": [
          "timeframe"
        ],
        "properties": {
          "trader": {
            "type": [
              "string",
              "null"
            ],
            "description": "Trader wallet address (lowercase)"
          },
          "timeframe": {
            "type": "string",
            "enum": [
              "1d",
              "7d",
              "30d",
              "lifetime"
            ],
            "description": "PnL aggregation window"
          },
          "realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Realized PnL in USD (positive = profit, negative = loss)"
          },
          "events_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of distinct events traded"
          },
          "markets_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of distinct markets traded"
          },
          "total_buys": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Total buy transactions"
          },
          "total_sells": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Total sell transactions"
          },
          "total_redemptions": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Total redemption transactions"
          },
          "total_merges": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Total merge transactions"
          },
          "total_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total USD volume (buys + sells + redemptions + merges)"
          },
          "buy_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total buy volume in USD"
          },
          "sell_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total sell volume in USD"
          },
          "redemption_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total redemption volume in USD"
          },
          "merge_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total merge volume in USD"
          },
          "markets_won": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of markets where trader realised a profit"
          },
          "markets_lost": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of markets where trader realised a loss"
          },
          "market_win_rate_pct": {
            "type": [
              "number",
              "null"
            ],
            "description": "Market win rate as a percentage (0.0–100.0)"
          },
          "avg_pnl_per_market": {
            "type": [
              "number",
              "null"
            ],
            "description": "Average PnL per market in USD"
          },
          "avg_pnl_per_trade": {
            "type": [
              "number",
              "null"
            ],
            "description": "Average PnL per trade in USD"
          },
          "avg_hold_time_seconds": {
            "type": [
              "number",
              "null"
            ],
            "description": "Average hold time across all positions (seconds)"
          },
          "total_fees": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total fees paid in USD"
          },
          "best_trade_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Best single-trade PnL in USD"
          },
          "best_trade_condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID of the best trade"
          },
          "worst_trade_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Worst single-trade PnL in USD"
          },
          "worst_trade_condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID of the worst trade"
          },
          "first_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Timestamp of the first trade (Unix seconds)"
          },
          "last_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Timestamp of the most recent trade (Unix seconds)"
          }
        }
      },
      "ListEventsResponse": {
        "type": "object",
        "description": "Response for GET /v1/webhook/events",
        "required": [
          "events"
        ],
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventInfo"
            }
          }
        }
      },
      "MarketCreatedOutcome": {
        "type": "object",
        "description": "An outcome entry within a newly created market",
        "required": [
          "index",
          "name",
          "position_id"
        ],
        "properties": {
          "index": {
            "type": "integer",
            "description": "Outcome index (0 = Yes, 1 = No)"
          },
          "name": {
            "type": "string",
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "position_id": {
            "type": "string",
            "description": "ERC-1155 position token ID for this outcome"
          }
        }
      },
      "MarketCreatedPayload": {
        "type": "object",
        "description": "Payload delivered when a new prediction market is detected on-chain and enriched with Gamma API metadata",
        "required": [
          "condition_id",
          "market_slug",
          "outcomes",
          "question",
          "description",
          "tags",
          "neg_risk"
        ],
        "properties": {
          "condition_id": {
            "type": "string",
            "description": "Condition ID (0x-prefixed hex, lowercase)"
          },
          "market_slug": {
            "type": "string",
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event slug"
          },
          "event_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event ID"
          },
          "event_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event title"
          },
          "series_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Series slug (for recurring markets)"
          },
          "outcomes": {
            "type": "array",
            "description": "List of market outcomes with their position IDs",
            "items": {
              "$ref": "#/components/schemas/MarketCreatedOutcome"
            }
          },
          "question": {
            "type": "string",
            "description": "Full market question text"
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Short display title"
          },
          "description": {
            "type": "string",
            "description": "Market description"
          },
          "category": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market category (e.g. \"Sports\", \"Politics\")"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Market tags"
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cover image URL"
          },
          "neg_risk": {
            "type": "boolean",
            "description": "Whether this is a neg-risk market"
          }
        }
      },
      "MarketPnlPayload": {
        "type": "object",
        "description": "Payload delivered when a trader's per-market PnL crosses a configured threshold",
        "required": [
          "timeframe"
        ],
        "properties": {
          "trader": {
            "type": [
              "string",
              "null"
            ],
            "description": "Trader wallet address (lowercase)"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market condition ID"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event slug"
          },
          "timeframe": {
            "type": "string",
            "enum": [
              "1d",
              "7d",
              "30d",
              "lifetime"
            ],
            "description": "PnL aggregation window"
          },
          "outcomes_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of distinct outcomes traded in this market"
          },
          "total_buys": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_sells": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_redemptions": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_merges": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "buy_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total buy volume in USD"
          },
          "sell_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total sell volume in USD"
          },
          "redemption_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total redemption volume in USD"
          },
          "merge_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total merge volume in USD"
          },
          "realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Realized PnL in USD for this market"
          },
          "winning_outcomes": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of outcomes with positive PnL"
          },
          "total_fees": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total fees paid in USD for this market"
          },
          "first_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Timestamp of first trade in market (Unix seconds)"
          },
          "last_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Timestamp of most recent trade in market (Unix seconds)"
          }
        }
      },
      "MarketVolumeSpikePayload": {
        "type": "object",
        "description": "Payload delivered when a market's volume in a timeframe exceeds the configured baseline by the spike ratio",
        "required": [
          "condition_id",
          "timeframe",
          "current_volume_usd",
          "baseline_volume_usd",
          "spike_ratio",
          "threshold_usd",
          "txns",
          "fees"
        ],
        "properties": {
          "condition_id": {
            "type": "string",
            "description": "Market condition ID"
          },
          "timeframe": {
            "type": "string",
            "description": "Aggregation window (e.g. \"1h\", \"24h\")"
          },
          "current_volume_usd": {
            "type": "number",
            "description": "Current volume that triggered the spike (USD)"
          },
          "baseline_volume_usd": {
            "type": "number",
            "description": "User-configured baseline volume for comparison (USD)"
          },
          "spike_ratio": {
            "type": "number",
            "description": "Spike ratio threshold that was triggered (e.g. 2.0 for 2x)"
          },
          "threshold_usd": {
            "type": "number",
            "description": "Calculated threshold = baseline × ratio (USD)"
          },
          "txns": {
            "type": "integer",
            "format": "int64",
            "description": "Total transactions in this timeframe"
          },
          "fees": {
            "type": "number",
            "description": "Total fees in USD for this timeframe"
          }
        }
      },
      "NewMarketPayload": {
        "type": "object",
        "description": "Payload delivered when a trader places their first trade in a specific market (fires once per trader+market pair)",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "exchange",
          "trade_type"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Limit-order maker wallet address (lowercase)"
          },
          "taker": {
            "type": "string",
            "description": "Order filler wallet address (lowercase)"
          },
          "position_id": {
            "type": "string",
            "description": "ERC-1155 outcome token ID"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent market condition ID"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Outcome index: 0 = Yes/Up, 1 = No"
          },
          "question": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market question text"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event slug"
          },
          "trade_id": {
            "type": "string",
            "description": "Unique trade identifier"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "Block number"
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Block confirmation timestamp (Unix seconds)"
          },
          "amount_usd": {
            "type": "number",
            "description": "USD size of the trade (6 decimal places)"
          },
          "shares_amount": {
            "type": "number",
            "description": "Outcome shares traded (6 decimal places)"
          },
          "fee": {
            "type": "number",
            "description": "Fee paid in USD (6 decimal places)"
          },
          "side": {
            "type": "string",
            "enum": [
              "Buy",
              "Sell"
            ],
            "description": "Trade direction"
          },
          "price": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Outcome token price (0.0–1.0)"
          },
          "probability": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Implied probability (0.0–1.0); null when outcome is unknown"
          },
          "exchange": {
            "type": "string",
            "description": "Exchange identifier"
          },
          "trade_type": {
            "type": "string",
            "description": "Trade type identifier"
          }
        }
      },
      "PnlTimeframeFilter": {
        "type": "string",
        "description": "PnL timeframe enum for webhook filtering",
        "enum": [
          "1d",
          "7d",
          "30d",
          "lifetime"
        ]
      },
      "PolymarketWebhookEvent": {
        "type": "string",
        "description": "Polymarket webhook event types",
        "enum": [
          "trader_first_trade",
          "trader_new_market",
          "trader_whale_trade",
          "trader_global_pnl",
          "trader_market_pnl",
          "trader_event_pnl",
          "condition_metrics",
          "event_metrics",
          "position_metrics",
          "market_volume_milestone",
          "event_volume_milestone",
          "position_volume_milestone",
          "probability_spike",
          "market_volume_spike",
          "event_volume_spike",
          "position_volume_spike",
          "close_to_bond",
          "market_created",
          "asset_price_tick",
          "asset_price_window_update"
        ]
      },
      "PolymarketWebhookFilter": {
        "type": "object",
        "description": "Polymarket-specific webhook filters\n\nDifferent webhook handlers use different subsets of these fields:\n- first_trade: wallet_addresses, min_usd_value, min_probability, max_probability, condition_ids, event_slugs, tags\n- new_market: wallet_addresses, condition_ids, event_slugs, min_usd_value, min_probability, max_probability\n- whale_trade: min_usd_value (required), min_probability, max_probability, condition_ids, event_slugs\n- global_pnl: traders, min_realized_pnl_usd, max_realized_pnl_usd, min_volume_usd, min_win_rate, min_markets_traded\n- market_pnl: traders, min_realized_pnl_usd, max_realized_pnl_usd, min_buy_usd, condition_ids, event_slugs\n- event_pnl: traders, min_realized_pnl_usd, max_realized_pnl_usd, min_volume_usd, event_slugs, min_markets_traded\n- condition_metrics: condition_ids, min_volume_usd, max_volume_usd, min_fees, min_txns, timeframes\n- event_metrics: event_slugs, min_volume_usd, max_volume_usd, min_fees, min_txns, timeframes\n- position_metrics: position_ids, condition_ids, outcomes, min_volume_usd, max_volume_usd, min_buy_usd, min_sell_volume_usd, min_fees, min_txns, min_price_change_pct, min_probability_change_pct, timeframes\n- volume_milestone: condition_ids, timeframes, milestone_amounts\n- close_to_bond: min_probability (high zone threshold), max_probability (low zone threshold), condition_ids, position_ids, outcomes, position_outcome_indices, event_slugs\n\nImplements Hash + Eq manually (f64 fields use bit representation)",
        "properties": {
          "wallet_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by wallet addresses (for first_trade, normalized to lowercase). Max 500 entries."
          },
          "traders": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by trader addresses (for PnL webhooks, normalized to lowercase). Max 500 entries."
          },
          "condition_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by market/condition IDs. Max 500 entries."
          },
          "min_usd_value": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Filter by minimum USD value (for trades)"
          },
          "event_slugs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by event slugs. Max 500 entries."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by tags. Max 500 entries."
          },
          "min_probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum probability threshold (0.0 - 1.0)"
          },
          "max_probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum probability threshold (0.0 - 1.0)"
          },
          "min_realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum realized PnL (USD) - for PnL webhooks"
          },
          "max_realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum realized PnL (USD) - for PnL webhooks"
          },
          "min_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum volume (USD) - for PnL and metrics webhooks"
          },
          "max_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum volume (USD) - for metrics webhooks"
          },
          "min_buy_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum buy volume (USD) - for PnL and metrics webhooks"
          },
          "min_win_rate": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum win rate (0.0 - 100.0) - for global PnL webhooks"
          },
          "min_markets_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum markets traded - for PnL webhooks"
          },
          "min_net_shares": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum net shares - for position PnL webhooks"
          },
          "max_net_shares": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum net shares - for position PnL webhooks"
          },
          "position_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by position IDs - for position PnL webhooks. Max 500 entries."
          },
          "outcomes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by outcomes (e.g., \"Yes\", \"No\") - for position PnL webhooks. Max 500 entries."
          },
          "position_outcome_indices": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "description": "Filter by position outcome index — for close_to_bond. Position 0 usually represents Yes/Up, 1 = No.\nWhen non-empty, only trades whose outcome_index is in this list will match. Max 500 entries."
          },
          "min_fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum fees - for metrics webhooks"
          },
          "min_txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum transaction count - for metrics webhooks"
          },
          "min_unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum unique traders - for metrics webhooks"
          },
          "min_sell_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum sell volume (USD) - for position metrics webhooks"
          },
          "min_price_change_pct": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum price change percentage - for position metrics webhooks"
          },
          "min_probability_change_pct": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum probability change percentage - for position metrics webhooks"
          },
          "timeframes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Timeframes to track - for metrics webhooks (1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d). Max 500 entries."
          },
          "milestone_amounts": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Milestone amounts to track - for volume milestone webhooks (e.g., 10000, 100000, 1000000). Max 500 entries."
          },
          "baseline_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "User's baseline volume for spike detection (USD) - for volume spike webhooks\nExample: 50000.0 for $50k baseline"
          },
          "spike_ratio": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Spike ratio multiplier (must be > 1.0) - for volume spike webhooks\nExample: 2.0 for 2x, 5.0 for 5x, 10.0 for 10x"
          },
          "exclude_shorterm_market_timeframes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Exclude short-term trading markets by timeframe (e.g., [\"5m\", \"15m\", \"30m\", \"1h\"])\nFilters out event slugs containing these timeframe patterns (auto-wrapped: \"5m\" → \"-5m-\")\nExample: Excludes \"btc-updown-5m-1771678800\" when \"5m\" is in the list. Max 500 entries."
          },
          "asset_symbols": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by crypto asset symbol — for `asset_price_tick` and `asset_price_window_update` webhooks.\nValid values: \"BTC\", \"ETH\", \"SOL\", \"XRP\". Empty = all assets. Max 500 entries."
          }
        }
      },
      "PositionMetricsPayload": {
        "type": "object",
        "description": "Payload delivered when a position's volume or transaction metrics cross a configured threshold",
        "properties": {
          "position_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "ERC-1155 outcome token ID"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int16",
            "description": "Outcome index"
          },
          "timeframe": {
            "type": [
              "string",
              "null"
            ],
            "description": "Aggregation window (e.g. \"1h\", \"24h\")"
          },
          "volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total trading volume in USD"
          },
          "buy_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Buy volume in USD"
          },
          "sell_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Sell volume in USD"
          },
          "fees": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total fees in USD"
          },
          "txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "buys": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "sells": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "price_open": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          },
          "price_close": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          },
          "price_high": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          },
          "price_low": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          },
          "probability_open": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          },
          "probability_close": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          },
          "probability_high": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          },
          "probability_low": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0
          }
        }
      },
      "PositionVolumeMilestonePayload": {
        "type": "object",
        "description": "Payload delivered when a position's trading volume crosses a USD milestone",
        "required": [
          "position_id",
          "timeframe",
          "milestone_usd",
          "current_volume_usd",
          "buy_volume_usd",
          "sell_volume_usd",
          "fees",
          "txns",
          "buys",
          "sells"
        ],
        "properties": {
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent market condition ID"
          },
          "position_id": {
            "type": "string",
            "description": "ERC-1155 outcome token ID"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int16",
            "description": "Outcome index"
          },
          "timeframe": {
            "type": "string",
            "description": "Aggregation window (e.g. \"1h\", \"24h\")"
          },
          "milestone_usd": {
            "type": "number",
            "description": "The USD milestone amount that was crossed"
          },
          "current_volume_usd": {
            "type": "number",
            "description": "Current position volume at time of trigger (USD)"
          },
          "buy_volume_usd": {
            "type": "number",
            "description": "Buy volume in USD for this timeframe"
          },
          "sell_volume_usd": {
            "type": "number",
            "description": "Sell volume in USD for this timeframe"
          },
          "fees": {
            "type": "number",
            "description": "Total fees in USD"
          },
          "txns": {
            "type": "integer",
            "format": "int64"
          },
          "buys": {
            "type": "integer",
            "format": "int64"
          },
          "sells": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PositionVolumeSpikePayload": {
        "type": "object",
        "description": "Payload delivered when a position's volume in a timeframe exceeds the configured baseline by the spike ratio",
        "required": [
          "position_id",
          "condition_id",
          "timeframe",
          "current_volume_usd",
          "baseline_volume_usd",
          "spike_ratio",
          "threshold_usd",
          "txns",
          "fees"
        ],
        "properties": {
          "position_id": {
            "type": "string",
            "description": "ERC-1155 outcome token ID"
          },
          "condition_id": {
            "type": "string",
            "description": "Parent market condition ID"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int16"
          },
          "timeframe": {
            "type": "string",
            "description": "Aggregation window (e.g. \"1h\", \"24h\")"
          },
          "current_volume_usd": {
            "type": "number",
            "description": "Current position volume at time of trigger (USD)"
          },
          "baseline_volume_usd": {
            "type": "number",
            "description": "User-configured baseline volume (USD)"
          },
          "spike_ratio": {
            "type": "number",
            "description": "Spike ratio threshold triggered (e.g. 2.0 for 2x)"
          },
          "threshold_usd": {
            "type": "number",
            "description": "Calculated threshold = baseline × ratio (USD)"
          },
          "txns": {
            "type": "integer",
            "format": "int64"
          },
          "fees": {
            "type": "number"
          }
        }
      },
      "ProbabilitySpikePayload": {
        "type": "object",
        "description": "Payload delivered when a position's probability changes by at least the configured percentage within a timeframe",
        "required": [
          "position_id",
          "timeframe",
          "probability_open",
          "probability_close",
          "probability_change",
          "probability_change_pct",
          "price_open",
          "price_close",
          "volume_usd",
          "txns"
        ],
        "properties": {
          "position_id": {
            "type": "string",
            "description": "ERC-1155 outcome token ID"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int16",
            "description": "Outcome index"
          },
          "timeframe": {
            "type": "string",
            "description": "Aggregation window (e.g. \"5m\", \"1h\")"
          },
          "probability_open": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Probability at the start of the timeframe (0.0–1.0)"
          },
          "probability_close": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Probability at the end of the timeframe (0.0–1.0)"
          },
          "probability_change": {
            "type": "number",
            "description": "Absolute probability change (e.g. 0.25 for a 25 percentage-point move)"
          },
          "probability_change_pct": {
            "type": "number",
            "description": "Relative percentage change vs open (e.g. 83.3 for a 30%→55% move). Negative for downward moves."
          },
          "price_open": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Outcome token price at timeframe open"
          },
          "price_close": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Outcome token price at timeframe close"
          },
          "volume_usd": {
            "type": "number",
            "description": "Total USD volume during the timeframe"
          },
          "txns": {
            "type": "integer",
            "format": "int64",
            "description": "Number of transactions during the timeframe"
          }
        }
      },
      "RotateSecretResponse": {
        "type": "object",
        "description": "Response for POST /v1/webhook/{id}/rotate-secret",
        "required": [
          "secret",
          "rotated_at"
        ],
        "properties": {
          "secret": {
            "type": "string",
            "description": "The new HMAC secret (only returned once — store it securely)"
          },
          "rotated_at": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of rotation (ms since epoch)"
          }
        }
      },
      "UpdateWebhookRequestBody": {
        "type": "object",
        "description": "Request body for updating a webhook",
        "properties": {
          "url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Destination URL for webhook deliveries (must be HTTPS)"
          },
          "event": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/PolymarketWebhookEvent",
                "description": "Event to subscribe to"
              }
            ]
          },
          "secret": {
            "type": [
              "string",
              "null"
            ],
            "description": "New secret for HMAC signature verification"
          },
          "filters": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/WebhookFiltersBody",
                "description": "Filters for event matching"
              }
            ]
          },
          "status": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/WebhookStatusBody",
                "description": "Webhook status"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Description/name"
          }
        }
      },
      "VolumeMilestonePayload": {
        "type": "object",
        "description": "Payload delivered when a market's trading volume crosses a USD milestone in the specified timeframe",
        "required": [
          "condition_id",
          "timeframe",
          "milestone_usd",
          "current_volume_usd",
          "fees",
          "txns"
        ],
        "properties": {
          "condition_id": {
            "type": "string",
            "description": "Market condition ID"
          },
          "timeframe": {
            "type": "string",
            "description": "Aggregation window that crossed the milestone (e.g. \"1h\", \"24h\")"
          },
          "milestone_usd": {
            "type": "number",
            "description": "The USD milestone amount that was crossed"
          },
          "current_volume_usd": {
            "type": "number",
            "description": "Current volume at time of trigger (USD)"
          },
          "fees": {
            "type": "number",
            "description": "Total fees in USD for this timeframe"
          },
          "txns": {
            "type": "integer",
            "format": "int64",
            "description": "Total transactions in this timeframe"
          }
        }
      },
      "WebhookEventInfo": {
        "type": "object",
        "description": "Single event type entry for the events list",
        "required": [
          "event",
          "description",
          "category",
          "credits_cost",
          "applicable_filters"
        ],
        "properties": {
          "event": {
            "type": "string",
            "description": "Event type identifier (e.g. \"first_trade\")"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description"
          },
          "category": {
            "type": "string",
            "description": "Category grouping: \"trader\", \"market\", \"event\", or \"position\""
          },
          "credits_cost": {
            "type": "integer",
            "format": "int64",
            "description": "Credits consumed per webhook delivery",
            "minimum": 0
          },
          "applicable_filters": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter field names that apply to this event type"
          }
        }
      },
      "WebhookFiltersBody": {
        "type": "object",
        "description": "Webhook filters request body",
        "properties": {
          "wallet_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by wallet addresses (for first_trade / new_market / whale_trade). Max 500 entries."
          },
          "traders": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by trader addresses (for PnL webhooks). Max 500 entries."
          },
          "condition_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by market/condition IDs. Max 500 entries."
          },
          "position_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by position IDs (for position metrics / close_to_bond). Max 500 entries."
          },
          "event_slugs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by event slugs. Max 500 entries."
          },
          "outcomes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by outcomes (e.g. \"Yes\", \"No\") — for position metrics / close_to_bond. Max 500 entries."
          },
          "position_outcome_indices": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "description": "Filter by position outcome index — for close_to_bond. Position 0 = Yes/Up, 1 = No. Max 500 entries."
          },
          "min_usd_value": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum USD trade size (for whale_trade / first_trade)"
          },
          "min_probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum probability threshold (0.0 - 1.0)"
          },
          "max_probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum probability threshold (0.0 - 1.0)"
          },
          "min_realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum realized PnL (USD) — for global_pnl / market_pnl / event_pnl"
          },
          "max_realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum realized PnL (USD) — for global_pnl / market_pnl / event_pnl"
          },
          "min_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum total volume (USD) — for global_pnl / event_pnl / metrics"
          },
          "max_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum total volume (USD) — for metrics webhooks"
          },
          "min_buy_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum buy volume (USD) — for market_pnl / position metrics"
          },
          "min_sell_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum sell volume (USD) — for position metrics"
          },
          "min_win_rate": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum win rate (0.0 - 100.0) — for global_pnl"
          },
          "min_markets_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum markets traded — for global_pnl / event_pnl"
          },
          "min_fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum fees (USD) — for metrics webhooks"
          },
          "min_txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum transaction count — for metrics webhooks"
          },
          "min_unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum unique traders — for metrics webhooks"
          },
          "min_price_change_pct": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum price change percentage — for position metrics"
          },
          "min_probability_change_pct": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum probability change percentage — for probability_spike"
          },
          "timeframes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Timeframes to filter by (e.g. [\"1h\", \"24h\", \"7d\"]) — **required** for volume_milestone\nwebhooks (market/event/position), optional for metrics webhooks.\nValid values: \"1m\", \"5m\", \"30m\", \"1h\", \"6h\", \"24h\", \"7d\", \"30d\". Max 500 entries."
          },
          "milestone_amounts": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Milestone amounts to trigger on (USD) — for volume_milestone webhooks. Max 500 entries."
          },
          "baseline_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "User-defined baseline volume for spike detection (USD) — for volume_spike"
          },
          "spike_ratio": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Spike ratio multiplier (must be > 1.0) — for volume_spike. E.g. 2.0 for 2x baseline"
          },
          "exclude_shorterm_market_timeframes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Exclude short-term trading markets by timeframe pattern (e.g. [\"5m\", \"15m\"]). Max 500 entries."
          },
          "asset_symbols": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by crypto asset symbol — for `asset_price_tick` and `asset_price_window_update`.\nValid values: \"BTC\", \"ETH\", \"SOL\", \"XRP\". Empty = all assets (send everything). Max 500 entries."
          }
        }
      },
      "WebhookListResponseBody": {
        "type": "object",
        "description": "List webhooks response",
        "required": [
          "webhooks",
          "total"
        ],
        "properties": {
          "webhooks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookResponse"
            },
            "description": "List of webhooks"
          },
          "total": {
            "type": "integer",
            "description": "Total count",
            "minimum": 0
          }
        }
      },
      "WebhookResponse": {
        "type": "object",
        "description": "Webhook response (returned from API)",
        "required": [
          "id",
          "url",
          "event",
          "status",
          "created_at",
          "updated_at",
          "has_secret"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique webhook ID"
          },
          "url": {
            "type": "string",
            "description": "Destination URL"
          },
          "event": {
            "$ref": "#/components/schemas/PolymarketWebhookEvent",
            "description": "Subscribed event"
          },
          "filters": {
            "$ref": "#/components/schemas/PolymarketWebhookFilter",
            "description": "Active filters (omitted when no filters are set)"
          },
          "status": {
            "type": "string",
            "description": "Current status: \"active\", \"paused\", or \"disabled\""
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Created timestamp (ms)"
          },
          "updated_at": {
            "type": "integer",
            "format": "int64",
            "description": "Updated timestamp (ms)"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Description/name"
          },
          "has_secret": {
            "type": "boolean",
            "description": "Whether an HMAC secret is configured"
          },
          "credits_used_24h": {
            "type": "integer",
            "format": "int64",
            "description": "Credits consumed by this webhook in the last 24 hours"
          }
        }
      },
      "WebhookStatusBody": {
        "type": "string",
        "description": "Webhook status",
        "enum": [
          "active",
          "paused"
        ]
      },
      "WebhookTestResponseBody": {
        "type": "object",
        "description": "Test webhook response",
        "required": [
          "success",
          "duration_ms"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the test delivery succeeded"
          },
          "status_code": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "HTTP status code from the endpoint",
            "minimum": 0
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "description": "Error message if failed"
          },
          "duration_ms": {
            "type": "integer",
            "format": "int64",
            "description": "Delivery duration in milliseconds",
            "minimum": 0
          }
        }
      },
      "WhaleTradePayload": {
        "type": "object",
        "description": "Payload delivered when a trade exceeds the configured size and probability thresholds",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "exchange",
          "trade_type"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Limit-order maker wallet address (lowercase)"
          },
          "taker": {
            "type": "string",
            "description": "Order filler wallet address (lowercase)"
          },
          "position_id": {
            "type": "string",
            "description": "ERC-1155 outcome token ID"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent market condition ID"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Outcome index: 0 = Yes/Up, 1 = No"
          },
          "question": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market question text"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event slug"
          },
          "trade_id": {
            "type": "string",
            "description": "Unique trade identifier"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "Block number"
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Block confirmation timestamp (Unix seconds)"
          },
          "amount_usd": {
            "type": "number",
            "description": "USD size of the trade (6 decimal places)"
          },
          "shares_amount": {
            "type": "number",
            "description": "Outcome shares traded (6 decimal places)"
          },
          "fee": {
            "type": "number",
            "description": "Fee paid in USD (6 decimal places)"
          },
          "side": {
            "type": "string",
            "enum": [
              "Buy",
              "Sell"
            ],
            "description": "Trade direction"
          },
          "price": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Outcome token price (0.0–1.0)"
          },
          "probability": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Implied probability (0.0–1.0); null when outcome is unknown"
          },
          "exchange": {
            "type": "string",
            "description": "Exchange identifier"
          },
          "trade_type": {
            "type": "string",
            "description": "Trade type identifier"
          }
        }
      },
      "TraderFirstTradeFilters": {
        "type": "object",
        "description": "Subscription filters for the `trader_first_trade` event. All fields are optional.",
        "properties": {
          "wallet_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 500,
            "description": "Only fire for trades by these wallet addresses (lowercase). Empty = all traders."
          },
          "condition_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 500,
            "description": "Restrict to trades in these markets. Empty = all markets."
          },
          "event_slugs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 500,
            "description": "Restrict to trades in markets belonging to these events."
          },
          "min_usd_value": {
            "type": "number",
            "description": "Minimum trade size in USD. Omit to match all sizes."
          },
          "min_probability": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Only fire when the outcome probability is ≥ this value."
          },
          "max_probability": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Only fire when the outcome probability is ≤ this value."
          }
        }
      },
      "TraderNewMarketFilters": {
        "type": "object",
        "description": "Subscription filters for the `trader_new_market` event. All fields are optional.",
        "properties": {
          "wallet_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 500,
            "description": "Only fire for these wallet addresses (lowercase). Empty = all traders."
          },
          "condition_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 500,
            "description": "Restrict to these markets."
          },
          "event_slugs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 500,
            "description": "Restrict to markets belonging to these events."
          }
        }
      },
      "TraderWhaleTradeFilters": {
        "type": "object",
        "description": "Subscription filters for the `trader_whale_trade` event. All fields are optional.",
        "properties": {
          "wallet_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 500,
            "description": "Only fire for trades by these wallet addresses. Empty = all traders."
          },
          "condition_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 500,
            "description": "Restrict to these markets."
          },
          "event_slugs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 500,
            "description": "Restrict to markets belonging to these events."
          },
          "min_usd_value": {
            "type": "number",
            "default": 0,
            "description": "Minimum trade size in USD. Defaults to 0 (matches all trades)."
          },
          "min_probability": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Only fire when outcome probability is ≥ this value."
          },
          "max_probability": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Only fire when outcome probability is ≤ this value."
          }
        }
      },
      "TraderGlobalPnlFilters": {
        "type": "object",
        "description": "Subscription filters for the `trader_global_pnl` event. All fields are optional.",
        "properties": {
          "traders": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 500,
            "description": "Track only these trader wallet addresses. Empty = all traders."
          },
          "min_realized_pnl_usd": {
            "type": "number",
            "description": "Only fire when realized PnL ≥ this value (USD). Use negative values for loss thresholds."
          },
          "max_realized_pnl_usd": {
            "type": "number",
            "description": "Only fire when realized PnL ≤ this value (USD)."
          },
          "min_volume_usd": {
            "type": "number",
            "description": "Only fire when total trading volume ≥ this value (USD)."
          },
          "min_win_rate": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 100.0,
            "description": "Only fire when market win rate ≥ this percentage (0.0–100.0)."
          },
          "min_markets_traded": {
            "type": "integer",
            "format": "int64",
            "description": "Only fire when the trader has traded in ≥ this many markets."
          },
          "timeframes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "1d",
                "7d",
                "30d",
                "lifetime"
              ]
            },
            "description": "Restrict to these PnL windows. Empty = all windows."
          }
        }
      },
      "TraderMarketPnlFilters": {
        "type": "object",
        "description": "Subscription filters for the `trader_market_pnl` event. All fields are optional.",
        "properties": {
          "traders": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 500,
            "description": "Track only these trader wallet addresses."
          },
          "condition_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 500,
            "description": "Restrict to these markets."
          },
          "event_slugs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 500,
            "description": "Restrict to markets in these events."
          },
          "min_realized_pnl_usd": {
            "type": "number",
            "description": "Only fire when per-market realized PnL ≥ this value (USD)."
          },
          "max_realized_pnl_usd": {
            "type": "number",
            "description": "Only fire when per-market realized PnL ≤ this value (USD)."
          },
          "min_buy_usd": {
            "type": "number",
            "description": "Only fire when buy volume in the market ≥ this value (USD)."
          },
          "timeframes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "1d",
                "7d",
                "30d",
                "lifetime"
              ]
            },
            "description": "Restrict to these PnL windows."
          }
        }
      },
      "TraderEventPnlFilters": {
        "type": "object",
        "description": "Subscription filters for the `trader_event_pnl` event. All fields are optional.",
        "properties": {
          "traders": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 500,
            "description": "Track only these trader wallet addresses."
          },
          "event_slugs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 500,
            "description": "Restrict to these events."
          },
          "min_realized_pnl_usd": {
            "type": "number",
            "description": "Only fire when per-event realized PnL ≥ this value (USD)."
          },
          "max_realized_pnl_usd": {
            "type": "number",
            "description": "Only fire when per-event realized PnL ≤ this value (USD)."
          },
          "min_volume_usd": {
            "type": "number",
            "description": "Only fire when total event volume ≥ this value (USD)."
          },
          "min_markets_traded": {
            "type": "integer",
            "format": "int64",
            "description": "Only fire when the trader has traded in ≥ this many markets within the event."
          },
          "timeframes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "1d",
                "7d",
                "30d",
                "lifetime"
              ]
            },
            "description": "Restrict to these PnL windows."
          }
        }
      },
      "MarketMetricsFilters": {
        "type": "object",
        "description": "Subscription filters for the `condition_metrics` event. All fields are optional.",
        "properties": {
          "condition_ids": {
            "type": "array",
            "items": {
[...]
