{
  "openapi": "3.1.0",
  "info": {
    "title": "Polymarket Webhook API",
    "description": "",
    "license": {
      "name": ""
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.struct.to/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "description": "Retrieve a paginated list of your webhook subscriptions with optional filtering",
        "operationId": "list_webhooks",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page (default: 20, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default: 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status: active, paused",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/WebhookStatusBody"
            }
          },
          {
            "name": "event",
            "in": "query",
            "description": "Filter by event type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PolymarketWebhookEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "description": "Create a new webhook subscription for real-time event notifications",
        "operationId": "create_webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (malformed URL, invalid filters, etc.)"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "402": {
            "description": "Insufficient credits"
          },
          "429": {
            "description": "Rate limit exceeded (max 100 webhooks per user)"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/events": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List event types",
        "description": "Retrieve all available webhook event types with descriptions, categories, credits cost, and applicable filter fields",
        "operationId": "list_events",
        "responses": {
          "200": {
            "description": "List of available event types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEventsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhook",
        "description": "Retrieve details of a specific webhook by its ID",
        "operationId": "get_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update webhook",
        "description": "Update an existing webhook's URL, filters, or status",
        "operationId": "update_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Webhook updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "description": "Permanently delete a webhook subscription",
        "operationId": "delete_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}/rotate-secret": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Rotate webhook secret",
        "description": "Generate a new HMAC secret for a webhook. The new secret is returned once — store it securely",
        "operationId": "rotate_secret",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New secret generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateSecretResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}/test": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Test webhook",
        "description": "Send a test payload to the webhook URL to verify connectivity",
        "operationId": "test_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test delivery completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookTestResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AssertionDisputedEvent": {
        "type": "object",
        "description": "V3 UMA OOv3: an assertion was disputed.",
        "required": [
          "id",
          "hash",
          "oracle_contract",
          "assertion_id",
          "caller",
          "disputer"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "block": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "confirmed_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "received_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "log_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "block_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "oracle_contract": {
            "type": "string"
          },
          "assertion_id": {
            "type": "string"
          },
          "caller": {
            "type": "string"
          },
          "disputer": {
            "type": "string"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "AssertionMadeEvent": {
        "type": "object",
        "description": "V3 UMA OOv3: a new assertion (resolution proposal) was made.",
        "required": [
          "id",
          "hash",
          "oracle_contract",
          "assertion_id",
          "domain_id",
          "claim",
          "asserter",
          "callback_recipient",
          "escalation_manager",
          "caller",
          "expiration_time",
          "currency",
          "bond",
          "identifier"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "block": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "confirmed_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "received_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "log_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "block_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "oracle_contract": {
            "type": "string"
          },
          "assertion_id": {
            "type": "string"
          },
          "domain_id": {
            "type": "string"
          },
          "claim": {
            "type": "string"
          },
          "asserter": {
            "type": "string"
          },
          "callback_recipient": {
            "type": "string"
          },
          "escalation_manager": {
            "type": "string"
          },
          "caller": {
            "type": "string"
          },
          "expiration_time": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "currency": {
            "type": "string"
          },
          "bond": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "proposed_outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "AssertionSettledEvent": {
        "type": "object",
        "description": "V3 UMA OOv3: an assertion liveness period expired and was settled.",
        "required": [
          "id",
          "hash",
          "oracle_contract",
          "assertion_id",
          "bond_recipient",
          "disputed",
          "settlement_resolution",
          "settle_caller"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "block": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "confirmed_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "received_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "log_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "block_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "oracle_contract": {
            "type": "string"
          },
          "assertion_id": {
            "type": "string"
          },
          "bond_recipient": {
            "type": "string"
          },
          "disputed": {
            "type": "boolean"
          },
          "settlement_resolution": {
            "type": "boolean"
          },
          "settle_caller": {
            "type": "string"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "AssetPriceTickFilters": {
        "type": "object",
        "description": "Subscription filters for the `asset_price_tick` event. All fields are optional.",
        "properties": {
          "asset_symbols": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookAssetSymbol"
            },
            "description": "Restrict to these crypto assets. Empty = all assets."
          }
        }
      },
      "AssetPriceTickPayload": {
        "type": "object",
        "description": "Webhook payload for an asset price tick.",
        "required": [
          "symbol",
          "price",
          "timestamp_ms"
        ],
        "properties": {
          "symbol": {
            "$ref": "#/components/schemas/WebhookAssetSymbol",
            "description": "Asset symbol"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Current price from the Chainlink feed"
          },
          "timestamp_ms": {
            "type": "integer",
            "format": "int64",
            "description": "Tick timestamp as reported by the WebSocket feed (milliseconds since epoch)"
          }
        }
      },
      "AssetPriceWindowUpdateFilters": {
        "type": "object",
        "description": "Subscription filters for the `asset_price_window_update` event. All fields are optional.",
        "properties": {
          "asset_symbols": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookAssetSymbol"
            },
            "description": "Restrict to these crypto assets. Empty = all assets.",
            "maxItems": 500
          },
          "timeframes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/AssetWindowFilterTimeframe"
            },
            "description": "Restrict to these candle sizes. Empty = all sizes.",
            "maxItems": 500
          }
        }
      },
      "AssetPriceWindowUpdatePayload": {
        "type": "object",
        "description": "Webhook payload for an asset price window open or close.",
        "required": [
          "symbol",
          "variant",
          "start_time",
          "end_time",
          "open_price",
          "close_price",
          "update_type"
        ],
        "properties": {
          "symbol": {
            "$ref": "#/components/schemas/WebhookAssetSymbol",
            "description": "Asset symbol"
          },
          "variant": {
            "$ref": "#/components/schemas/AssetPriceWindowVariant",
            "description": "Time-window variant"
          },
          "start_time": {
            "type": "integer",
            "format": "int64",
            "description": "Window start timestamp (milliseconds since epoch)"
          },
          "end_time": {
            "type": "integer",
            "format": "int64",
            "description": "Window end timestamp (milliseconds since epoch)"
          },
          "open_price": {
            "type": "number",
            "format": "double",
            "description": "Opening price at start_time"
          },
          "close_price": {
            "type": "number",
            "format": "double",
            "description": "Closing price at end_time (0.0 on an \"open\" update — not yet available)"
          },
          "update_type": {
            "$ref": "#/components/schemas/AssetPriceWindowUpdateType",
            "description": "\"open\" when the window starts, \"close\" when the window is complete"
          }
        }
      },
      "AssetPriceWindowUpdateType": {
        "type": "string",
        "description": "Whether this update is the open or the close of a candle.",
        "enum": [
          "open",
          "close"
        ]
      },
      "AssetPriceWindowVariant": {
        "type": "string",
        "description": "Time-window variant emitted by the asset price window stream.",
        "enum": [
          "5m",
          "15m",
          "1h",
          "4h",
          "1d",
          "24h"
        ]
      },
      "AssetWindowFilterTimeframe": {
        "type": "string",
        "description": "Candle sizes accepted by `asset_price_window_update.timeframes`.",
        "enum": [
          "5m",
          "15m",
          "1h",
          "4h",
          "1d",
          "24h"
        ]
      },
      "CloseToBondFilters": {
        "type": "object",
        "description": "Subscription filters for the `close_to_bond` event. At least one of\n`min_probability` or `max_probability` is required (enforced at runtime).",
        "properties": {
          "min_probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Trigger when the YES outcome price is ≥ this value (e.g. 0.95 for 95% certainty). At least one of `min_probability` or `max_probability` must be set.",
            "maximum": 1,
            "minimum": 0
          },
          "max_probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Trigger when the YES outcome price is ≤ this value (e.g. 0.05 for near-certain NO).",
            "maximum": 1,
            "minimum": 0
          },
          "condition_ids": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Restrict to these markets.",
            "maxItems": 500
          },
          "position_ids": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Restrict to these outcome token IDs.",
            "maxItems": 500
          },
          "event_slugs": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Restrict to markets in these events.",
            "maxItems": 500
          },
          "outcomes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Restrict to these outcome names (e.g. \\[\"Yes\", \"No\"\\]).",
            "maxItems": 500
          },
          "position_outcome_indices": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "description": "Restrict by outcome index. 0 = Yes/Up, 1 = No. Position 0 usually represents the Up/Yes side in binary markets.",
            "maxItems": 500
          },
          "exclude_shortterm_markets": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "When `true`, suppress webhooks for short-term \"updown\" markets. Default: `false`."
          }
        }
      },
      "CloseToBondPayload": {
        "type": "object",
        "description": "Close-to-bond webhook payload",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "bond_side",
          "threshold"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Trader address (the limit-order maker)"
          },
          "taker": {
            "type": "string",
            "description": "Taker address (the order filler — often the exchange contract)"
          },
          "position_id": {
            "type": "string",
            "description": "Position ID (ERC1155 token ID)"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID (parent market)"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Outcome index (0 = Yes/Up, 1 = No). Position 0 usually represents Yes/Up.",
            "minimum": 0
          },
          "question": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market question"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event slug"
          },
          "trade_id": {
            "type": "string",
            "description": "Trade ID"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "Block number",
            "minimum": 0
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Confirmed timestamp (Unix seconds)",
            "minimum": 0
          },
          "amount_usd": {
            "type": "number",
            "format": "double",
            "description": "USD size of the trade"
          },
          "shares_amount": {
            "type": "number",
            "format": "double",
            "description": "Outcome shares traded"
          },
          "fee": {
            "type": "number",
            "format": "double",
            "description": "Fee paid (USD)"
          },
          "side": {
            "type": "string",
            "description": "Trade side (\"Buy\" or \"Sell\")"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Price per share (0.0–1.0) — the value that triggered the notification"
          },
          "probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Implied probability of the outcome (0.0–1.0)"
          },
          "bond_side": {
            "type": "string",
            "description": "Which bond zone was entered: `\"high\"` (YES near-certain) or `\"low\"` (NO near-certain)"
          },
          "threshold": {
            "type": "number",
            "format": "double",
            "description": "The probability threshold from the subscriber's filter that was breached"
          }
        }
      },
      "ConditionMetricsPayload": {
        "type": "object",
        "description": "Payload delivered when a market's volume or transaction metrics cross a configured threshold",
        "properties": {
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market condition ID"
          },
          "timeframe": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "description": "Timeframe values accepted by webhook metric, milestone, spike, and asset-price filters.",
                "enum": [
                  "1m",
                  "5m",
                  "15m",
                  "30m",
                  "1h",
                  "4h",
                  "6h",
                  "1d",
                  "24h",
                  "7d",
                  "30d"
                ]
              }
            ],
            "description": "Aggregation window"
          },
          "volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Total trading volume in USD for this timeframe"
          },
          "fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Total fees collected in USD"
          },
          "txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Total number of transactions"
          },
          "unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of unique traders"
          }
        }
      },
      "ConditionResolutionEvent": {
        "type": "object",
        "description": "CTF ConditionResolution: positions become redeemable on the Conditional Tokens contract.",
        "required": [
          "id",
          "hash",
          "oracle_contract",
          "condition_id",
          "oracle"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "block": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "confirmed_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "received_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "log_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "block_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "oracle_contract": {
            "type": "string"
          },
          "condition_id": {
            "type": "string"
          },
          "oracle": {
            "type": "string"
          },
          "proposed_outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CreateWebhookRequestBody": {
        "type": "object",
        "description": "Request body for creating a webhook",
        "required": [
          "url",
          "event"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "Destination URL for webhook deliveries (must be HTTPS)"
          },
          "event": {
            "$ref": "#/components/schemas/PolymarketWebhookEvent",
            "description": "Event to subscribe to"
          },
          "secret": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional secret for HMAC signature verification"
          },
          "filters": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/WebhookFiltersBody",
                "description": "Optional filters for event matching"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description/name"
          }
        }
      },
      "DeleteWebhookResponse": {
        "type": "object",
        "description": "Delete webhook response",
        "required": [
          "deleted"
        ],
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "DisputePriceEvent": {
        "type": "object",
        "description": "V2 UMA OOv2: a proposed price was disputed.",
        "required": [
          "id",
          "hash",
          "oracle_contract",
          "requester",
          "proposer",
          "disputer",
          "identifier",
          "timestamp",
          "ancillary_data",
          "proposed_price"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "block": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "confirmed_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "received_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "log_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "block_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "oracle_contract": {
            "type": "string"
          },
          "requester": {
            "type": "string"
          },
          "proposer": {
            "type": "string"
          },
          "disputer": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "ancillary_data": {
            "type": "string"
          },
          "proposed_price": {
            "type": "integer",
            "format": "int64"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "proposed_outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "EventMetricsFilters": {
        "type": "object",
        "description": "Subscription filters for the `event_metrics` event. All fields are optional.",
        "properties": {
          "event_slugs": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Restrict to these events. Empty = all events.",
            "maxItems": 500
          },
          "timeframes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/MetricFilterTimeframe"
            },
            "description": "Restrict to these aggregation windows.",
            "maxItems": 500
          },
          "min_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Only fire when aggregated event volume ≥ this value (USD)."
          },
          "max_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "min_txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "min_unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "min_fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "exclude_shortterm_markets": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "When `true`, suppress webhooks for short-term \"updown\" markets. Default: `false`."
          }
        }
      },
      "EventMetricsPayload": {
        "type": "object",
        "description": "Payload delivered when an event's aggregated volume or transaction metrics cross a configured threshold",
        "properties": {
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event slug"
          },
          "timeframe": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "description": "Timeframe values accepted by webhook metric, milestone, spike, and asset-price filters.",
                "enum": [
                  "1m",
                  "5m",
                  "15m",
                  "30m",
                  "1h",
                  "4h",
                  "6h",
                  "1d",
                  "24h",
                  "7d",
                  "30d"
                ]
              }
            ],
            "description": "Aggregation window"
          },
          "volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Total aggregated volume across all markets in the event (USD)"
          },
          "fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Total fees collected in USD"
          },
          "txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Total number of transactions"
          },
          "unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Number of unique traders"
          }
        }
      },
      "EventPnlPayload": {
        "type": "object",
        "description": "Event PnL webhook payload (Arc-optimized)",
        "required": [
          "timeframe"
        ],
        "properties": {
          "trader": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "timeframe": {
            "type": "string",
            "description": "Aggregation timeframe: \"1d\", \"7d\", \"30d\", or \"lifetime\""
          },
          "markets_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "outcomes_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_buys": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_sells": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_redemptions": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_merges": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "buy_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "sell_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "redemption_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "merge_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "winning_markets": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "losing_markets": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "first_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "last_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          }
        }
      },
      "EventVolumeMilestoneFilters": {
        "type": "object",
        "description": "Subscription filters for the `event_volume_milestone` event.",
        "required": [
          "timeframes"
        ],
        "properties": {
          "timeframes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetricFilterTimeframe"
            },
            "description": "**Required.** Aggregation windows to monitor.",
            "maxItems": 500,
            "minItems": 1
          },
          "event_slugs": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Restrict to these events.",
            "maxItems": 500
          },
          "milestone_amounts": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Specific USD milestones to trigger on.",
            "maxItems": 500
          },
          "exclude_shortterm_markets": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "When `true`, suppress webhooks for short-term \"updown\" markets. Default: `false`."
          }
        }
      },
      "EventVolumeMilestonePayload": {
        "type": "object",
        "description": "Event volume milestone webhook payload",
        "required": [
          "event_slug",
          "timeframe",
          "milestone_usd",
          "current_volume_usd",
          "fees",
          "txns"
        ],
        "properties": {
          "event_slug": {
            "type": "string"
          },
          "timeframe": {
            "type": "string"
          },
          "milestone_usd": {
            "type": "number",
            "format": "double",
            "description": "Milestone amount reached (USD)"
          },
          "current_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Current volume (USD) that triggered the milestone"
          },
          "fees": {
            "type": "number",
            "format": "double",
            "description": "Total fees collected in this timeframe"
          },
          "txns": {
            "type": "integer",
            "format": "int64",
            "description": "Total transactions in this timeframe"
          }
        }
      },
      "EventVolumeSpikeFilters": {
        "type": "object",
        "description": "Subscription filters for the `event_volume_spike` event. `spike_ratio` is required.",
        "required": [
          "spike_ratio"
        ],
        "properties": {
          "spike_ratio": {
            "type": "number",
            "format": "double",
            "description": "**Required.** Multiplier threshold (must be > 1.0). Fires when current volume >= snapshot × ratio.",
            "exclusiveMinimum": 1
          },
          "window_secs": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Force snapshot reset after this many seconds (max 600 / 10 minutes).",
            "maximum": 600,
            "minimum": 1
          },
          "event_slugs": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Restrict to these events.",
            "maxItems": 500
          },
          "timeframes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/VolumeSpikeFilterTimeframe"
            },
            "description": "Restrict to these aggregation windows.",
            "maxItems": 500
          },
          "exclude_shortterm_markets": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "When `true`, suppress webhooks for short-term \"updown\" markets. Default: `false`."
          }
        }
      },
      "EventVolumeSpikePayload": {
        "type": "object",
        "description": "Event volume spike webhook payload",
        "required": [
          "event_slug",
          "timeframe",
          "current_volume_usd",
          "snapshot_volume_usd",
          "delta_volume_usd",
          "spike_pct",
          "txns",
          "fees"
        ],
        "properties": {
          "event_slug": {
            "type": "string"
          },
          "event_title": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "timeframe": {
            "type": "string"
          },
          "current_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Current aggregated event volume at the time of the spike (USD)"
          },
          "snapshot_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Volume at the snapshot baseline (USD)"
          },
          "delta_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "New volume since the snapshot that triggered this notification (USD)"
          },
          "spike_pct": {
            "type": "number",
            "format": "double",
            "description": "Volume growth as a percentage of the snapshot (e.g. 200.0 means volume tripled)"
          },
          "txns": {
            "type": "integer",
            "format": "int64",
            "description": "Total transactions in this timeframe"
          },
          "fees": {
            "type": "number",
            "format": "double",
            "description": "Total fees in this timeframe"
          }
        }
      },
      "FirstTradePayload": {
        "type": "object",
        "description": "Payload delivered when a tracked trader executes their first-ever trade on Polymarket",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "exchange",
          "trade_type"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Limit-order maker wallet address (lowercase)"
          },
          "taker": {
            "type": "string",
            "description": "Order filler wallet address (lowercase)"
          },
          "position_id": {
            "type": "string",
            "description": "ERC-1155 outcome token ID"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent market condition ID (0x-prefixed hex)"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Outcome index: 0 = Yes/Up, 1 = No",
            "minimum": 0
          },
          "question": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market question text"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event slug"
          },
          "trade_id": {
            "type": "string",
            "description": "Unique trade identifier"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "Block number",
            "minimum": 0
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Block confirmation timestamp (Unix seconds)",
            "minimum": 0
          },
          "amount_usd": {
            "type": "number",
            "format": "double",
            "description": "USD size of the trade (6 decimal places)"
          },
          "shares_amount": {
            "type": "number",
            "format": "double",
            "description": "Outcome shares traded (6 decimal places)"
          },
          "fee": {
            "type": "number",
            "format": "double",
            "description": "Fee paid in USD (6 decimal places)"
          },
          "side": {
            "oneOf": [
              {
                "type": "string",
                "description": "Trade direction for trade-fill webhook payloads.",
                "enum": [
                  "Buy",
                  "Sell"
                ]
              }
            ],
            "description": "Trade direction"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Outcome token price (0.0–1.0)",
            "maximum": 1,
            "minimum": 0
          },
          "exchange": {
            "oneOf": [
              {
                "type": "string",
                "description": "Polymarket exchange contract types.\n`repr(u8)` discriminants double as the database column value — DO NOT renumber\nexisting variants. New variants get fresh numbers.",
                "enum": [
                  "CTFExchange",
                  "NegRiskExchange",
                  "ConditionalTokens",
                  "NegRiskAdapter",
                  "CTFExchangeV2",
                  "NegRiskExchangeV2",
                  "Unknown"
                ]
              }
            ],
            "description": "Exchange contract that processed the trade"
          },
          "trade_type": {
            "oneOf": [
              {
                "type": "string",
                "description": "Trade type for trade-fill webhook payloads. Webhook events only fire on\nfill-style trades, so the only valid variants are `OrderFilled` and\n`OrdersMatched`.",
                "enum": [
                  "OrderFilled",
                  "OrdersMatched"
                ]
              }
            ],
            "description": "Trade type (webhook events only fire on order fills)"
          }
        }
      },
      "GlobalPnlPayload": {
        "type": "object",
        "description": "Global PnL webhook payload (Arc-optimized)",
        "required": [
          "timeframe"
        ],
        "properties": {
          "trader": {
            "type": [
              "string",
              "null"
            ]
          },
          "timeframe": {
            "type": "string",
            "description": "Aggregation timeframe: \"1d\", \"7d\", \"30d\", or \"lifetime\""
          },
          "realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "events_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "markets_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_buys": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_sells": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_redemptions": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_merges": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "buy_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "sell_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "redemption_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "merge_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "markets_won": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "markets_lost": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "market_win_rate_pct": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "avg_pnl_per_market": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "avg_pnl_per_trade": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "avg_hold_time_seconds": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "total_fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "best_trade_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "best_trade_condition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "first_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "last_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          }
        }
      },
      "ListEventsResponse": {
        "type": "object",
        "description": "Response for GET /v1/webhook/events",
        "required": [
          "events"
        ],
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventInfo"
            }
          }
        }
      },
      "MarketCreatedFilters": {
        "type": "object",
        "description": "Subscription filters for the `market_created` event. All fields are optional.",
        "properties": {
          "tags": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Restrict to markets with these tags or category names (case-insensitive match).",
            "maxItems": 500
          },
          "event_slugs": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Restrict to markets belonging to these events.",
            "maxItems": 500
          },
          "exclude_shortterm_markets": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "When `true`, suppress webhooks for short-term \"updown\" markets (event slugs containing `updown`). Default: `false`."
          }
        }
      },
      "MarketCreatedOutcome": {
        "type": "object",
        "description": "Outcome entry in the market created payload — mirrors `NewMarketOutcome`",
        "required": [
          "index",
          "name",
          "position_id"
        ],
        "properties": {
          "index": {
            "type": "integer",
            "format": "int32",
            "description": "Outcome index (0 = Yes, 1 = No)",
            "minimum": 0
          },
          "name": {
            "type": "string",
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "position_id": {
            "type": "string",
            "description": "ERC1155 position token ID"
          }
        }
      },
      "MarketCreatedPayload": {
        "type": "object",
        "description": "Market created webhook payload — mirrors `NewMarketPayload` field-for-field",
        "required": [
          "condition_id",
          "market_slug",
          "outcomes",
          "question",
          "description",
          "tags",
          "neg_risk"
        ],
        "properties": {
          "condition_id": {
            "type": "string",
            "description": "Condition ID (0x-prefixed hex, lowercase)"
          },
          "market_slug": {
            "type": "string",
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event slug (parent event)"
          },
          "event_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event ID"
          },
          "event_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event title"
          },
          "series_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Series slug"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketCreatedOutcome"
            },
            "description": "Outcomes with their position IDs, index, and name"
          },
          "question": {
            "type": "string",
            "description": "Market question"
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market title (short display name)"
          },
          "description": {
            "type": "string",
            "description": "Market description"
          },
          "category": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market category (e.g. \"Sports\", \"Politics\")"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Market tags"
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cover image URL"
          },
          "neg_risk": {
            "type": "boolean",
            "description": "Whether this is a neg-risk market"
          }
        }
      },
      "MarketMetricsFilters": {
        "type": "object",
        "description": "Subscription filters for the `condition_metrics` event. All fields are optional.",
        "properties": {
          "condition_ids": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Restrict to these markets. Empty = all markets.",
            "maxItems": 500
          },
          "timeframes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/MetricFilterTimeframe"
            },
            "description": "Restrict to these aggregation windows. Empty = all windows.",
            "maxItems": 500
          },
          "min_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Only fire when volume ≥ this value (USD)."
          },
          "max_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Only fire when volume ≤ this value (USD)."
          },
          "min_txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Only fire when transaction count ≥ this value."
          },
          "min_unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Only fire when unique trader count ≥ this value."
          },
          "min_fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Only fire when total fees ≥ this value (USD)."
          }
        }
      },
      "MarketPnlPayload": {
        "type": "object",
        "description": "Market PnL webhook payload (Arc-optimized)",
        "required": [
          "timeframe"
        ],
        "properties": {
          "trader": {
            "type": [
              "string",
              "null"
            ]
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "timeframe": {
            "type": "string",
            "description": "Aggregation timeframe: \"1d\", \"7d\", \"30d\", or \"lifetime\""
          },
          "outcomes_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_buys": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_sells": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_redemptions": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_merges": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "buy_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "sell_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "redemption_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "merge_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "winning_outcomes": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "first_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "last_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          }
        }
      },
      "MarketVolumeMilestoneFilters": {
        "type": "object",
        "description": "Subscription filters for the `market_volume_milestone` event.",
        "required": [
          "timeframes"
        ],
        "properties": {
          "timeframes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetricFilterTimeframe"
            },
            "description": "**Required.** Aggregation windows to monitor (e.g. \\[\"1h\", \"24h\"\\]).",
            "maxItems": 500,
            "minItems": 1
          },
          "condition_ids": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Restrict to these markets. Empty = all markets.",
            "maxItems": 500
          },
          "milestone_amounts": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Specific USD milestones to trigger on (e.g. \\[10000, 100000, 1000000\\]). Empty = all milestones.",
            "maxItems": 500
          }
        }
      },
      "MarketVolumeSpikeFilters": {
        "type": "object",
        "description": "Subscription filters for the `market_volume_spike` event. `spike_ratio` is required.",
        "required": [
          "spike_ratio"
        ],
        "properties": {
          "spike_ratio": {
            "type": "number",
            "format": "double",
            "description": "**Required.** Multiplier threshold (must be > 1.0). Fires when current volume >= snapshot × ratio. The snapshot is set automatically on first data and resets after each fire.",
            "exclusiveMinimum": 1
          },
          "window_secs": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Force snapshot reset after this many seconds (max 600 / 10 minutes).",
            "maximum": 600,
            "minimum": 1
          },
          "condition_ids": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Restrict to these markets. Empty = all markets.",
            "maxItems": 500
          },
          "timeframes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/VolumeSpikeFilterTimeframe"
            },
            "description": "Restrict to these aggregation windows. Empty = all windows.",
            "maxItems": 500
          }
        }
      },
      "MarketVolumeSpikePayload": {
        "type": "object",
        "description": "Market volume spike webhook payload",
        "required": [
          "condition_id",
          "timeframe",
          "current_volume_usd",
          "snapshot_volume_usd",
          "delta_volume_usd",
          "spike_pct",
          "txns",
          "fees"
        ],
        "properties": {
          "condition_id": {
            "type": "string"
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "timeframe": {
            "type": "string"
          },
          "current_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Current window volume at the time of the spike (USD)"
          },
          "snapshot_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Volume at the snapshot baseline (USD)"
          },
          "delta_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "New volume since the snapshot that triggered this notification (USD)"
          },
          "spike_pct": {
            "type": "number",
            "format": "double",
            "description": "Volume growth as a percentage of the snapshot (e.g. 200.0 means volume tripled)"
          },
          "txns": {
            "type": "integer",
            "format": "int64",
            "description": "Total transactions in this timeframe"
          },
          "fees": {
            "type": "number",
            "format": "double",
            "description": "Total fees in this timeframe"
          }
        }
      },
      "MetricFilterTimeframe": {
        "type": "string",
        "description": "Aggregation windows emitted by the metrics / milestone streams.",
        "enum": [
          "1m",
          "5m",
          "30m",
          "1h",
          "6h",
          "24h",
          "7d",
          "30d"
        ]
      },
      "NegRiskOutcomeReportedEvent": {
        "type": "object",
        "description": "NegRisk Adapter: outcome reported for a neg-risk market question.",
        "required": [
          "id",
          "hash",
          "oracle_contract",
          "condition_id"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "block": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "confirmed_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "received_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "log_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "block_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "oracle_contract": {
            "type": "string"
          },
          "condition_id": {
            "type": "string"
          },
          "proposed_outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "NewMarketPayload": {
        "type": "object",
        "description": "Payload delivered when a trader places their first trade in a specific market (fires once per trader+market pair)",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "exchange",
          "trade_type"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Limit-order maker wallet address (lowercase)"
          },
          "taker": {
            "type": "string",
            "description": "Order filler wallet address (lowercase)"
          },
          "position_id": {
            "type": "string",
            "description": "ERC-1155 outcome token ID"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent market condition ID"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Outcome index: 0 = Yes/Up, 1 = No",
            "minimum": 0
          },
          "question": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market question text"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event slug"
          },
          "trade_id": {
            "type": "string",
            "description": "Unique trade identifier"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "Block number",
            "minimum": 0
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Block confirmation timestamp (Unix seconds)",
            "minimum": 0
          },
          "amount_usd": {
            "type": "number",
            "format": "double",
            "description": "USD size of the trade (6 decimal places)"
          },
          "shares_amount": {
            "type": "number",
            "format": "double",
            "description": "Outcome shares traded (6 decimal places)"
          },
          "fee": {
            "type": "number",
            "format": "double",
            "description": "Fee paid in USD (6 decimal places)"
          },
          "side": {
            "oneOf": [
              {
                "type": "string",
                "description": "Trade direction for trade-fill webhook payloads.",
                "enum": [
                  "Buy",
                  "Sell"
                ]
              }
            ],
            "description": "Trade direction"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Outcome token price (0.0–1.0)",
            "maximum": 1,
            "minimum": 0
          },
          "probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Implied probability (0.0–1.0); null when outcome is unknown",
            "maximum": 1,
            "minimum": 0
          },
          "exchange": {
            "oneOf": [
              {
                "type": "string",
                "description": "Polymarket exchange contract types.\n`repr(u8)` discriminants double as the database column value — DO NOT renumber\nexisting variants. New variants get fresh numbers.",
                "enum": [
                  "CTFExchange",
                  "NegRiskExchange",
                  "ConditionalTokens",
                  "NegRiskAdapter",
                  "CTFExchangeV2",
                  "NegRiskExchangeV2",
                  "Unknown"
                ]
              }
            ],
            "description": "Exchange contract that processed the trade"
          },
          "trade_type": {
            "oneOf": [
              {
                "type": "string",
                "description": "Trade type for trade-fill webhook payloads. Webhook events only fire on\nfill-style trades, so the only valid variants are `OrderFilled` and\n`OrdersMatched`.",
                "enum": [
                  "OrderFilled",
                  "OrdersMatched"
                ]
              }
            ],
            "description": "Trade type (webhook events only fire on order fills)"
          }
        }
      },
      "NewTradeFilterType": {
        "type": "string",
        "description": "Trade types accepted by `trader_new_trade.trade_types`. Webhook fires on\nfill-style trades only.",
        "enum": [
          "OrderFilled",
          "OrdersMatched"
        ]
      },
      "NewTradePayload": {
        "type": "object",
        "description": "Payload delivered on every order-filled trade",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "exchange",
          "trade_type"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Limit-order maker wallet address (lowercase)"
          },
          "taker": {
            "type": "string",
            "description": "Order filler wallet address (lowercase)"
          },
          "position_id": {
            "type": "string",
            "description": "ERC-1155 outcome token ID"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent market condition ID"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Outcome index: 0 = Yes/Up, 1 = No",
            "minimum": 0
          },
          "question": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market question text"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event slug"
          },
          "trade_id": {
            "type": "string",
            "description": "Unique trade identifier"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "Block number",
            "minimum": 0
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Block confirmation timestamp (Unix seconds)",
            "minimum": 0
          },
          "amount_usd": {
            "type": "number",
            "format": "double",
            "description": "USD size of the trade (6 decimal places)"
          },
          "shares_amount": {
            "type": "number",
            "format": "double",
            "description": "Outcome shares traded (6 decimal places)"
          },
          "fee": {
            "type": "number",
            "format": "double",
            "description": "Fee paid in USD (6 decimal places)"
          },
          "side": {
            "oneOf": [
              {
                "type": "string",
                "description": "Trade direction for trade-fill webhook payloads.",
                "enum": [
                  "Buy",
                  "Sell"
                ]
              }
            ],
            "description": "Trade direction"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Outcome token price (0.0–1.0)",
            "maximum": 1,
            "minimum": 0
          },
          "probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Implied probability (0.0–1.0); null when outcome is unknown",
            "maximum": 1,
            "minimum": 0
          },
          "exchange": {
            "oneOf": [
              {
                "type": "string",
                "description": "Polymarket exchange contract types.\n`repr(u8)` discriminants double as the database column value — DO NOT renumber\nexisting variants. New variants get fresh numbers.",
                "enum": [
                  "CTFExchange",
                  "NegRiskExchange",
                  "ConditionalTokens",
                  "NegRiskAdapter",
                  "CTFExchangeV2",
                  "NegRiskExchangeV2",
                  "Unknown"
                ]
              }
            ],
            "description": "Exchange contract that processed the trade"
          },
          "trade_type": {
            "oneOf": [
              {
                "type": "string",
                "description": "Trade type for trade-fill webhook payloads. Webhook events only fire on\nfill-style trades, so the only valid variants are `OrderFilled` and\n`OrdersMatched`.",
                "enum": [
                  "OrderFilled",
                  "OrdersMatched"
                ]
              }
            ],
            "description": "Trade type (webhook events only fire on order fills)"
          }
        }
      },
      "OracleEventFilterType": {
        "type": "string",
        "description": "Oracle event variants accepted by `oracle_events.oracle_event_types`.",
        "enum": [
          "AssertionMade",
          "AssertionDisputed",
          "AssertionSettled",
          "RequestPrice",
          "ProposePrice",
          "DisputePrice",
          "Settle",
          "QuestionResolved",
          "QuestionEmergencyResolved",
          "QuestionReset",
          "QuestionInitialized",
          "QuestionPaused",
          "QuestionUnpaused",
          "QuestionFlagged",
          "QuestionUnflagged",
          "ConditionResolution",
          "NegRiskOutcomeReported"
        ]
      },
      "OracleEventTyped": {
        "oneOf": [
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/AssertionMadeEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "AssertionMade"
                    ]
                  }
                }
              }
            ],
            "title": "AssertionMade"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/AssertionDisputedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "AssertionDisputed"
                    ]
                  }
                }
              }
            ],
            "title": "AssertionDisputed"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/AssertionSettledEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "AssertionSettled"
                    ]
                  }
                }
              }
            ],
            "title": "AssertionSettled"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/RequestPriceEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "RequestPrice"
                    ]
                  }
                }
              }
            ],
            "title": "RequestPrice"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProposePriceEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "ProposePrice"
                    ]
                  }
                }
              }
            ],
            "title": "ProposePrice"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/DisputePriceEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "DisputePrice"
                    ]
                  }
                }
              }
            ],
            "title": "DisputePrice"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/SettleEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "Settle"
                    ]
                  }
                }
              }
            ],
            "title": "Settle"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionResolvedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionResolved"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionResolved"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionEmergencyResolvedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionEmergencyResolved"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionEmergencyResolved"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionResetEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionReset"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionReset"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionInitializedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionInitialized"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionInitialized"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionPausedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionPaused"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionPaused"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionUnpausedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionUnpaused"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionUnpaused"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionFlaggedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionFlagged"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionFlagged"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/QuestionUnflaggedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "QuestionUnflagged"
                    ]
                  }
                }
              }
            ],
            "title": "QuestionUnflagged"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/ConditionResolutionEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "ConditionResolution"
                    ]
                  }
                }
              }
            ],
            "title": "ConditionResolution"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/NegRiskOutcomeReportedEvent"
              },
              {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "NegRiskOutcomeReported"
                    ]
                  }
                }
              }
            ],
            "title": "NegRiskOutcomeReported"
          }
        ],
        "description": "Tagged enum for all oracle event types — serializes with `\"event_type\": \"...\"` discriminator\nand only includes fields relevant to each type.",
        "discriminator": {
          "propertyName": "event_type"
        }
      },
      "OracleEventsFilters": {
        "type": "object",
        "description": "Subscription filters for the `oracle_events` event. All fields are optional.",
        "properties": {
          "oracle_event_types": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/OracleEventFilterType"
            },
            "description": "Restrict to these event types (case-insensitive). Empty = all."
          },
          "condition_ids": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Restrict to events for these condition IDs.",
            "maxItems": 500
          }
        }
      },
      "PnlFilterTimeframe": {
        "type": "string",
        "description": "PnL aggregation windows accepted by `*_pnl.timeframes`.",
        "enum": [
          "1d",
          "7d",
          "30d",
          "lifetime"
        ]
      },
[...]
