{
  "openapi": "3.1.0",
  "info": {
    "title": "Polymarket Webhook API",
    "description": "",
    "license": {
      "name": ""
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.struct.to/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "description": "Retrieve a paginated list of your webhook subscriptions with optional filtering",
        "operationId": "list_webhooks",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page (default: 20, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default: 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status: active, paused",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/WebhookStatusBody"
            }
          },
          {
            "name": "event",
            "in": "query",
            "description": "Filter by event type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PolymarketWebhookEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "description": "Create a new webhook subscription for real-time event notifications",
        "operationId": "create_webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (malformed URL, invalid filters, etc.)"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "402": {
            "description": "Insufficient credits"
          },
          "429": {
            "description": "Rate limit exceeded (max 100 webhooks per user)"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/events": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List event types",
        "description": "Retrieve all available webhook event types with descriptions",
        "operationId": "list_events",
        "responses": {
          "200": {
            "description": "List of available event types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEventsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhook",
        "description": "Retrieve details of a specific webhook by its ID",
        "operationId": "get_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update webhook",
        "description": "Update an existing webhook's URL, filters, or status",
        "operationId": "update_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Webhook updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "description": "Permanently delete a webhook subscription",
        "operationId": "delete_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}/rotate-secret": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Rotate webhook secret",
        "description": "Generate a new HMAC secret for a webhook. The new secret is returned once — store it securely",
        "operationId": "rotate_secret",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New secret generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateSecretResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}/test": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Test webhook",
        "description": "Send a test payload to the webhook URL to verify connectivity",
        "operationId": "test_webhook",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test delivery completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookTestResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Webhook not found or not owned by user"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CloseToBondPayload": {
        "type": "object",
        "description": "Close-to-bond webhook payload",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "bond_side",
          "threshold"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Trader address (the limit-order maker)"
          },
          "taker": {
            "type": "string",
            "description": "Taker address (the order filler — often the exchange contract)"
          },
          "position_id": {
            "type": "string",
            "description": "Position ID (ERC1155 token ID)"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID (parent market)"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Outcome index (0 = Yes, 1 = No)",
            "minimum": 0
          },
          "question": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market question"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event slug"
          },
          "trade_id": {
            "type": "string",
            "description": "Trade ID"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "Block number",
            "minimum": 0
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Confirmed timestamp (Unix seconds)",
            "minimum": 0
          },
          "amount_usd": {
            "type": "number",
            "format": "double",
            "description": "USD size of the trade"
          },
          "shares_amount": {
            "type": "number",
            "format": "double",
            "description": "Outcome shares traded"
          },
          "fee": {
            "type": "number",
            "format": "double",
            "description": "Fee paid (USD)"
          },
          "side": {
            "type": "string",
            "description": "Trade side (\"Buy\" or \"Sell\")"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Price per share (0.0–1.0) — the value that triggered the notification"
          },
          "probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Implied probability of the outcome (0.0–1.0)"
          },
          "bond_side": {
            "type": "string",
            "description": "Which bond zone was entered: `\"high\"` (YES near-certain) or `\"low\"` (NO near-certain)"
          },
          "threshold": {
            "type": "number",
            "format": "double",
            "description": "The probability threshold from the subscriber's filter that was breached"
          }
        }
      },
      "ConditionMetricsPayload": {
        "type": "object",
        "description": "Condition metrics webhook payload (Arc-optimized, no internal metadata)",
        "properties": {
          "condition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "timeframe": {
            "type": [
              "string",
              "null"
            ]
          },
          "volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          }
        }
      },
      "CreateWebhookRequestBody": {
        "type": "object",
        "description": "Request body for creating a webhook",
        "required": [
          "url",
          "event"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "Destination URL for webhook deliveries (must be HTTPS)"
          },
          "event": {
            "$ref": "#/components/schemas/PolymarketWebhookEvent",
            "description": "Event to subscribe to"
          },
          "secret": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional secret for HMAC signature verification"
          },
          "filters": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/WebhookFiltersBody",
                "description": "Optional filters for event matching"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description/name"
          }
        }
      },
      "DeleteWebhookResponse": {
        "type": "object",
        "description": "Delete webhook response",
        "required": [
          "deleted"
        ],
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "EventMetricsPayload": {
        "type": "object",
        "description": "Event metrics webhook payload (Arc-optimized, no internal metadata)",
        "properties": {
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "timeframe": {
            "type": [
              "string",
              "null"
            ]
          },
          "volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          }
        }
      },
      "EventPnlPayload": {
        "type": "object",
        "description": "Event PnL webhook payload (Arc-optimized)",
        "required": [
          "timeframe"
        ],
        "properties": {
          "trader": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "timeframe": {
            "type": "string",
            "description": "Aggregation timeframe: \"1d\", \"7d\", \"30d\", or \"lifetime\""
          },
          "markets_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "outcomes_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_buys": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_sells": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_redemptions": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_merges": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "buy_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "sell_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "redemption_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "merge_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "winning_markets": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "losing_markets": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "first_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "last_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          }
        }
      },
      "EventVolumeMilestonePayload": {
        "type": "object",
        "description": "Event volume milestone webhook payload",
        "required": [
          "event_slug",
          "timeframe",
          "milestone_usd",
          "current_volume_usd",
          "fees",
          "txns"
        ],
        "properties": {
          "event_slug": {
            "type": "string"
          },
          "timeframe": {
            "type": "string"
          },
          "milestone_usd": {
            "type": "number",
            "format": "double",
            "description": "Milestone amount reached (USD)"
          },
          "current_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Current volume (USD) that triggered the milestone"
          },
          "fees": {
            "type": "number",
            "format": "double",
            "description": "Total fees collected in this timeframe"
          },
          "txns": {
            "type": "integer",
            "format": "int64",
            "description": "Total transactions in this timeframe"
          }
        }
      },
      "FirstTradePayload": {
        "type": "object",
        "description": "First trade webhook payload with zero-copy Arc<str> for string sharing",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "exchange",
          "trade_type"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Trader/taker address (zero-copy Arc)"
          },
          "taker": {
            "type": "string",
            "description": "Taker address (same as trader, zero-copy Arc)"
          },
          "position_id": {
            "type": "string",
            "description": "Position ID (ERC1155 token ID, zero-copy Arc)"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID (market condition, zero-copy Arc)"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market outcome (e.g., \"Yes\", \"No\", zero-copy Arc)"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Outcome index (0 = Yes, 1 = No)",
            "minimum": 0
          },
          "question": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market question (zero-copy Arc)"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market slug (zero-copy Arc)"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event slug (parent event, zero-copy Arc)"
          },
          "trade_id": {
            "type": "string",
            "description": "Trade ID (zero-copy Arc)"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash (zero-copy Arc)"
          },
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "Block number",
            "minimum": 0
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Confirmed timestamp (Unix seconds)",
            "minimum": 0
          },
          "amount_usd": {
            "type": "number",
            "format": "double"
          },
          "shares_amount": {
            "type": "number",
            "format": "double"
          },
          "fee": {
            "type": "number",
            "format": "double"
          },
          "side": {
            "type": "string",
            "description": "Trade side (Buy/Sell, zero-copy Arc)"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Price per share (0.0 - 1.0)"
          },
          "exchange": {
            "type": "string"
          },
          "trade_type": {
            "type": "string"
          }
        }
      },
      "GlobalPnlPayload": {
        "type": "object",
        "description": "Global PnL webhook payload (Arc-optimized)",
        "required": [
          "timeframe"
        ],
        "properties": {
          "trader": {
            "type": [
              "string",
              "null"
            ]
          },
          "timeframe": {
            "type": "string",
            "description": "Aggregation timeframe: \"1d\", \"7d\", \"30d\", or \"lifetime\""
          },
          "realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "events_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "markets_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_buys": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_sells": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_redemptions": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_merges": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "buy_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "sell_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "redemption_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "merge_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "markets_won": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "markets_lost": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "market_win_rate_pct": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "avg_pnl_per_market": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "avg_pnl_per_trade": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "avg_hold_time_seconds": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "total_fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "best_trade_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "best_trade_condition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "worst_trade_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "worst_trade_condition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "first_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "last_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          }
        }
      },
      "ListEventsResponse": {
        "type": "object",
        "description": "Response for GET /v1/webhook/events",
        "required": [
          "events"
        ],
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventInfo"
            }
          }
        }
      },
      "MarketCreatedOutcome": {
        "type": "object",
        "description": "Outcome entry in the market created payload — mirrors `NewMarketOutcome`",
        "required": [
          "index",
          "name",
          "position_id"
        ],
        "properties": {
          "index": {
            "type": "integer",
            "format": "int32",
            "description": "Outcome index (0 = Yes, 1 = No)",
            "minimum": 0
          },
          "name": {
            "type": "string",
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "position_id": {
            "type": "string",
            "description": "ERC1155 position token ID"
          }
        }
      },
      "MarketCreatedPayload": {
        "type": "object",
        "description": "Market created webhook payload — mirrors `NewMarketPayload` field-for-field",
        "required": [
          "condition_id",
          "market_slug",
          "outcomes",
          "question",
          "description",
          "tags",
          "neg_risk",
          "block",
          "block_timestamp"
        ],
        "properties": {
          "condition_id": {
            "type": "string",
            "description": "Condition ID (0x-prefixed hex, lowercase)"
          },
          "market_slug": {
            "type": "string",
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event slug (parent event)"
          },
          "event_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event ID"
          },
          "event_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event title"
          },
          "series_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Series slug"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketCreatedOutcome"
            },
            "description": "Outcomes with their position IDs, index, and name"
          },
          "question": {
            "type": "string",
            "description": "Market question"
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market title (short display name)"
          },
          "description": {
            "type": "string",
            "description": "Market description"
          },
          "category": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market category (e.g. \"Sports\", \"Politics\")"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Market tags"
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cover image URL"
          },
          "neg_risk": {
            "type": "boolean",
            "description": "Whether this is a neg-risk market"
          },
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "Block number where ConditionPreparation was emitted",
            "minimum": 0
          },
          "block_timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Block timestamp (Unix seconds)",
            "minimum": 0
          }
        }
      },
      "MarketPnlPayload": {
        "type": "object",
        "description": "Market PnL webhook payload (Arc-optimized)",
        "required": [
          "timeframe"
        ],
        "properties": {
          "trader": {
            "type": [
              "string",
              "null"
            ]
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "timeframe": {
            "type": "string",
            "description": "Aggregation timeframe: \"1d\", \"7d\", \"30d\", or \"lifetime\""
          },
          "outcomes_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_buys": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_sells": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_redemptions": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_merges": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "buy_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "sell_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "redemption_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "merge_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "winning_outcomes": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "total_fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "first_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "last_trade_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          }
        }
      },
      "NewMarketPayload": {
        "type": "object",
        "description": "New market entry webhook payload\n\nFired when a trader places their first trade in a specific condition/market.\nThe payload contains the full details of the triggering trade.",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "exchange",
          "trade_type"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Trader address (placed the limit order)"
          },
          "taker": {
            "type": "string",
            "description": "Taker address (filled the order — often the exchange contract)"
          },
          "position_id": {
            "type": "string",
            "description": "Position ID (ERC1155 token ID)"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID (market condition)"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Outcome index (0 = Yes, 1 = No)",
            "minimum": 0
          },
          "question": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market question"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event slug (parent event)"
          },
          "trade_id": {
            "type": "string",
            "description": "Trade ID"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "Block number",
            "minimum": 0
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Confirmed timestamp (Unix seconds)",
            "minimum": 0
          },
          "amount_usd": {
            "type": "number",
            "format": "double",
            "description": "USD size of the trade"
          },
          "shares_amount": {
            "type": "number",
            "format": "double",
            "description": "Outcome shares traded"
          },
          "fee": {
            "type": "number",
            "format": "double",
            "description": "Fee paid (USD)"
          },
          "side": {
            "type": "string",
            "description": "Trade side (\"Buy\" or \"Sell\")"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Price per share (0.0–1.0)"
          },
          "probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Implied probability (0.0–1.0); None when outcome is unknown"
          },
          "exchange": {
            "type": "string"
          },
          "trade_type": {
            "type": "string"
          }
        }
      },
      "PnlTimeframeFilter": {
        "type": "string",
        "description": "PnL timeframe enum for webhook filtering",
        "enum": [
          "1d",
          "7d",
          "30d",
          "lifetime"
        ]
      },
      "PolymarketWebhookEvent": {
        "type": "string",
        "description": "Polymarket webhook event types",
        "enum": [
          "first_trade",
          "new_market",
          "whale_trade",
          "global_pnl",
          "market_pnl",
          "event_pnl",
          "condition_metrics",
          "event_metrics",
          "position_metrics",
          "volume_milestone",
          "event_volume_milestone",
          "position_volume_milestone",
          "probability_spike",
          "volume_spike",
          "close_to_bond",
          "market_created"
        ]
      },
      "PolymarketWebhookFilter": {
        "type": "object",
        "description": "Polymarket-specific webhook filters\n\nDifferent webhook handlers use different subsets of these fields:\n- first_trade: wallet_addresses, min_usd_value, min_probability, max_probability, condition_ids, event_slugs, tags\n- new_market: wallet_addresses, condition_ids, event_slugs, min_usd_value, min_probability, max_probability\n- whale_trade: min_usd_value (required), min_probability, max_probability, condition_ids, event_slugs\n- global_pnl: traders, min_realized_pnl_usd, max_realized_pnl_usd, min_volume_usd, min_win_rate, min_markets_traded\n- market_pnl: traders, min_realized_pnl_usd, max_realized_pnl_usd, min_buy_usd, condition_ids, event_slugs\n- event_pnl: traders, min_realized_pnl_usd, max_realized_pnl_usd, min_volume_usd, event_slugs, min_markets_traded\n- condition_metrics: condition_ids, min_volume_usd, max_volume_usd, min_fees, min_txns, timeframes\n- event_metrics: event_slugs, min_volume_usd, max_volume_usd, min_fees, min_txns, timeframes\n- position_metrics: position_ids, condition_ids, outcomes, min_volume_usd, max_volume_usd, min_buy_usd, min_sell_volume_usd, min_fees, min_txns, min_price_change_pct, min_probability_change_pct, timeframes\n- volume_milestone: condition_ids, timeframes, milestone_amounts\n- close_to_bond: min_probability (high zone threshold), max_probability (low zone threshold), condition_ids, position_ids, outcomes, timeframes\n\nImplements Hash + Eq manually (f64 fields use bit representation)",
        "properties": {
          "wallet_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by wallet addresses (for first_trade, normalized to lowercase)"
          },
          "traders": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by trader addresses (for PnL webhooks, normalized to lowercase)"
          },
          "condition_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by market/condition IDs"
          },
          "min_usd_value": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Filter by minimum USD value (for trades)"
          },
          "event_slugs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by event slugs"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by tags"
          },
          "min_probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum probability threshold (0.0 - 1.0)"
          },
          "max_probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum probability threshold (0.0 - 1.0)"
          },
          "min_realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum realized PnL (USD) - for PnL webhooks"
          },
          "max_realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum realized PnL (USD) - for PnL webhooks"
          },
          "min_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum volume (USD) - for PnL and metrics webhooks"
          },
          "max_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum volume (USD) - for metrics webhooks"
          },
          "min_buy_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum buy volume (USD) - for PnL and metrics webhooks"
          },
          "min_win_rate": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum win rate (0.0 - 100.0) - for global PnL webhooks"
          },
          "min_markets_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum markets traded - for PnL webhooks"
          },
          "min_net_shares": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum net shares - for position PnL webhooks"
          },
          "max_net_shares": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum net shares - for position PnL webhooks"
          },
          "position_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by position IDs - for position PnL webhooks"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by outcomes (e.g., \"Yes\", \"No\") - for position PnL webhooks"
          },
          "min_fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum fees - for metrics webhooks"
          },
          "min_txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum transaction count - for metrics webhooks"
          },
          "min_unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum unique traders - for metrics webhooks"
          },
          "min_sell_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum sell volume (USD) - for position metrics webhooks"
          },
          "min_price_change_pct": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum price change percentage - for position metrics webhooks"
          },
          "min_probability_change_pct": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum probability change percentage - for position metrics webhooks"
          },
          "timeframes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Timeframes to track - for metrics webhooks (1m, 5m, 30m, 1h, 6h, 24h, 7d, 30d)"
          },
          "milestone_amounts": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Milestone amounts to track - for volume milestone webhooks (e.g., 10000, 100000, 1000000)"
          },
          "baseline_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "User's baseline volume for spike detection (USD) - for volume spike webhooks\nExample: 50000.0 for $50k baseline"
          },
          "spike_ratio": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Spike ratio multiplier (must be > 1.0) - for volume spike webhooks\nExample: 2.0 for 2x, 5.0 for 5x, 10.0 for 10x"
          },
          "exclude_shorterm_market_timeframes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Exclude short-term trading markets by timeframe (e.g., [\"5m\", \"15m\", \"30m\", \"1h\"])\nFilters out event slugs containing these timeframe patterns (auto-wrapped: \"5m\" → \"-5m-\")\nExample: Excludes \"btc-updown-5m-1771678800\" when \"5m\" is in the list"
          }
        }
      },
      "PositionMetricsPayload": {
        "type": "object",
        "description": "Position metrics webhook payload (Arc-optimized, no internal metadata)",
        "properties": {
          "position_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "timeframe": {
            "type": [
              "string",
              "null"
            ]
          },
          "volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "buy_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "sell_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "buys": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "sells": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "price_open": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "price_close": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "price_high": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "price_low": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "probability_open": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "probability_close": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "probability_high": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "probability_low": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          }
        }
      },
      "PositionVolumeMilestonePayload": {
        "type": "object",
        "description": "Position volume milestone webhook payload",
        "required": [
          "position_id",
          "timeframe",
          "milestone_usd",
          "current_volume_usd",
          "buy_volume_usd",
          "sell_volume_usd",
          "fees",
          "txns",
          "buys",
          "sells"
        ],
        "properties": {
          "condition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "position_id": {
            "type": "string"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "timeframe": {
            "type": "string"
          },
          "milestone_usd": {
            "type": "number",
            "format": "double",
            "description": "Milestone amount reached (USD)"
          },
          "current_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Current volume (USD) that triggered the milestone"
          },
          "buy_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Buy volume (USD)"
          },
          "sell_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Sell volume (USD)"
          },
          "fees": {
            "type": "number",
            "format": "double",
            "description": "Total fees collected in this timeframe"
          },
          "txns": {
            "type": "integer",
            "format": "int64",
            "description": "Total transactions in this timeframe"
          },
          "buys": {
            "type": "integer",
            "format": "int64",
            "description": "Buy transactions"
          },
          "sells": {
            "type": "integer",
            "format": "int64",
            "description": "Sell transactions"
          }
        }
      },
      "ProbabilitySpikePayload": {
        "type": "object",
        "description": "Position probability spike webhook payload",
        "required": [
          "position_id",
          "timeframe",
          "probability_open",
          "probability_close",
          "probability_change",
          "probability_change_pct",
          "price_open",
          "price_close",
          "volume_usd",
          "txns"
        ],
        "properties": {
          "position_id": {
            "type": "string"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "timeframe": {
            "type": "string"
          },
          "probability_open": {
            "type": "number",
            "format": "double",
            "description": "Probability at the start of the timeframe (0.0 - 1.0)"
          },
          "probability_close": {
            "type": "number",
            "format": "double",
            "description": "Probability at the end of the timeframe (0.0 - 1.0)"
          },
          "probability_change": {
            "type": "number",
            "format": "double",
            "description": "Absolute probability change (e.g., 0.25 for 25 percentage points)"
          },
          "probability_change_pct": {
            "type": "number",
            "format": "double",
            "description": "Percentage change relative to open (e.g., 83.33 for 30% -> 55%)"
          },
          "price_open": {
            "type": "number",
            "format": "double",
            "description": "Price at open (0.0 - 1.0)"
          },
          "price_close": {
            "type": "number",
            "format": "double",
            "description": "Price at close (0.0 - 1.0)"
          },
          "volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Volume during the timeframe (USD)"
          },
          "txns": {
            "type": "integer",
            "format": "int64",
            "description": "Number of transactions"
          }
        }
      },
      "RotateSecretResponse": {
        "type": "object",
        "description": "Response for POST /v1/webhook/{id}/rotate-secret",
        "required": [
          "secret",
          "rotated_at"
        ],
        "properties": {
          "secret": {
            "type": "string",
            "description": "The new HMAC secret (only returned once — store it securely)"
          },
          "rotated_at": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of rotation (ms since epoch)"
          }
        }
      },
      "UpdateWebhookRequestBody": {
        "type": "object",
        "description": "Request body for updating a webhook",
        "properties": {
          "url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Destination URL for webhook deliveries (must be HTTPS)"
          },
          "event": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/PolymarketWebhookEvent",
                "description": "Event to subscribe to"
              }
            ]
          },
          "secret": {
            "type": [
              "string",
              "null"
            ],
            "description": "New secret for HMAC signature verification"
          },
          "filters": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/WebhookFiltersBody",
                "description": "Filters for event matching"
              }
            ]
          },
          "status": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/WebhookStatusBody",
                "description": "Webhook status"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Description/name"
          }
        }
      },
      "VolumeMilestonePayload": {
        "type": "object",
        "description": "Volume milestone webhook payload",
        "required": [
          "condition_id",
          "timeframe",
          "milestone_usd",
          "current_volume_usd",
          "fees",
          "txns"
        ],
        "properties": {
          "condition_id": {
            "type": "string"
          },
          "timeframe": {
            "type": "string"
          },
          "milestone_usd": {
            "type": "number",
            "format": "double",
            "description": "Milestone amount reached (USD)"
          },
          "current_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Current volume (USD) that triggered the milestone"
          },
          "fees": {
            "type": "number",
            "format": "double",
            "description": "Total fees collected in this timeframe"
          },
          "txns": {
            "type": "integer",
            "format": "int64",
            "description": "Total transactions in this timeframe"
          }
        }
      },
      "VolumeSpikePayload": {
        "type": "object",
        "description": "Volume spike webhook payload",
        "required": [
          "condition_id",
          "timeframe",
          "current_volume_usd",
          "baseline_volume_usd",
          "spike_ratio",
          "threshold_usd",
          "txns",
          "fees"
        ],
        "properties": {
          "condition_id": {
            "type": "string"
          },
          "timeframe": {
            "type": "string"
          },
          "current_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Current volume that triggered the spike (USD)"
          },
          "baseline_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "User's baseline volume for comparison (USD)"
          },
          "spike_ratio": {
            "type": "number",
            "format": "double",
            "description": "Spike ratio threshold that was triggered"
          },
          "threshold_usd": {
            "type": "number",
            "format": "double",
            "description": "Calculated threshold that was crossed (baseline * ratio)"
          },
          "txns": {
            "type": "integer",
            "format": "int64",
            "description": "Total transactions in this timeframe"
          },
          "fees": {
            "type": "number",
            "format": "double",
            "description": "Total fees in this timeframe"
          }
        }
      },
      "WebhookEventInfo": {
        "type": "object",
        "description": "Single event type entry for the events list",
        "required": [
          "event",
          "description"
        ],
        "properties": {
          "event": {
            "type": "string",
            "description": "Event type identifier (e.g. \"first_trade\")"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description"
          }
        }
      },
      "WebhookFiltersBody": {
        "type": "object",
        "description": "Webhook filters request body",
        "properties": {
          "wallet_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by wallet addresses (for first_trade / new_market / whale_trade)"
          },
          "traders": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by trader addresses (for PnL webhooks)"
          },
          "condition_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by market/condition IDs"
          },
          "position_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by position IDs (for position metrics / close_to_bond)"
          },
          "event_slugs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by event slugs"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by outcomes (e.g. \"Yes\", \"No\") — for position metrics / close_to_bond"
          },
          "min_usd_value": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum USD trade size (for whale_trade / first_trade)"
          },
          "min_probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum probability threshold (0.0 - 1.0)"
          },
          "max_probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum probability threshold (0.0 - 1.0)"
          },
          "min_realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum realized PnL (USD) — for global_pnl / market_pnl / event_pnl"
          },
          "max_realized_pnl_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum realized PnL (USD) — for global_pnl / market_pnl / event_pnl"
          },
          "min_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum total volume (USD) — for global_pnl / event_pnl / metrics"
          },
          "max_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Maximum total volume (USD) — for metrics webhooks"
          },
          "min_buy_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum buy volume (USD) — for market_pnl / position metrics"
          },
          "min_sell_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum sell volume (USD) — for position metrics"
          },
          "min_win_rate": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum win rate (0.0 - 100.0) — for global_pnl"
          },
          "min_markets_traded": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum markets traded — for global_pnl / event_pnl"
          },
          "min_fees": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum fees (USD) — for metrics webhooks"
          },
          "min_txns": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum transaction count — for metrics webhooks"
          },
          "min_unique_traders": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Minimum unique traders — for metrics webhooks"
          },
          "min_price_change_pct": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum price change percentage — for position metrics"
          },
          "min_probability_change_pct": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum probability change percentage — for probability_spike"
          },
          "timeframes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Timeframes to track (e.g. [\"1m\", \"5m\", \"1h\", \"24h\", \"7d\", \"30d\"]) — for metrics webhooks"
          },
          "milestone_amounts": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Milestone amounts to trigger on (USD) — for volume_milestone webhooks"
          },
          "baseline_volume_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "User-defined baseline volume for spike detection (USD) — for volume_spike"
          },
          "spike_ratio": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Spike ratio multiplier (must be > 1.0) — for volume_spike. E.g. 2.0 for 2x baseline"
          },
          "exclude_shorterm_market_timeframes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Exclude short-term trading markets by timeframe pattern (e.g. [\"5m\", \"15m\"])"
          }
        }
      },
      "WebhookListResponseBody": {
        "type": "object",
        "description": "List webhooks response",
        "required": [
          "webhooks",
          "total"
        ],
        "properties": {
          "webhooks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookResponse"
            },
            "description": "List of webhooks"
          },
          "total": {
            "type": "integer",
            "description": "Total count",
            "minimum": 0
          }
        }
      },
      "WebhookResponse": {
        "type": "object",
        "description": "Webhook response (returned from API)",
        "required": [
          "id",
          "url",
          "event",
          "status",
          "created_at",
          "updated_at",
          "has_secret"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique webhook ID"
          },
          "url": {
            "type": "string",
            "description": "Destination URL"
          },
          "event": {
            "$ref": "#/components/schemas/PolymarketWebhookEvent",
            "description": "Subscribed event"
          },
          "filters": {
            "$ref": "#/components/schemas/PolymarketWebhookFilter",
            "description": "Active filters (omitted when no filters are set)"
          },
          "status": {
            "type": "string",
            "description": "Current status: \"active\", \"paused\", or \"disabled\""
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Created timestamp (ms)"
          },
          "updated_at": {
            "type": "integer",
            "format": "int64",
            "description": "Updated timestamp (ms)"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Description/name"
          },
          "has_secret": {
            "type": "boolean",
            "description": "Whether an HMAC secret is configured"
          }
        }
      },
      "WebhookStatusBody": {
        "type": "string",
        "description": "Webhook status",
        "enum": [
          "active",
          "paused"
        ]
      },
      "WebhookTestResponseBody": {
        "type": "object",
        "description": "Test webhook response",
        "required": [
          "success",
          "duration_ms"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the test delivery succeeded"
          },
          "status_code": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "HTTP status code from the endpoint",
            "minimum": 0
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "description": "Error message if failed"
          },
          "duration_ms": {
            "type": "integer",
            "format": "int64",
            "description": "Delivery duration in milliseconds",
            "minimum": 0
          }
        }
      },
      "WhaleTradePayload": {
        "type": "object",
        "description": "Whale trade webhook payload",
        "required": [
          "trader",
          "taker",
          "position_id",
          "trade_id",
          "hash",
          "block",
          "confirmed_at",
          "amount_usd",
          "shares_amount",
          "fee",
          "side",
          "price",
          "exchange",
          "trade_type"
        ],
        "properties": {
          "trader": {
            "type": "string",
            "description": "Trader address (the limit-order maker)"
          },
          "taker": {
            "type": "string",
            "description": "Taker address (the order filler — often the exchange contract)"
          },
          "position_id": {
            "type": "string",
            "description": "Position ID (ERC1155 token ID)"
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID"
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name (e.g. \"Yes\", \"No\")"
          },
          "outcome_index": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Outcome index (0 = Yes, 1 = No)",
            "minimum": 0
          },
          "question": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market question"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market slug"
          },
          "event_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Event slug"
          },
          "trade_id": {
            "type": "string",
            "description": "Trade ID"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "Block number",
            "minimum": 0
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Confirmed timestamp (Unix seconds)",
            "minimum": 0
          },
          "amount_usd": {
            "type": "number",
            "format": "double",
            "description": "USD size of the trade"
          },
          "shares_amount": {
            "type": "number",
            "format": "double",
            "description": "Outcome shares traded"
          },
          "fee": {
            "type": "number",
            "format": "double",
            "description": "Fee paid (USD)"
          },
          "side": {
            "type": "string",
            "description": "Trade side (\"Buy\" or \"Sell\")"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Price per share (0.0–1.0)"
          },
          "probability": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Implied probability of the event (0.0–1.0); None when outcome is unknown"
          },
          "exchange": {
            "type": "string"
          },
          "trade_type": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Webhooks",
      "description": "Webhook subscription management (CRUD operations)"
    },
    {
      "name": "Webhook Callbacks",
      "description": "Outgoing HTTP calls to your endpoints when subscribed events occur"
    }
  ],
  "webhooks": {
    "first-trade": {
      "post": {
        "summary": "First trade callback",
        "description": "Fired when a tracked trader executes their first trade on a market",
        "operationId": "first-trade",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FirstTradePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    },
    "new-market": {
      "post": {
        "summary": "New market entry callback",
        "description": "Fired when a trader places their first trade in a specific market/condition (fires once per trader+market pair)",
        "operationId": "new-market",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewMarketPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    },
    "whale-trade": {
      "post": {
        "summary": "Whale trade callback",
        "description": "Fired when a trade exceeds the configured USD threshold within the configured probability range (e.g. >$10k between 5–95% probability). Requires `min_usd_value` in the subscription filter.",
        "operationId": "whale-trade",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhaleTradePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    },
    "global-pnl": {
      "post": {
        "summary": "Global PnL callback",
        "description": "Fired when a trader's global PnL crosses a configured threshold",
        "operationId": "global-pnl",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GlobalPnlPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    },
    "market-pnl": {
      "post": {
        "summary": "Market PnL callback",
        "description": "Fired when a trader's market-level PnL crosses a configured threshold",
        "operationId": "market-pnl",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarketPnlPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    },
    "event-pnl": {
      "post": {
        "summary": "Event PnL callback",
        "description": "Fired when a trader's event-level PnL crosses a configured threshold",
        "operationId": "event-pnl",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventPnlPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    },
    "market-metrics": {
      "post": {
        "summary": "Market metrics callback",
        "description": "Fired when a market's volume or transaction metrics cross a configured threshold",
        "operationId": "market-metrics",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConditionMetricsPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    },
    "event-metrics": {
      "post": {
        "summary": "Event metrics callback",
        "description": "Fired when an event's volume or transaction metrics cross a configured threshold",
        "operationId": "event-metrics",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventMetricsPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    },
    "position-metrics": {
      "post": {
        "summary": "Position metrics callback",
        "description": "Fired when a position's volume or transaction metrics cross a configured threshold",
        "operationId": "position-metrics",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PositionMetricsPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    },
    "market-volume-milestone": {
      "post": {
        "summary": "Market volume milestone callback",
        "description": "Fired when a market's trading volume reaches a milestone threshold",
        "operationId": "market-volume-milestone",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VolumeMilestonePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    },
    "event-volume-milestone": {
      "post": {
        "summary": "Event volume milestone callback",
        "description": "Fired when an event's trading volume reaches a milestone threshold",
        "operationId": "event-volume-milestone",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventVolumeMilestonePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    },
    "position-volume-milestone": {
      "post": {
        "summary": "Position volume milestone callback",
        "description": "Fired when a position's trading volume reaches a milestone threshold",
        "operationId": "position-volume-milestone",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PositionVolumeMilestonePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    },
    "probability-spike": {
      "post": {
        "summary": "Probability spike callback",
        "description": "Fired when a position's probability changes by more than a configured percentage",
        "operationId": "probability-spike",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProbabilitySpikePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    },
    "volume-spike": {
      "post": {
        "summary": "Volume spike callback",
        "description": "Fired when a market's volume in a timeframe exceeds the user-defined baseline by the configured ratio (e.g. 2x baseline). Requires `baseline_volume_usd` and `spike_ratio` in the subscription filter.",
        "operationId": "volume-spike",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VolumeSpikePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    },
    "close-to-bond": {
      "post": {
        "summary": "Close to bond callback",
        "description": "Fired when a position's probability enters the bond zone (e.g. YES ≥ 95% or ≤ 5%). Requires `min_probability` and/or `max_probability` in the subscription filter.",
        "operationId": "close-to-bond",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloseToBondPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    },
    "market-created": {
      "post": {
        "summary": "Market created callback",
        "description": "Fired when a new prediction market is detected on-chain (ConditionPreparation event), enriched with Gamma API metadata. Filterable by `tags`, `condition_ids`, and `event_slugs`.",
        "operationId": "market-created",
        "tags": [
          "Webhook Callbacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarketCreatedPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook delivery acknowledged"
          },
          "500": {
            "description": "Server error (will retry)"
          }
        }
      }
    }
  }
}